
/*  ==========================================================================
    Obsidian Tabs Plugin (WIP)
    ========================================================================== */

    /* .plugin-tabs div.mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical > div.workspace-leaf,
    .plugin-tabs div.mod-root.workspace-split.mod-vertical > div.workspace-leaf {
        border: unset;
        border-radius: var(--border-radius-small);
    }

    .plugin-tabs .workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
        top: unset;
        right: unset;
    }

    .plugin-tabs:not(.tab-numbering) div.mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical:first-of-type > div.workspace-leaf > .workspace-leaf-content > .view-header .view-header-title::before,
    .plugin-tabs:not(.tab-numbering) div.mod-root.workspace-split.mod-vertical > div.workspace-leaf > .workspace-leaf-content > .view-header .view-header-title::before {
        background-color: var(--interactive-accent);
        color: var(--highlight-text-normal);
    }

    .plugin-tabs:not(.tab-numbering) div.mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical:first-of-type > div.workspace-leaf.stayopen .view-header-icon, .plugin-tabs:not(.tab-numbering) .mod-root.workspace-split.mod-vertical > div.workspace-leaf.stayopen .view-header-icon,
    .plugin-tabs:not(.tab-numbering) div.mod-root.workspace-split.mod-vertical .workspace-split.mod-vertical:first-of-type > div.workspace-leaf.mod-active .view-header-icon,
    .plugin-tabs:not(.tab-numbering) div.mod-root.workspace-split.mod-vertical > div.workspace-leaf.mod-active .view-header-icon {
        background-color: transparent;
        color: var(--highlight-text-normal);
    } */