/* #region  [UI] Animations */
body:not(.pt-disable-animations) {
	@keyframes iconEnlargeIcon {
		0% {
			transform: translateY(0);
		}
		50% {
			stroke-width: 3px;
			transform: scale(1.128);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes iconEnlargeText {
		0% {
			transform: translateY(0);
		}
		50% {
			stroke-width: 3px;
			transform: scale(1.058);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes iconEnlargeHold {
		0% {
			transform: translateY(0);
		}
		100% {
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
			transform: scale(1.02);
		}
	}

	@keyframes iconShrinkHold {
		0% {
			transform: translateY(0);
		}
		100% {
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
			transform: scale(0.972);
		}
	}

	@keyframes iconEnlargeHoldDropdown {
		0% {
			transform: translateY(0);
		}
		25% {
			background-position-y: 70%;
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
		}
		50% {
			background-position-y: 60%;
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
		}
		75% {
			background-position-y: 70%;
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
		}
		100% {
			background-position-y: 60%;
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
		}
	}

	@keyframes iconEnlargeHoldBold {
		0% {
			transform: translateY(0);
		}
		100% {
			font-weight: 500;
			box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
			transform: scale(1.02);
		}
	}

	@keyframes floatIconUp {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-3px);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes floatIconDown {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(3px);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes floatIconRight {
		0% {
			transform: translateX(0);
		}
		50% {
			filter: drop-shadow(5px 0 2px rgb(0 0 0 / 10%));
			transform: translateX(-3px);
		}
		100% {
			transform: translateX(0);
		}
	}

	@keyframes floatIconRightCheckbox {
		0% {
			transform: translateX(20px);
		}
		50% {
			filter: drop-shadow(5px 0 2px rgb(0 0 0 / 10%));
			transform: translateX(17px);
		}
		100% {
			transform: translateX(20px);
		}
	}

	@keyframes floatIconLeft {
		0% {
			transform: translateX(0);
		}
		50% {
			filter: drop-shadow(-5px 0 2px rgb(0 0 0 / 10%));
			transform: translateX(3px);
		}
		100% {
			transform: translateX(0);
		}
	}

	@keyframes floatIconDownIndicator {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(2px);
		}
		100% {
			transform: translateY(0);
		}
	}

	@keyframes floatIconRightIndicator {
		0% {
			transform: rotate(-90deg) translateY(0);
		}
		50% {
			transform: rotate(-90deg) translateY(2px);
		}
		100% {
			transform: rotate(-90deg) translateY(0);
		}
	}

	.horizontal-tab-nav-item:hover,
	.vertical-tab-nav-item:hover {
		animation-name: iconEnlargeHoldBold;
		animation-duration: 0.15s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.workspace-ribbon-collapse-btn[aria-label-position="right"]:hover svg {
		animation-name: floatIconRight;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.workspace-ribbon-collapse-btn[aria-label-position="left"]:hover svg {
		animation-name: floatIconLeft;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.setting-add-hotkey-button:hover svg,
	.clickable-icon:hover svg,
	.view-action:hover svg,
	.view-header-icon:hover svg,
	.nav-action-button:hover svg,
	.side-dock-ribbon-action:hover svg,
	.workspace-tab-header:hover svg,
	.graph-controls-button:hover svg,
	.kanban-plugin__lane-settings-button:hover svg,
	.kanban-plugin__item-postfix-button:hover svg,
	.modal-close-button:hover,
	.popover-action:hover svg,
	.popover-header-icon:hover svg {
		animation-name: iconEnlargeIcon;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.workspace-leaf-content[data-type="calendar"] {
		.arrow:not(.right):hover svg {
			animation-name: floatIconRight;
			animation-duration: 0.25s;
			animation-iteration-count: 2;
		}

		.arrow.right:hover svg {
			animation-name: floatIconRight;
			animation-duration: 0.25s;
			animation-iteration-count: 2;
		}

		.reset-button:hover {
			animation-name: iconEnlargeText;
			animation-duration: 0.25s;
			animation-iteration-count: 2;
		}

		.day:hover {
			animation-name: iconEnlargeHoldBold;
			animation-duration: 0.15s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}

	.flatpickr-prev-month:hover svg {
		animation-name: floatIconRight;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.flatpickr-next-month:hover svg {
		animation-name: floatIconLeft;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.side-dock-ribbon-action.separator:not(.is-collapsed):hover svg {
		animation-name: floatIconUp;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.side-dock-ribbon-action.separator.is-collapsed:hover svg {
		animation-name: floatIconDown;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.style-settings-heading.is-collapsed:hover .style-settings-collapse-indicator svg,
	.nav-files-container .nav-folder.is-collapsed > .nav-folder-title:hover .nav-folder-collapse-indicator svg,
	.outgoing-link-pane .tree-item-self.is-collapsed:hover > .collapse-icon svg,
	.backlink-pane .tree-item-self.is-collapsed:hover > .collapse-icon svg,
	.search-result-container .tree-item.is-collapsed .tree-item-self:hover > .collapse-icon svg,
	.outline .tree-item.is-collapsed > .tree-item-self:hover > .collapse-icon > svg,
	.workspace-leaf-content[data-type="dictionary-view"] .contents .main .opener:not(.open):hover svg,
	.callout.is-collapsed .callout-title:hover .callout-fold svg,
	.tree-item.graph-control-section .tree-item-self:hover .tree-item-icon.collapse-icon svg {
		animation-name: floatIconDownIndicator;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.style-settings-heading:not(.is-collapsed):hover .style-settings-collapse-indicator svg,
	.nav-files-container .nav-folder:not(.is-collapsed) > .nav-folder-title:hover > .nav-folder-collapse-indicator.collapse-icon svg,
	.outgoing-link-pane .tree-item-self:not(.is-collapsed):hover > .collapse-icon svg,
	.backlink-pane .tree-item-self:not(.is-collapsed):hover > .collapse-icon svg,
	.search-result-container .tree-item:not(.is-collapsed) .tree-item-self:hover > .collapse-icon svg,
	.outline .tree-item:not(.is-collapsed) > .tree-item-self:hover > .collapse-icon > svg,
	.workspace-leaf-content[data-type="dictionary-view"] .contents .main .opener.open:hover svg,
	.callout:not(.is-collapsed) .callout-title:hover .callout-fold svg,
	.tree-item.graph-control-section:not(.is-collapsed) .tree-item-self:hover .tree-item-icon.collapse-icon svg,
	.workspace-leaf-content[data-type="dangling-links"] .view-content details[open] summary::marker {
		animation-name: floatIconRightIndicator;
		animation-duration: 0.25s;
		animation-iteration-count: 2;
	}

	.titlebar-button {
		&.mod-back:hover svg {
			animation-name: floatIconRight;
			animation-duration: 0.25s;
			animation-iteration-count: 2;
		}

		&.mod-forward:hover svg {
			animation-name: floatIconLeft;
			animation-duration: 0.25s;
			animation-iteration-count: 2;
		}
	}

	.nav-file-title:hover,
	.nav-folder-title:not([data-path="/"]):hover,
	.tree-item-self:not(.search-result-file-title, [aria-label="Click to collapse"], [aria-label="Click to expand"]):hover,
	.community-theme:hover,
	.community-plugin-item:hover,
	.search-result-file-match:hover,
	.kanban-plugin__item:hover,
	.kanban-plugin__new-item-button:hover,
	.workspace-leaf-content[data-type="dangling-links"] li:hover,
	div#quick-explorer .explorable:hover,
	.setting-item-control input.slider:hover {
		overflow: visible;
		animation-name: iconEnlargeHold;
		animation-duration: 0.15s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.graph-control-section .tree-item-self:hover {
		animation: unset;
	}

	.nav-folder-title[data-path="/"]:hover .nav-folder-collapse-indicator.collapse-icon {
		animation-name: iconEnlargeIcon;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.modal button:hover,
	.graph-controls button:hover,
	.search-result-file-match-destination-file:hover,
	button.kanban-plugin__confirm-action-button:hover,
	button.kanban-plugin__cancel-action-button:hover {
		animation-name: iconShrinkHold;
		animation-duration: 0.15s;
		animation-iteration-count: 1;
		animation-direction: alternate;
		animation-fill-mode: forwards;
	}

	.checkbox-container.is-enabled:hover::after {
		animation-name: floatIconRightCheckbox;
		animation-duration: 0.3s;
		animation-iteration-count: 2;
	}

	.checkbox-container:not(.is-enabled):hover::after {
		animation-name: floatIconLeft;
		animation-duration: 0.3s;
		animation-iteration-count: 2;
	}

	.dropdown:hover {
		animation-name: iconEnlargeHoldDropdown;
		animation-duration: 0.6s;
		animation-iteration-count: 1;
		animation-direction: alternate;
		animation-fill-mode: forwards;
	}

	.workspace-tab-header,
	.view-header,
	.nav-file-title:not([data-path="/"]),
	.nav-folder-title:not([data-path="/"]) {
		transition: all ease 200ms;
	}
}
/* #endregion */
