/* #region  [User Interface] Document Search */
.document-search-container {
	padding: var(--size-4-1) 0;
	margin: unset;
	border-bottom: 1px solid var(--window-border);

	.theme-light & {
		background-color: var(--background-tertiary);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}

	.document-search-input.mod-no-match {
		background-color: var(--color-red-base);
		border: 2px solid var(--color-red-tint);
	}
}
/* #endregion */
