/* #region  [User Interface] Document Search */
.document-search-container {
	padding: 4px;
	border-top: 1px solid var(--window-border);
	border-radius: var(--border-radius);

	.theme-light & {
		background-color: var(--background-tertiary);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}

	.document-search-input,
	.document-search-input:focus {
		background-color: var(--background-primary);
		border: 1px solid var(--window-border);

		&.mod-no-match {
			background-color: var(--color-red-base);
			border: 1px solid var(--color-red-tint);
		}
	}

	.document-search-close-button {
		top: 5px;
		margin: 0 4px;
	}

	.document-search-button {
		background-color: var(--color-grey-base);

		&:hover {
			color: var(--color-grey-tint);
		}
	}
}
/* #endregion */
