/* #region  [UI] Empty State */
.search-empty-state,
.workspace-leaf-content[data-type="markdown"] .pane-empty {
	padding: 5px 10px;
	margin: unset;
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.pane-empty {
	width: unset;
	max-width: 200px;
	padding-left: 8px;
	margin: unset;
	text-align: left;
	word-wrap: break-word;
}
/* #endregion */
