/* #region  [UI] Empty State */
.search-empty-state,
.workspace-leaf-content[data-type="markdown"] .pane-empty {
	padding: 5px 10px;
	margin: unset;
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.pane-empty {
	width: unset;
	max-width: 200px;
	padding-left: 8px;
	margin: unset;
	text-align: left;
	word-wrap: break-word;
}

.empty-state-container {
	width: fit-content;
	padding: 16px 28px;
	background-color: var(--background-secondary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	.empty-state-title {
		margin: 8px 0;
		font-size: 28px;

		&:first-child {
			display: block;
		}

		.empty-state-close-button {
			position: absolute;
			top: -20px;
			right: -24px;
			left: unset;
		}
	}

	.empty-state-action {
		color: var(--interactive-accent-text);

		&:hover {
			color: var(--interactive-accent-hover);
		}

		.is-mobile & {
			border-radius: var(--border-radius);
		}
	}

	.empty-state-action-list {
		margin-top: 8px;
	}
}
/* #endregion */
