/* #region  [UI] Input Containers */
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
	background-color: var(--background-primary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	&:hover {
		background-color: var(--background-primary);
	}
	&:active,
	&:focus {
		border-color: var(--interactive-accent-tint);
	}

	&::placeholder {
		color: var(--text-muted);
	}

	&:hover::placeholder,
	&:focus::placeholder {
		color: var(--text-faint);
	}

	// .modal &,
	// .mod-settings &,
	// .workspace-leaf-content[data-type="style-settings"] & {
	// 	max-width: 208px;
	// }
}

.is-mobile textarea {
	width: 100%;
}

input[type="range"] {
	width: 125px;
	height: 0.7em;
	background-color: var(--background-secondary-alt);
	border: 1px solid var(--window-border);
	box-shadow: var(--drop-shadow);

	div.style-settings-container & {
		background-color: var(--background-secondary);
	}

	&:hover {
		background-color: var(--interactive-accent-base);
	}

	&::-webkit-slider-thumb {
		width: 8px;
		height: 20px;
		margin-top: -4px;
		border-radius: var(--border-radius-small);
		box-shadow: var(--drop-shadow);
		-webkit-appearance: none;

		.theme-light & {
			background-color: var(--background-primary);
			border: 2px solid var(--interactive-accent-tint);
		}

		.theme-dark & {
			background-color: var(--table-border-color);
			border: 2px solid var(--interactive-accent-tint);
		}
	}
}
/* #endregion */
