/* #region  [UI] Input Containers */
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"] {
	border: 0px;
	background-color: var(--background-primary);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.mod-settings,
.workspace-leaf-content[data-type="style-settings"] {
	input[type="text"],
	input[type="search"],
	input[type="email"],
	input[type="password"],
	input[type="number"] {
		max-width: 208px;
	}
}

input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover {
	background-color: var(--background-primary);
}

input[type="text"]::placeholder,
input[type="search"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
	color: var(--text-muted);
}

input[type="text"]:hover::placeholder,
input[type="search"]:hover::placeholder,
input[type="email"]:hover::placeholder,
input[type="password"]:hover::placeholder,
input[type="number"]:hover::placeholder,
textarea:hover::placeholder,
input[type="text"]:focus::placeholder,
input[type="search"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="number"]:focus::placeholder,
textarea:focus::placeholder {
	color: var(--text-faint);
}

.theme-light input[type="range"],
.theme-dark input[type="range"] {
	background-color: var(--background-secondary-alt);
	box-shadow: var(--drop-shadow);
}

input[type="range"]:hover {
	background-color: var(--interactive-accent);
}

.theme-light .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 5px solid var(--background-primary);
	height: 14px;
	width: 14px;
	margin-top: -1px;
	border-radius: var(--border-radius-small);
	background-color: var(--highlight-text-dark);
	box-shadow: var(--drop-shadow);
}

.theme-dark .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 5px solid var(--color-grey);
	height: 14px;
	width: 14px;
	margin-top: -1px;
	border-radius: var(--border-radius-small);
	background-color: var(--text-normal);
	box-shadow: var(--drop-shadow);
}
/* #endregion */
