// [UI] Mobile Adjustments
body.is-mobile {
	--toggle-thumb-height: 18px;
	--toggle-thumb-width: 18px;
	--toggle-border-width: 1px;
	--toggle-width: 42px;
	--toggle-s-thumb-height: 14px;
	--toggle-s-thumb-width: 14px;
	--toggle-s-border-width: 4px;

	--toggle-radius: var(--size-4-1);
	--toggle-thumb-radius: 3px;

	--slider-thumb-radius: var(--size-4-1);
	--slider-thumb-width: 10px;
	--slider-thumb-y: -7px;

	--input-border-width: 1px;

	--nav-item-color: var(--text-muted);

	--font-ui-large: calc(var(--font-text-size) * 1.1);

	--prompt-max-height: 80vh;

	// 50px added to account for the overlaping mobile navbar
	--file-margins: var(--size-4-4) var(--size-4-5) calc(var(--size-4-4) + 50px) var(--size-4-5);

	&.theme-light {
		.workspace-leaf-content,
		.workspace-drawer-tab-options {
			background-color: var(--background-primary);
		}
	}

	&.theme-dark {
		.workspace-leaf-content,
		.workspace-drawer-tab-option,
		.community-modal-info {
			background-color: var(--background-secondary-alt);
		}

		.modal.mod-settings {
			.vertical-tab-header-group-items,
			.vertical-tab-content {
				background-color: var(--background-secondary-alt);
			}
		}

		.prompt,
		.prompt input.prompt-input {
			background-color: var(--background-secondary-alt);
		}
	}

	&.is-phone {
		&.theme-light {
			.vertical-tab-header {
				background-color: var(--background-primary);
			}
		}

		&.theme-dark {
			.community-modal-details,
			.modal.mod-settings .vertical-tab-nav-item,
			.modal.mod-settings .vertical-tab-header {
				background-color: var(--background-secondary-alt);
			}
		}

		.modal.mod-settings {
			.vertical-tab-header::before,
			.vertical-tab-header::after,
			.vertical-tab-content-container::before {
				display: none;
			}

			.vertical-tab-content {
				padding: var(--size-4-3) var(--size-4-3) calc(var(--safe-area-inset-bottom) + var(--size-4-4)) var(--size-4-3);
			}

			.vertical-tab-nav-item {
				height: 42px;
			}
		}

		.menu.mod-tab-list .menu-item-title {
			max-width: unset;
		}

		.view-header-title-parent,
		.view-header-title {
			opacity: 1;
		}

		.vertical-tab-content {
			height: 100%;
		}

		.prompt {
			--prompt-bottom: var(--size-4-2);

			margin-right: var(--size-4-2);
			margin-left: var(--size-4-2);
			border-radius: var(--radius-m);
		}

		.community-modal-controls {
			background-color: var(--background-secondary);
		}

		.setting-item-control input {
			width: calc(100% - var(--size-4-2));
			margin: var(--size-4-1);
		}

		.modal.mod-sidebar-layout .modal-title {
			border-bottom: var(--window-border);
		}

		.community-modal-search-results {
			gap: var(--size-4-2);
			padding: var(--size-4-2);
		}

		.community-item {
			border-width: var(--border-width);
			border-radius: var(--radius-m);
		}

		// hides this div which appears to the right of the search box in the Command Pallete. Don't know what it's for.
		.prompt-input-cta {
			display: none;
		}

		.prompt-input[type=text] {
			border: 1px solid var(--window-border-color);
		}

		.setting-item-heading {
			margin-top: var(--size-4-1);
		}

		.setting-item {
			padding: var(--size-4-2);

			&:not(.mod-toggle):not(.setting-item-heading) .setting-item-control {
				margin-top: unset;
			}
		}

		// Style Settings colour picker
		.pickr {
			width: 100%;
		}

		// Fixes the alignment of the Settings search box
		.modal.mod-sidebar-layout .search-input-container {
			height: unset;
		}

		// The default offset does not account for the margin
		.search-input-container:before {
			top: calc((var(--input-height) - var(--search-icon-size) + var(--size-4-2)) / 2);
		}
	}

	&.is-tablet {
		.modal.mod-sidebar-layout .modal-setting-back-button {
			display: none;
		}

		&.theme-dark {
			--titlebar-background: var(--background-secondary);
			--titlebar-background-focused: var(--background-secondary);
		}

		.workspace-drawer-ribbon {
			display: flex;
			flex-flow: column;
		}

		.sidebar-toggle-button {
			--icon-color: var(--text-muted);
		}
	}

	.workspace-drawer-header-icon.mod-pin,
	.workspace-drawer-active-tab-header .workspace-drawer-active-tab-back-icon,
	.workspace-drawer-active-tab-header .workspace-drawer-active-tab-icon:last-child {
		border-radius: var(--radius-m);

		&:hover {
			color: var(--highlight-text-normal);
			background-color: var(--background-modifier-hover);
		}
	}

	// Workspace Adjustments
	.workspace-drawer {
		background-color: var(--background-secondary);
		border-radius: var(--radius-m);
		padding-top: unset;

		.nav-header {
			border-top: unset;
		}
		.workspace-drawer-actions,
		.nav-buttons-container {
			overflow: visible;
    		flex-wrap: wrap;
		}

		&:not(.is-pinned) {
			margin: calc(var(--safe-area-inset-top) + var(--size-4-2)) var(--size-4-2) calc(var(--safe-area-inset-bottom) + var(--size-4-2));
			border: var(--window-border);
		}

		&.is-pinned .workspace-drawer-header {
			padding-top: var(--size-4-2);
		}

		.side-dock-settings {
			padding: var(--size-4-2) 0;
		}
	}

	.nav-buttons-container {
		--icon-color: var(--text-muted);
		gap: var(--size-4-4);
	}

	.workspace-drawer-ribbon {
		background-color: var(--background-secondary);
		border-right: var(--window-border);
	}

	.workspace-drawer-header {
		padding: var(--size-4-2) var(--size-4-5);
		background-color: var(--background-secondary);
		border-bottom: var(--window-border);
		align-items: center;
	}

	.workspace-drawer-active-tab-header {
		padding: var(--size-4-3) var(--size-4-5);
		margin: unset;
		border-radius: unset;
		background-color: unset;
		border-bottom: var(--window-border);
	}

	.workspace-drawer-header-icon,
	.workspace-drawer-active-tab-back-icon,
	.workspace-drawer-active-tab-icon:last-child {
		color: var(--text-muted);
	}

	.mod-right {
		.workspace-drawer-header-name {
			margin-top: var(--size-4-2);
		}

		.workspace-drawer-header {
			padding: var(--size-4-1) var(--size-4-5);
		}
	}

	.workspace-drawer-header-info {
		margin: var(--size-4-1) 0;
	}

	.suggestion-container,
	.menu {
		background-color: var(--background-secondary-blur);
		-webkit-backdrop-filter: blur(var(--blur-intensity));
		backdrop-filter: blur(var(--blur-intensity));
		border: var(--window-border);
		border-radius: var(--radius-m);
	}

	.modal {
		border: var(--window-border);

		&.mod-settings {
			.vertical-tab-nav-item {
				border-bottom: var(--accent-border-width) solid transparent;
				border-radius: var(--radius-m);
			}

			.vertical-tab-header-group-items {
				border-radius: unset;
			}
		}

		&.mod-sidebar-layout .modal-title {
			background-color: var(--background-secondary);
		}

		&.mod-community-modal {
			.setting-item:not(.mod-toggle) {
				max-width: var(--modal-community-sidebar-width);

				.setting-item-control {
					flex-direction: column;

					button {
						width: 100%;
					}
				}
			}
		}
	}

	.vertical-tab-header-group {
		width: 100%;
	}

	.vertical-tab-header-group-title {
		padding-bottom: var(--size-4-2);

		&:first-of-type {
			margin-top: -1px;
		}
	}

	.view-header-nav-buttons,
	.view-header .view-action {
		--icon-color: var(--text-muted);
	}

	.view-header-title-container {
		padding-left: unset;
	}

	.metadata-properties-heading {
		padding: var(--size-4-2);
	}
}

.mobile-toolbar {
	padding: var(--size-4-1);
	background-color: var(--background-secondary);
	border-top: var(--window-border);
}

// Padding fix for Commander due to forced height
.AT-multirow .mobile-toolbar {
	padding: 0 var(--size-4-1);
}

.mobile-toolbar-options-container {
	padding: unset;
}

.mobile-toolbar-option :hover {
	color: var(--interactive-accent-tint);
}

.mobile-navbar {
	background: var(--background-secondary-blur);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
	border-top: var(--window-border);
}

.mobile-navbar-actions {
	--icon-color: var(--text-muted);
}
