/* #region  [UI] Mobile Toolbar */
.mobile-toolbar {
	position: absolute;
	bottom: 0;
	z-index: var(--layer-cover);
	display: flex;
	align-self: center;
	width: fit-content;
	max-width: -webkit-fill-available;
	max-width: fill-available;
	height: unset;
	margin: 4px;
	background-color: unset;
	border: unset;
}

.mobile-toolbar-options-container {
	padding: unset;
	background-color: var(--background-secondary-blur);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}
/* #endregion */
