/* #region  [UI] Nav File/Folder Container */
.nav-folder .nav-folder-title-content {
	font-variation-settings: 'wght' 600;
	color: var(--text-normal);
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder {
	border: 0px;
	margin-left: unset;
}

.nav-folder.mod-root {
	border-left: 0px;
	border: 0px;
	margin-right: 10px;
	background-color: var(--background-secondary);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.nav-folder.mod-root > .nav-file-title,
.nav-folder.mod-root > .nav-folder-title {
	padding-left: 4px;
}

.nav-file-title,
.nav-folder-title {
	border-radius: var(--border-radius-small);
}

.nav-folder:not(.is-collapsed) > div.nav-folder-title:not([data-path="/"]) .nav-folder-collapse-indicator {
	color: var(--interactive-accent-text);
}

.nav-folder > div.nav-folder-title:hover .nav-folder-title-content {
	color: var(--interactive-accent-text);
}

.nav-folder > div.nav-folder-title:hover .nav-folder-collapse-indicator.collapse-icon svg {
	color: var(--interactive-accent-hover);
}

.nav-file-title {
	font-weight: normal;
	border: 0px;
	border-radius: 0px;
}

.nav-file-title-content:not(.is-being-renamed),
.nav-folder-title-content:not(.is-being-renamed) {
	// overflow: hidden;
	// text-overflow: ellipsis;
}

.nav-file-title-content.is-being-renamed,
.nav-folder-title-content.is-being-renamed {
	background-color: unset;
}

.nav-file-title-content,
.nav-folder-title-content {
	word-wrap: break-word;
	white-space: pre-wrap;
}

.nav-file-title.is-active {
	font-variation-settings: 'wght' 600;
	padding: 0px;
	border-radius: var(--border-radius);
}

.nav-file-title.is-active,
.nav-folder-title.is-active,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
	color: var(--interactive-accent-text);
	border-radius: var(--border-radius-small);
	background-color: var(--background-primary);
	border: var(--border-size) solid var(--background-primary);
	font-variation-settings: 'wght' 600;
}

/* Adjusting padding to dynamically center the drop-down icon withe the vertical lines */
.nav-file-title:not([data-path="/"]),
.nav-folder-title:not([data-path="/"]) {
	padding: 2px 5px 2px 1px;
	line-height: 14px;
	/* min-height: 26px; */
	max-width: -webkit-fill-available;
	border: var(--border-size) solid transparent;
}

/* Tweaks the line height to keep it in the same height as the normal text */
.nav-folder-title.is-active:not([data-path="/"]),
.nav-file-title.is-active:not([data-path="/"]),
.nav-folder-title:not([data-path="/"]):hover,
.nav-file-title:not([data-path="/"]):hover {
	line-height: 14px;
}

.nav-folder.mod-root > .nav-folder-children > .nav-file > .nav-file-title:not(.is-active) {
	border-left: transparent;
}

.nav-file-title,
.nav-folder-title {
	padding: 1px 5px 1px calc(var(--file-explorer-vertical-lines-width) / 2 + 1px);
}

.nav-folder-title-content {
	padding: 1px 4px;
}

/* Tweaks the line height to keep it in the same height as the normal text */
.nav-file-title.is-active:hover {
	line-height: 14px;
}

.nav-file-title-content {
	padding: 2px 5px 2px 0px;
	font-variation-settings: 'wght' 600;
}

.nav-folder-collapse-indicator {
	width: 16px;
	margin-left: unset;
}

/* Adjusting the spacing for the files that include the file tag */
.workspace-leaf-content[data-type="file-explorer"] .nav-file-title:not([data-path$="md"]) .nav-file-title-content {
	padding-left: 0px;
}

.nav-file-tag {
	padding: 0px 5px;
	margin: 0px 5px 0px 7px;
	background-color: var(--background-secondary-alt);
	border: var(--border-size) solid var(--background-secondary-alt);
}

.nav-file-title.is-active .nav-file-tag,
.nav-file-title:hover .nav-file-tag {
	background-color: var(--background-secondary);
	color: var(--text-muted);
}

/* Horizontally centers the collapse icon in it's parent in the File Tree */
.collapse-icon {
	justify-content: center;
}
/* #endregion */
