/* #region  [UI] File Preview Popover */
.popover {
	background-color: var(--page-background-color);
	box-shadow: var(--shadow-l);

	&.hover-popover {
		border: 1px solid var(--window-border);
	}
}

:is(.markdown-embed-link, .file-embed-link) {
	right: 12px;
}
/* #endregion */

/* #region  [UI] Menu Popup */
.menu {
	background: var(--background-secondary-blur);
	border-color: var(--window-border);
	box-shadow: var(--shadow-l);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}
/* #endregion */

/* #region  [UI] Notification Popup */
div.notice-container div.notice {
	font-weight: 600;
	color: var(--text-normal);
	background: var(--interactive-accent-base);
	border: 2px solid var(--interactive-accent-tint);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow-s);
}
/* #endregion */

/* #region  [UI] Suggestion Popup */
.prompt-instructions {
	padding-bottom: unset;
}
/* #endregion */

/* #region  [UI] Tooltip Popup */
.tooltip {
	display: flex;
	font-weight: 600;
	color: var(--text-normal);
	background: var(--background-secondary);
	border: 1px solid var(--window-border);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow-l);

	.tooltip-arrow {
		margin-top: -1px;
		border-bottom-color: var(--window-border);
	}

	&.mod-top .tooltip-arrow {
		margin-top: unset;
		margin-top: 1px;
		border-top-color: var(--window-border);
	}

	&.mod-right .tooltip-arrow {
		margin-top: unset;
		margin-left: -6px;
		border-right-color: var(--window-border);
	}

	&.mod-left .tooltip-arrow {
		margin-top: unset;
		margin-left: -2px;
		border-left-color: var(--window-border);
	}

	&.mod-error {
		color: var(--highlight-text-normal);
		background-color: var(--color-red-base);
		border-color: var(--color-red-tint);
	}
}
/* #endregion */

/* #region  [UI] Drag Ghost */
.drag-ghost {
	background: var(--background-secondary);
	border: 2px solid var(--window-border);
	box-shadow: var(--shadow-l);
	animation: pop-down 200ms forwards ease-in-out;
}
/* #endregion */
