// [UI] File Preview Popover
.popover {
	box-shadow: var(--shadow-l);

	.theme-light & {
		background-color: var(--background-primary);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}

	&.hover-popover {
		border: var(--window-border);
	}
}

// [UI] Menu Popup
.menu {
	padding: var(--size-4-1);
	background: var(--background-secondary);
	border-color: var(--window-border-color);
	box-shadow: var(--shadow-l);
}

.menu-item.selected:not(.is-disabled):not(.is-label):not(.is-warning) {
	color: var(--highlight-text-normal);

	.menu-item-icon {
		color: var(--highlight-text-normal);
	}
}

body.is-mobile.is-tablet .suggestion-container,
body.is-mobile.is-tablet .menu {
	width: fit-content;
}

body.is-mobile.theme-dark .menu,
.is-tablet.theme-dark .suggestion-container {
	background-color: var(--background-secondary-alt);
}

// [UI] Notification Popup
div.notice-container div.notice {
	font-weight: 600;
	color: var(--text-normal);
	background: var(--interactive-accent-base);
	border: 2px solid var(--interactive-accent-tint);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow-s);
}

// [UI] Suggestion Popup
.prompt-instructions {
	padding-bottom: unset;
}

// [UI] Tooltip Popup
.tooltip {
	display: flex;
	font-weight: 600;
	color: var(--text-normal);
	background: var(--background-secondary-alt);
	border: 1px solid var(--window-border-color);
	border-radius: var(--radius-m);
	box-shadow: var(--shadow-l);

	.theme-light & {
		background: var(--background-primary);
	}

	.theme-dark & {
		background: var(--background-secondary-alt);
	}

	.tooltip-arrow {
		margin-top: -1px;
		border-bottom-color: var(--window-border-color);
	}

	&.mod-top .tooltip-arrow {
		margin-top: unset;
		margin-top: 1px;
		border-top-color: var(--window-border-color);
	}

	&.mod-right .tooltip-arrow {
		margin-top: unset;
		margin-left: -6px;
		border-right-color: var(--window-border-color);
	}

	&.mod-left .tooltip-arrow {
		margin-top: unset;
		margin-left: -2px;
		border-left-color: var(--window-border-color);
	}

	&.mod-error {
		color: var(--highlight-text-normal);
		background-color: var(--color-red-base);
		border-color: var(--color-red-tint);
	}
}

// [UI] Drag Ghost
.drag-ghost {
	background: var(--background-secondary);
	border: 2px solid var(--window-border-color);
	box-shadow: var(--shadow-l);
	animation: pop-down 200ms forwards ease-in-out;
}