// [UI] Scrollbar Base
body:not(.native-scrollbars) {
	.kanban-plugin__scroll-container::-webkit-scrollbar,
	.prompt-results::-webkit-scrollbar,
	::-webkit-scrollbar {
		width: var(--scroll-bar-size);
		height: var(--scroll-bar-size);
		background-color: var(--background-secondary);
		border-radius: unset;

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:vertical {
			border-left: var(--window-border);
		}

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:horizontal {
			border-top: var(--window-border);
		}
	}

	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb,
	::-webkit-scrollbar-thumb {
		border: var(--window-border);
		border-radius: unset;
	}

	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb:active,
	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb:hover,
	::-webkit-scrollbar-thumb:active,
	::-webkit-scrollbar-thumb:hover {
		border-radius: unset;
	}

	::-webkit-scrollbar-corner {
		background-color: var(--window-border-color);
	}
}

::-webkit-scrollbar-track {
	margin-top: -1px;
	margin-bottom: -1px;
	box-shadow: unset;
}

.theme-light,
.theme-dark {
	div.suggestion-container .suggestion::-webkit-scrollbar-track {
		background-color: unset;
	}
}