/* #region  [UI] Scrollbar Base */
body:not(.native-scrollbars) {
	.kanban-plugin__scroll-container::-webkit-scrollbar,
	::-webkit-scrollbar {
		width: var(--scroll-bar-size);
		height: var(--scroll-bar-size);
		background: var(--scroll-button-background-color);
		border-right: 1px solid var(--window-border);
		border-left: 1px solid var(--window-border);
		border-radius: unset;
	}

	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb,
	::-webkit-scrollbar-thumb {
		margin: 0 1px;
		background-color: var(--scroll-bar-thumb) !important;
		border-radius: unset;
	}

	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb:active,
	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb:hover,
	::-webkit-scrollbar-thumb:active,
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--interactive-accent-base) !important;
		border-radius: unset;
	}
}

/* #endregion */

/* #region  [UI] Scrollbar Buttons */
// Scroll Button
.pt-scroll-button ::-webkit-scrollbar-button:single-button {
	width: var(--scroll-bar-size);
	height: var(--scroll-bar-size);
	background-color: var(--scroll-button-background-color);
	background-repeat: no-repeat;
	background-position: 50% 80%;
	background-size: calc(var(--scroll-bar-size) / 2);
	border-radius: 0;
}

// Scroll Button Up icon
.theme-light.pt-scroll-button ::-webkit-scrollbar-button:single-button:vertical:decrement,
.theme-light.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(0, 0, 0)'><polygon points='5,0 0,5 10,5'/></svg>");
}

.theme-dark.pt-scroll-button ::-webkit-scrollbar-button:single-button:vertical:decrement,
.theme-dark.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(255, 255, 255)'><polygon points='5,0 0,5 10,5'/></svg>");
}

.theme-dark.pt-scroll-button ::-webkit-scrollbar-button:single-button:hover,
.theme-dark.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:hover {
	background-color: var(--background-primary);
	border-radius: var(--border-radius-small);
}

// Scroll Button Down icon
.theme-light.pt-scroll-button ::-webkit-scrollbar-button:single-button:vertical:increment,
.theme-light.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(0, 0, 0)'><polygon points='0,0 10,0 5,5'/></svg>");
}

.theme-dark.pt-scroll-button ::-webkit-scrollbar-button:single-button:vertical:increment,
.theme-dark.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(255, 255, 255)'><polygon points='0,0 10,0 5,5'/></svg>");
}

// Scroll Button Left icon
.theme-light.pt-scroll-button ::-webkit-scrollbar-button:single-button:horizontal:decrement,
.theme-light.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:horizontal:decrement {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' transform='rotate(90 0 0)' fill='rgb(0, 0, 0)'><polygon points='0,0 10,0 5,5'/></svg>");
	background-position: 20% 50%;
}

.theme-dark.pt-scroll-button ::-webkit-scrollbar-button:single-button:horizontal:decrement,
.theme-dark.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:horizontal:decrement {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' transform='rotate(90 0 0)' fill='rgb(255, 255, 255)'><polygon points='0,0 10,0 5,5'/></svg>");
	background-position: 20% 50%;
}

// Scroll Button Right icon
.theme-light.pt-scroll-button ::-webkit-scrollbar-button:single-button:horizontal:increment,
.theme-light.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:horizontal:increment {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' transform='rotate(-90 0 0)' fill='rgb(0, 0, 0)'><polygon points='0,0 10,0 5,5'/></svg>");
	background-position: 80% 50%;
}

.theme-dark.pt-scroll-button ::-webkit-scrollbar-button:single-button:horizontal:increment,
.theme-dark.pt-scroll-button:hover ::-webkit-scrollbar-button:single-button:horizontal:increment {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' transform='rotate(-90 0 0)' fill='rgb(255, 255, 255)'><polygon points='0,0 10,0 5,5'/></svg>");
	background-position: 80% 50%;
}
/* #endregion */

/* #region  [UI] Scrollbar Hover */
// Enlarged Scrollbar when hovering on the page content/workspace leaf
.pt-scroll-hover {
	.view-content:hover ::-webkit-scrollbar,
	.suggestion-container:hover ::-webkit-scrollbar,
	.workspace-leaf-content:hover ::-webkit-scrollbar,
	.vertical-tab-content-container:hover ::-webkit-scrollbar,
	.kanban-plugin__board.kanban-plugin__horizontal.kanban-plugin__scroll-container:hover ::-webkit-scrollbar,
	.kanban-plugin__lane-items.kanban-plugin__vertical.kanban-plugin__scroll-container:hover ::-webkit-scrollbar {
		width: var(--scroll-bar-size-hover) !important;
		height: var(--scroll-bar-size-hover) !important;
	}
}

// Enlarged Scroll Button when hovering on the page content/workspace leaf
.pt-scroll-button.pt-scroll-hover {
	.view-content:hover ::-webkit-scrollbar-button:single-button,
	.suggestion-container:hover ::-webkit-scrollbar:single-button,
	.workspace-leaf-content:hover ::-webkit-scrollbar-button:single-button,
	.vertical-tab-content-container:hover ::-webkit-scrollbar-button:single-button,
	.kanban-plugin__board.kanban-plugin__horizontal.kanban-plugin__scroll-container:hover ::-webkit-scrollbar-button:single-button,
	.kanban-plugin__lane-items.kanban-plugin__vertical.kanban-plugin__scroll-container:hover ::-webkit-scrollbar-button:single-button {
		width: var(--scroll-bar-size-hover) !important;
		height: var(--scroll-bar-size-hover) !important;
		background-image: unset;
		background-size: calc(var(--scroll-bar-size-hover) / 2) !important;
	}
}
/* #endregion */
