/* #region  [UI] Scrollbar Base */
body:not(.native-scrollbars) {
	.kanban-plugin__scroll-container::-webkit-scrollbar,
	.prompt-results::-webkit-scrollbar,
	::-webkit-scrollbar {
		width: var(--scroll-bar-size);
		height: var(--scroll-bar-size);
		background-color: var(--background-secondary); /* REMOVE THIS WHEN FIXED IN DEFAULT */
		border-radius: unset;

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:vertical {
			border-left: 1px solid var(--window-border);
		}

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:horizontal {
			border-top: 1px solid var(--window-border);
		}
	}

	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb,
	::-webkit-scrollbar-thumb {
		border: 1px solid var(--window-border);
		border-radius: unset;
	}

	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb:active,
	.kanban-plugin__scroll-container::-webkit-scrollbar-thumb:hover,
	::-webkit-scrollbar-thumb:active,
	::-webkit-scrollbar-thumb:hover {
		border-radius: unset;
	}
}

::-webkit-scrollbar-track {
	margin-top: -1px;
	margin-bottom: -1px;
}

.show-view-header .cm-scroller::-webkit-scrollbar-track,
.show-view-header .mod-root .view-content::-webkit-scrollbar-track {
	margin-top: calc(var(--header-height) - 1px) !important;
}

.theme-light,
.theme-dark {
	div.suggestion-container .suggestion::-webkit-scrollbar-track {
		background-color: unset;
	}
}
/* #endregion */
