/* #region  [UI] Settings */
.modal.mod-settings {
	.vertical-tab-header {
		max-width: 215px;
		padding: 42px 0 0;

		&::before {
			position: absolute;
			top: 0;
			display: inline-flex;
			width: 206px;
			height: 42px;
			content: "";
			background: var(--background-secondary-blur);
			border-bottom: 1px solid var(--window-border);
			-webkit-backdrop-filter: blur(var(--blur-intensity));
			backdrop-filter: blur(var(--blur-intensity));
		}

		&::after {
			position: absolute;
			top: var(--size-4-2);
			left: var(--size-4-2);
			display: inline-flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			width: fit-content;
			height: 24px;
			padding: 0 8px;
			font-size: 14px;
			color: var(--interactive-accent-text);
			content: "Prism v3.0.0 WIP";
			background: var(--background-secondary);
			border: 1px solid var(--window-border);
			border-radius: var(--border-radius-small);

			.is-mobile & {
				margin: 7px 4px;
			}
		}
	}

	.vertical-tab-header-group {
		padding: unset;
	}

	.vertical-tab-header-group-title {
		font-size: var(--font-ui-medium);
		color: var(--text-normal);
		text-align: center;
		border-top: 1px solid var(--window-border);
		border-bottom: 1px solid var(--window-border);
	}

	.vertical-tab-header-group-items {
		padding: var(--size-4-2);
	}

	.vertical-tab-nav-item {
		padding: var(--size-2-1) var(--size-4-2);
		border: var(--border-size) solid transparent;
	}

	.horizontal-tab-content,
	.vertical-tab-content {
		padding: var(--size-4-8);
	}
}

.modal.mod-image-lightbox {
	width: var(--modal-width);
	max-width: var(--modal-max-width);
	height: var(--modal-height);
	max-height: var(--modal-max-height);

	.modal-content {
		display: flex;
		align-content: center;
		justify-content: center;
		height: 100%;

		padding: var(--size-4-2);
	}
}

img.community-theme-lightbox {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.modal.mod-community-theme {
	max-width: var(--modal-max-width);
	max-height: var(--modal-max-height);
}

.setting-item {
	padding: var(--size-4-2) 0;

	&.setting-item-heading {
		margin-bottom: var(--size-4-2);
		border-bottom: 1px solid var(--window-border);
	}
}

body:not(.native-scrollbars) .modal-close-button {
	top: var(--size-4-1);
	right: var(--size-4-3);
}

.community-modal-controls {
	.setting-item {
		display: inline-flex;
	}

	.community-modal-search-summary {
		display: inline-flex;
		width: fit-content;
		padding: 0 var(--size-4-3) var(--size-4-1);
	}
}

.mod-warning {
	color: var(--color-red-text);
}

.checkbox-container {
	&.is-enabled {
		background-color: var(--interactive-accent-base);
	}
}

select.dropdown {
	font-family: var(--font-interface);
	background-color: var(--background-primary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);

	option[value*="accent"]:not([value*="accent-style"]):not([value*="accent-color"]) {
		color: var(--interactive-accent-text);
		background-color: var(--interactive-accent-base);
	}

	option[value*="red"] {
		color: var(--color-red-text);
		background-color: var(--color-red-base);
	}

	option[value*="orange"] {
		color: var(--color-orange-text);
		background-color: var(--color-orange-base);
	}

	option[value*="yellow"] {
		color: var(--color-yellow-text);
		background-color: var(--color-yellow-base);
	}

	option[value*="green"] {
		color: var(--color-green-text);
		background-color: var(--color-green-base);
	}

	option[value*="mint"] {
		color: var(--color-mint-text);
		background-color: var(--color-mint-base);
	}

	option[value*="aqua"] {
		color: var(--color-aqua-text);
		background-color: var(--color-aqua-base);
	}

	option[value*="blue"] {
		color: var(--color-blue-text);
		background-color: var(--color-blue-base);
	}

	option[value*="purple"] {
		color: var(--color-purple-text);
		background-color: var(--color-purple-base);
	}

	option[value*="pink"] {
		color: var(--color-pink-text);
		background-color: var(--color-pink-base);
	}

	option[value*="grey"] {
		color: var(--color-grey-text);
		background-color: var(--color-grey-base);
	}
}

.modal {
	box-shadow: var(--drop-shadow-popup);
}
/* #endregion */
