/* #region  [UI] Settings */
.modal.mod-settings {
	.vertical-tab-header {
		max-width: 215px;
		padding: 42px 0 0;

		&::before {
			position: absolute;
			top: 0;
			display: inline-flex;
			width: 206px;
			height: 42px;
			content: "";
			background: var(--background-secondary-blur);
			border-bottom: 1px solid var(--window-border);
			-webkit-backdrop-filter: blur(var(--blur-intensity));
			backdrop-filter: blur(var(--blur-intensity));
		}

		&::after {
			position: absolute;
			top: var(--size-4-2);
			left: var(--size-4-2);
			display: inline-flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			width: fit-content;
			height: 24px;
			padding: 0 8px;
			font-size: 14px;
			color: var(--interactive-accent-text);
			content: "Prism v3.0.0 WIP";
			background: var(--background-secondary);
			border: 1px solid var(--window-border);
			border-radius: var(--border-radius);
			box-shadow: var(--drop-shadow);

			.is-mobile & {
				margin: 7px 4px;
			}
		}
	}

	.vertical-tab-header-group {
		padding: unset;
	}

	.vertical-tab-header-group-title {
		font-size: var(--font-ui-medium);
		color: var(--text-normal);
		text-align: center;
		border-top: 1px solid var(--window-border);
		border-bottom: 1px solid var(--window-border);
	}

	.vertical-tab-header-group-items {
		padding: var(--size-4-2);
	}

	.vertical-tab-nav-item {
		padding: var(--size-2-1) var(--size-4-2);
		border: var(--border-size) solid transparent;
	}

	.horizontal-tab-content,
	.vertical-tab-content {
		padding: var(--size-4-8);
	}
	/*
	.vertical-tab-content {
		.theme-dark & {
			background-color: var(--background-color-dt);
		}
	}
	*/
}

.modal.mod-image-lightbox {
	width: var(--modal-width);
	max-width: var(--modal-max-width);
	height: var(--modal-height);
	max-height: var(--modal-max-height);

	.modal-content {
		display: flex;
		align-content: center;
		justify-content: center;
		height: 100%;

		padding: var(--size-4-2);
	}
}

img.community-theme-lightbox {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.modal.mod-community-theme {
	max-width: var(--modal-max-width);
	max-height: var(--modal-max-height);
}

.setting-item {
	padding: var(--size-4-2) 0;

	&.setting-item-heading {
		margin-bottom: var(--size-4-2);
		border-bottom: 1px solid var(--window-border);
	}
}

body:not(.native-scrollbars) .modal-close-button {
	top: var(--size-4-1);
	right: var(--size-4-3);
}

/*
.modal-bg,
.workspace-drawer-backdrop {
	background: var(--background-primary);
	opacity: 0.4 !important;
}

.modal {
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
}

.modal-title {
	margin-bottom: unset;
}

.is-mobile {
	.pickr .pcr-button {
		width: 2em;

		&::before {
			border-radius: var(--border-radius);
		}
	}

	.modal {
		margin: 8px 0;
		border-radius: var(--border-radius);
	}

	.modal,
	.prompt,
	.suggestion-container {
		right: 0;
		left: 0;
		width: 95vw;
		max-width: 1100px;
		height: 80vh;
		max-height: 80vh;
		padding: 4px;
		margin: 4px auto;
		border-radius: var(--border-radius);
	}

	.prompt-results {
		padding: 0 4px 0 0;
	}

	.suggestion-item {
		font-size: 16px;

		.suggestion-prefix {
			font-size: 12px;
		}
	}

	.suggestion {
		padding-right: 4px;
	}

	.modal-close-button {
		top: 5px;
		right: 10px;
		display: block;
	}

	.modal.mod-settings {
		.vertical-tab-header,
		.vertical-tab-content-container {
			position: unset;
			top: unset;
			right: unset;
			left: unset;
		}

		.vertical-tab-content {
			height: calc(100% - 15px);
			padding: 25px 10px 10px;
			margin-top: -26px;
			background-color: unset;
			background-color: var(--background-secondary);
			border: 1px solid var(--window-border);
			border-radius: var(--border-radius);
			box-shadow: var(--drop-shadow);
		}

		.vertical-tab-nav-item {
			padding: 0 8px;
			font-size: 16px;

			&:not(:last-of-type) {
				margin-bottom: 8px;
			}
		}
	}

	.modal-setting-back-button {
		position: relative;
		z-index: var(--layer-cover);
		padding: 4px 8px;
		background: var(--background-primary);
		border-bottom: 1px solid var(--window-border);
		border-radius: var(--border-radius);
		box-shadow: var(--drop-shadow);
	}

	.setting-item:not(.style-settings-heading) {
		padding: 10px 0;
	}

	.modal-content {
		padding: unset;
		margin: 0 4px 4px;
	}

	.search-input-container {
		width: -webkit-fill-available;
		width: fill-available;
		margin: unset;
	}

	.setting-item-control button:not(:last-of-type) {
		margin-right: 4px;
	}

	.setting-item-control select,
	.setting-item-control button {
		align-items: center;
		padding: 8px;
		text-align: center;
	}
}

.modal.modal-style-settings {
	.modal-content {
		overflow: unset;
	}
}

.modal.mod-settings .horizontal-tab-content,
body:not(.is-mobile) .vertical-tab-content {
	padding: 30px;
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.modal.mod-settings {
	.theme-dark & {
		background-color: var(--background-color-dt);
	}

	.theme-light & {
		background-color: var(--background-color-lt);
	}

	.vertical-tab-header {
		body:not(.is-mobile) & {
			flex: 0 0 220px;
			height: unset;
			padding: 0;
			padding-right: 8px;
			margin: 0 var(--size-4-2) var(--size-4-2) var(--size-4-2);
			background-color: unset;
			border-right: unset;
		}

		.is-mobile & {
			padding-right: 4px;
			background-color: unset;
		}
	}

	.vertical-tabs-container {
		height: 100%;
	}

	.modal-content {
		height: -webkit-fill-available;
		height: fill-available;
	}

	.vertical-tab-header-group {
		padding: 0;
		background-color: var(--background-secondary);
		border: 1px solid var(--window-border);
		border-radius: var(--border-radius);
		box-shadow: var(--drop-shadow);

		.vertical-tab-header-group-items {
			padding: 8px;
			border-bottom: unset;

			&:empty {
				display: none;
			}
		}

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	.vertical-tab-content-container {
		height: unset;
		padding: 0 var(--size-4-2) var(--size-4-2) 0;
	}
}

.card {
	padding: 20px;
	margin-bottom: 15px;
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);

	.theme-light & {
		background-color: var(--background-tertiary);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}
}

.setting-item-name {
	font-weight: bold;
}

.setting-item:not(.style-settings-heading) {
	padding: 10px 0 10px 15px;
}

.community-theme-downloads:hover,
.community-theme.is-selected .community-theme-downloads:hover,
.clickable-icon:hover {
	color: var(--interactive-accent-hover);
}

.community-theme.is-selected .community-theme-downloads {
	color: var(--text-normal);
}

.setting-add-hotkey-button,
.setting-restore-hotkey-button {
	color: var(--text-normal);

	&:hover {
		color: var(--interactive-accent-text);
		background: unset;
	}
}

.vertical-tab-header-group-title {
	width: fit-content;
	min-width: -webkit-fill-available;
	min-width: fill-available;
	height: fit-content;
	padding: 8px;
	margin: unset;
	font-size: 15px;
	font-weight: bold;
	color: var(--text-normal);
	text-align: center;
	text-transform: capitalize;
	background: var(--background-primary);
	border-bottom: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	.is-mobile & {
		padding: 4px;
	}
}

.modal-content.community-plugin {
	padding-right: 0;
}

body:not(.native-scrollbars) .modal-container .modal-close-button {
	top: var(--size-4-2);
	right: var(--size-4-2);

	&:hover {
		color: var(--color-red-tint);
	}
}

.spellchecker-dictionary-remove-button:hover {
	color: var(--interactive-accent-text);
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item {
	padding: 2px 12px;
	margin: unset;
	font-size: 15px;
	background-color: var(--background-secondary);
	border: var(--border-size) solid transparent;
	border-radius: var(--border-radius);

	&:hover {
		color: var(--interactive-accent-text);
		background-color: var(--background-primary);
		border: var(--border-size) solid var(--window-border);
	}

	&.is-active {
		font-weight: 600;
		background-color: transparent;
		border: var(--border-size) solid transparent;
		border-radius: var(--border-radius);
	}
}

.u-pop {
	color: var(--interactive-accent-text);
}

select.dropdown {
	font-family: var(--font-interface);
	background-color: var(--background-primary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	&:focus {
		border-color: var(--interactive-accent-tint);
	}

	option[value*="accent"]:not([value*="accent-style"]):not([value*="accent-color"]) {
		color: var(--interactive-accent-text);
		background-color: var(--interactive-accent-base);
	}

	option[value*="red"] {
		color: var(--color-red-text);
		background-color: var(--color-red-base);
	}

	option[value*="orange"] {
		color: var(--color-orange-text);
		background-color: var(--color-orange-base);
	}

	option[value*="yellow"] {
		color: var(--color-yellow-text);
		background-color: var(--color-yellow-base);
	}

	option[value*="green"] {
		color: var(--color-green-text);
		background-color: var(--color-green-base);
	}

	option[value*="mint"] {
		color: var(--color-mint-text);
		background-color: var(--color-mint-base);
	}

	option[value*="aqua"] {
		color: var(--color-aqua-text);
		background-color: var(--color-aqua-base);
	}

	option[value*="blue"] {
		color: var(--color-blue-text);
		background-color: var(--color-blue-base);
	}

	option[value*="purple"] {
		color: var(--color-purple-text);
		background-color: var(--color-purple-base);
	}

	option[value*="pink"] {
		color: var(--color-pink-text);
		background-color: var(--color-pink-base);
	}

	option[value*="grey"] {
		color: var(--color-grey-text);
		background-color: var(--color-grey-base);
	}
}

.dropdown {
	.theme-light & {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(0, 0, 0)'><polygon points='0,0 10,0 5,5'/></svg>");
		background-position: right 0.7em top 60%, 0 0;
		background-size: 0.65em auto, 100%;

		&:hover {
			background-color: var(--background-primary-alt);
		}

		option {
			color: var(--text-normal);
			background-color: var(--background-primary-alt);
		}
	}

	.theme-dark & {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='rgb(255, 255, 255)'><polygon points='0,0 10,0 5,5'/></svg>");
		background-position: right 0.7em top 60%, 0 0;
		background-size: 0.65em auto, 100%;

		&:hover {
			background-color: var(--background-secondary-alt);
		}

		option {
			color: var(--text-normal);
			background-color: var(--background-secondary);
		}
	}
}

.checkbox-container {
	background-color: var(--background-secondary-alt);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);

	&.is-enabled {
		background-color: var(--interactive-accent-hover);

		&:hover {
			background-color: var(--interactive-accent-base);
		}

		&::after {
			transform: translate3d(21px, 0, 0);

			.theme-light & {
				font-size: 10px;
				font-weight: 600;
				color: var(--text-normal);
				content: "ON";
				background-color: var(--background-primary);
			}

			.theme-dark & {
				font-size: 10px;
				font-weight: 600;
				color: var(--text-normal);
				content: "ON";
				background-color: var(--background-primary);
			}
		}
	}

	&:not(.is-enabled):hover {
		background-color: var(--interactive-accent-tint);
	}

	&::after {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		margin: 0;
		background-color: var(--background-primary);
		border-radius: var(--border-radius-small);
		box-shadow: var(--drop-shadow);
		transform: translate3d(0, 0, 0);
	}
}

.checkbox-container:not(.is-enabled)::after {
	.theme-light & {
		font-size: 10px;
		font-weight: 600;
		color: var(--text-normal);
		content: "OFF";
		background-color: var(--background-primary);
	}

	.theme-dark & {
		font-size: 10px;
		font-weight: 600;
		color: var(--text-normal);
		content: "OFF";
		background-color: var(--background-primary);
	}
}

.mod-warning {
	color: var(--color-red-text);
}

.modal.mod-community-theme,
.modal.mod-image-lightbox {
	width: 85vw;
	max-width: 1400px;
	height: 80vh;
	min-height: unset;
	max-height: 1000px;
	padding: 0 15px 15px;
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);

	.is-mobile & {
		padding: unset;
	}

	.theme-light & {
		background-color: var(--background-color-lt);
	}

	.theme-dark & {
		background-color: var(--background-color-dt);
	}
}

.modal.mod-community-theme .modal-content {
	padding: 0;
	margin-top: 0;

	.is-mobile & {
		.modal-title,
		.community-theme-container {
			margin-right: 4px;
		}
	}
}

.modal.mod-image-lightbox .modal-content {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 35px;
}

img.community-theme-lightbox {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.community-theme-container {
	padding: 25px 15px 15px;
	margin-top: -10px;
	margin-right: 15px;
	background-color: var(--background-secondary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	&:not(:last-child) {
		margin-bottom: 15px;
	}

	.community-theme-filters-container,
	.hotkey-search-container {
		padding: 0 40px 10px;
	}
}

.community-theme-filters-container button {
	margin-bottom: unset;
}

.community-theme {
	width: 50%;
	max-width: 240px;
	padding: 10px;
	margin: 5px;
	background-color: var(--background-tertiary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	.is-mobile & {
		width: 255px;
		padding: 4px;
		margin: 4px;

		.community-theme-title {
			margin-top: 4px;
		}

		.community-theme-info {
			font-size: 0.8em;

			.clickable-icon {
				align-items: center;
				height: 23px;
			}
		}
	}

	&.is-selected,
	&.is-selected .community-theme-info,
	&.is-selected .community-theme-screenshot,
	&.is-selected .community-theme-remove-button {
		color: var(--text-normal);
	}
}

.mod-community-theme > .modal-title::before {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: fit-content;
	height: 25px;
	padding: 2px 10px;
	margin: 5px auto;
	font-size: 16px;
	color: var(--text-normal);
	content: "Community Themes";
}

.mod-community-theme .modal-content .modal-title {
	z-index: var(--layer-notice);
	display: inline-block;
	width: -webkit-fill-available;
	width: fill-available;
	height: fit-content;
	padding: 2px 8px;
	margin-right: 15px;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	background: var(--background-primary);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.community-theme-info {
	flex-grow: unset;

	.clickable-icon {
		display: flex;
	}
}

.community-theme > div:nth-child(3) {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding: 0;
}

// Hides the Theme Screenshot when Style Settings not installed makes space for the warning prompt
body:not(.css-settings-manager) .community-theme.is-selected img[alt="Prism"] {
	display: none;
}

// Warning prompt to install Style Settings
body:not(.css-settings-manager) .community-theme.is-selected > div:nth-child(3)::after {
	display: block;
	width: 100%;
	height: fit-content;
	padding: 10px;
	font-weight: 600;
	text-align: center;
	content: "Style Settings Plugin is required for Prism to function correctly!";
	background-color: var(--color-red-base);
	border: var(--border-size) solid var(--color-red-tint);
	border-radius: var(--border-radius);
}

.community-plugin-search .search-input-clear-button {
	top: 3px;
}

.community-plugin-search .search-input-container {
	width: -webkit-fill-available;
	width: fill-available;
}

.installed-plugins-container {
	padding-top: 0;
	border-top: unset;

	.setting-item.mod-toggle {
		.setting-item-info {
			.setting-item-name {
				width: fit-content;
			}

			.setting-item-description > div:not(:last-child) {
				display: inline-block;
				width: fit-content;
			}

			.setting-item-description > div:first-child::after {
				margin: 0 8px;
				content: "-";
			}

			.setting-item-description > div:nth-child(2):not(:last-child)::first-letter {
				text-transform: lowercase;
			}

			.setting-item-description > div:last-child {
				width: fit-content;
			}
		}
	}
}

.setting-item.setting-item-heading:not(.style-settings-heading) {
	padding: 10px 0;
	margin-bottom: 5px;
	border-bottom: 1px solid var(--table-border-color);
}

.community-theme .modal-button-container .mod-cta:last-of-type {
	margin-right: unset;
}

.community-theme-filters-container .search-input-container {
	margin: 0;
}

.modal-content hr {
	display: none;
}

.modal.mod-community-plugin {
	width: 80vw;
	max-width: 1400px;
	height: 80vh;
	min-height: unset;
	max-height: 1000px;
	padding: 0;
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);

	.theme-light & {
		background-color: var(--background-color-lt);
	}

	.theme-dark & {
		background-color: var(--background-color-dt);
	}

	.modal-title::before {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		width: fit-content;
		height: 25px;
		padding: 2px 10px;
		margin: 5px auto;
		font-size: 16px;
		color: var(--text-normal);
		content: "Community Plugins";
	}
}

.community-theme-filters-container .setting-item {
	padding-bottom: unset;
}

.community-plugin-info {
	padding: 20px 30px;
	margin: 0 15px 15px 0;
	background-color: var(--page-background-color);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);

	.is-mobile & {
		padding-top: 35px;
		margin: -25px 0 0;
	}
}

.community-plugin-search {
	padding: 10px;
	margin: 0 15px 15px;
	background-color: var(--background-secondary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);

	.is-mobile & {
		margin: unset;

		.setting-item:not(.mod-toggle):not(.setting-item-heading) .setting-item-control {
			margin-top: unset;
		}
	}

	> .setting-item {
		padding-left: unset;

		.is-mobile & {
			padding: 4px;
		}

		.search-input-container {
			margin-right: 8px;
			margin-left: unset;

			.is-mobile & {
				margin-right: unset;
			}

			input[type="text"] {
				max-width: -webkit-fill-available;
				max-width: fill-available;
			}
		}
	}

	&-results {
		padding-right: 10px;

		.is-mobile & {
			padding-right: 4px;
			margin: 4px;
		}
	}

	&-summary {
		width: fit-content;
		padding: 2px 8px;
		margin-bottom: 10px;
		color: var(--text-normal);
		background-color: var(--background-primary);
		border: 1px solid var(--window-border);
		border-radius: var(--border-radius-small);
		box-shadow: var(--drop-shadow);

		.is-mobile & {
			margin: 4px;
		}
	}
}

.community-plugin-details-empty-state {
	width: fit-content;
	padding: 8px;
	margin: auto;
	font-weight: 600;
	background-color: var(--background-primary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.community-plugin-item {
	width: 100%;
	padding: 8px 10px;
	margin: unset;
	background-color: var(--background-primary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);

	&:hover,
	&:hover .community-plugin-name,
	&:hover .community-plugin-downloads,
	&:hover .community-plugin-author {
		color: var(--interactive-accent-text);
		background-color: var(--background-primary);
	}

	&:not(:last-child) {
		margin-bottom: 8px;
	}
}

.community-plugin-name {
	display: inline-flex;
	align-items: center;
	width: fit-content;
	max-width: 85%;
	font-weight: 600;

	.flair.mod-pop {
		display: inline-flex;
		align-items: center;
		height: 20px;
		margin-left: 5px;
	}
}

.community-plugin-downloads {
	float: right;
}

.community-plugin-name,
.community-plugin-downloads,
.community-plugin-author {
	color: var(--text-normal);
}

.community-plugin-desc {
	color: var(--text-muted);
}

.community-plugin-search .setting-item .setting-item-info {
	display: none;
}

.community-plugin-info .community-plugin-readme.markdown-preview-view {
	padding: 0 0 20px;
}

.community-plugin-search-results::-webkit-scrollbar-track {
	.theme-light & {
		background-color: var(--background-color-lt);
		border-radius: var(--border-radius-small);
		box-shadow: var(--drop-shadow);
	}

	.theme-dark & {
		background-color: var(--background-color-dt);
		border-radius: var(--border-radius-small);
		box-shadow: var(--drop-shadow);
	}
}
*/
/* #endregion */
