// [UI] Startup
.progress-bar {
	background-color: var(--background-secondary-blur);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}

.progress-bar-line {
	background-color: var(--interactive-accent-base);
}

.progress-bar-subline {
	background-color: var(--interactive-accent-base);
	border: 2px solid var(--interactive-accent-tint);
	border-radius: var(--radius-s);
}
