/* #region  [UI] Workspace */
/* Warning prompt to install Style Settings */
body:not(.css-settings-manager) .workspace-split.mod-left-split::before {
	display: block;
	width: -webkit-fill-avaliable;
	height: fit-content;
	padding: 10px;
	font-weight: 600;
	text-align: center;
	content: "Style Settings Plugin is required for Prism to function correctly!";
	background-color: var(--color-red-base);
	border: var(--accent-border-width) solid var(--color-red-tint);
	border-radius: var(--radius-m);
}

/* Hides View Header until you hover over it */
body.pt-hide-view-header div.workspace-leaf-content div.view-header {
	height: 1px;
	border: var(--accent-border-width) solid transparent;
	box-shadow: unset;
	transition-delay: 600ms;

	svg {
		opacity: 0;
		transition: opacity 200ms;
		transition-delay: 600ms;
	}

	&:hover {
		height: var(--header-height);
		transition: all ease 200ms;

		svg {
			display: unset;
			opacity: 1;
			transition: opacity 200ms;
			transition-delay: 200ms;
		}
	}
}

.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
	height: calc(var(--divider-vertical-height) - var(--header-height));
}

.workspace-tabs .workspace-leaf {
	.theme-light & {
		background-color: var(--background-primary);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}
}
/* #endregion */

/* #region  [UI] View Header */
.is-focused .workspace-leaf.mod-active .view-header,
.view-header {
	position: fixed;
	width: 100%;
	background: var(--background-secondary-blur);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}

.workspace-tabs .view-header {
	margin: unset;
	border-bottom: 1px solid var(--window-border);
}

.view-header-nav-buttons {
	padding-left: var(--size-4-2);
}

.view-header-title-container::after {
	display: none;
}

.view-actions {
	padding-right: var(--size-4-2);
}

.is-focused .workspace-leaf.mod-active .view-header-title,
.view-header-title {
	color: var(--interactive-accent-text);
}

.show-view-header {
	--file-margins: 64px 32px 32px 32px;
}
/* #endregion */

/* #region  [UI] Workspace Ribbon */
.workspace-ribbon.mod-left,
.workspace-split.mod-right-split,
.workspace-split.mod-vertical.mod-root {
	.sidebar-toggle-button {
		width: fit-content;
		height: calc(var(--header-height) - 9px);
		padding: 2px;
		margin: 4px;
		border: 2px solid transparent;
		border-radius: var(--radius-m);
	}
}
/* #endregion */
