/* #region  [UI] Workspace Ribbon */
.workspace-ribbon.mod-left,
.workspace-split.mod-right-split,
.workspace-split.mod-vertical.mod-root {
	.sidebar-toggle-button {
		width: fit-content;
		height: 31px;
		padding: 2px;
		margin: 4px;
		border: 2px solid transparent;
		border-radius: var(--border-radius);
	}
}
/* #endregion */
