/* #region  [UI] Workspace Ribbon */
.workspace-ribbon.mod-left,
.workspace-split.mod-right-split,
.workspace-split.mod-vertical.mod-root {
	.sidebar-toggle-button {
		width: fit-content;
		height: 32px;
		padding: 2px;
		margin: 4px;
		border: 2px solid transparent;
		border-radius: var(--border-radius);
	}
}

.workspace.is-left-sidedock-open {
	.sidebar-toggle-button.mod-left {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);

		.clickable-icon {
			color: var(--interactive-accent-text);
		}
	}
}

.workspace.is-right-sidedock-open {
	.sidebar-toggle-button.mod-right {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);

		.clickable-icon {
			color: var(--interactive-accent-text);
		}
	}
}
/* #endregion */
