/* #region  [Editor] Callouts */
.markdown-source-view.mod-cm6 {
	.cm-callout {
		.edit-block-button {
			top: 16px;
			right: 12px;
			z-index: var(--layer-popover);
			color: var(--text-normal);
			background-color: var(--background-secondary);
			transition: all ease 200ms;
		}
	}

	.cm-embed-block {
		&:hover {
			border-color: var(--interactive-accent-hover);
			transition: all ease 200ms;
		}
	}
}

.callout {
	background-color: unset;
	border-left: unset;
	border-radius: var(--border-radius);

	&:not(.is-collapsed) {
		box-shadow: var(--drop-shadow);
	}

	.callout-title {
		position: relative;
		z-index: 5;
		gap: unset;
		padding: unset;
		border: 2px solid;
		border-radius: var(--border-radius);
		box-shadow: var(--drop-shadow);
	}

	.callout-icon {
		padding: 8px;
		border-radius: var(--border-radius);

		svg {
			width: 20px;
			height: 20px;
		}
	}

	.callout-title-inner {
		padding: 6px 0;
	}

	.callout-fold {
		display: flex;
		align-self: center;
		padding: 10px;
	}

	.callout-content {
		padding-top: 15px;
		margin-top: -15px;
		border-right: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-bottom-right-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
	}

	// Type 1
	&[data-callout='note'] {
		.callout-title {
			color: var(--color-grey-text);
			background-color: var(--color-grey-base);
			border-color: var(--color-grey-tint);
		}

		.callout-icon {
			color: var(--color-grey-text);
		}

		.callout-content {
			background-color: hsl(var(--color-grey-base-h) var(--color-grey-base-s) var(--color-grey-base-l) / 10%);
			border-color: var(--color-grey-tint);
		}
	}

	// Type 2
	&[data-callout='abstract'],
	&[data-callout='summary'],
	&[data-callout='tldr'] {
		.callout-title {
			color: var(--color-aqua-text);
			background-color: var(--color-aqua-base);
			border-color: var(--color-aqua-tint);
		}

		.callout-icon {
			color: var(--color-aqua-text);
		}

		.callout-content {
			background-color: hsl(var(--color-aqua-base-h) var(--color-aqua-base-s) var(--color-aqua-base-l) / 10%);
			border-color: var(--color-aqua-tint);
		}
	}

	// Type 3
	&[data-callout='info'],
	&[data-callout='todo'] {
		.callout-title {
			color: var(--color-blue-text);
			background-color: var(--color-blue-base);
			border-color: var(--color-blue-tint);
		}

		.callout-icon {
			color: var(--color-blue-text);
		}

		.callout-content {
			background-color: hsl(var(--color-blue-base-h) var(--color-blue-base-s) var(--color-blue-base-l) / 10%);
			border-color: var(--color-blue-tint);
		}
	}

	// Type 4
	&[data-callout='tip'],
	&[data-callout='hint'],
	&[data-callout='important'] {
		.callout-title {
			color: var(--color-mint-text);
			background-color: var(--color-mint-base);
			border-color: var(--color-mint-tint);
		}

		.callout-icon {
			color: var(--color-mint-text);
		}

		.callout-content {
			background-color: hsl(var(--color-mint-base-h) var(--color-mint-base-s) var(--color-mint-base-l) / 10%);
			border-color: var(--color-mint-tint);
		}
	}

	// Type 5
	&[data-callout='success'],
	&[data-callout='check'],
	&[data-callout='done'] {
		.callout-title {
			color: var(--color-green-text);
			background-color: var(--color-green-base);
			border-color: var(--color-green-tint);
		}

		.callout-icon {
			color: var(--color-green-text);
		}

		.callout-content {
			background-color: hsl(var(--color-green-base-h) var(--color-green-base-s) var(--color-green-base-l) / 10%);
			border-color: var(--color-green-tint);
		}
	}

	// Type 6
	&[data-callout='question'],
	&[data-callout='help'],
	&[data-callout='faq'] {
		.callout-title {
			color: var(--color-yellow-text);
			background-color: var(--color-yellow-base);
			border-color: var(--color-yellow-tint);
		}

		.callout-icon {
			color: var(--color-yellow-text);
		}

		.callout-content {
			background-color: hsl(var(--color-yellow-base-h) var(--color-yellow-base-s) var(--color-yellow-base-l) / 10%);
			border-color: var(--color-yellow-tint);
		}
	}

	// Type 7
	&[data-callout='warning'],
	&[data-callout='caution'],
	&[data-callout='attention'] {
		.callout-title {
			color: var(--color-orange-text);
			background-color: var(--color-orange-base);
			border-color: var(--color-orange-tint);
		}

		.callout-icon {
			color: var(--color-orange-text);
		}

		.callout-content {
			background-color: hsl(var(--color-orange-base-h) var(--color-orange-base-s) var(--color-orange-base-l) / 10%);
			border-color: var(--color-orange-tint);
		}
	}

	// Type 8
	&[data-callout='failure'],
	&[data-callout='fail'],
	&[data-callout='missing'] {
		.callout-title {
			color: var(--color-red-text);
			background-color: var(--color-red-base);
			border-color: var(--color-red-tint);
		}

		.callout-icon {
			color: var(--color-red-text);
		}

		.callout-content {
			background-color: hsl(var(--color-red-base-h) var(--color-red-base-s) var(--color-red-base-l) / 10%);
			border-color: var(--color-red-tint);
		}
	}

	// Type 9
	&[data-callout='danger'],
	&[data-callout='error'] {
		.callout-title {
			color: var(--color-red-text);
			background-color: var(--color-red-base);
			border-color: var(--color-red-tint);
		}

		.callout-icon {
			color: var(--color-red-text);
		}

		.callout-content {
			background-color: hsl(var(--color-red-base-h) var(--color-red-base-s) var(--color-red-base-l) / 10%);
			border-color: var(--color-red-tint);
		}
	}

	// Type 10
	&[data-callout='bug'] {
		.callout-title {
			color: var(--color-pink-text);
			background-color: var(--color-pink-base);
			border-color: var(--color-pink-tint);
		}

		.callout-icon {
			color: var(--color-pink-text);
		}

		.callout-content {
			background-color: hsl(var(--color-pink-base-h) var(--color-pink-base-s) var(--color-pink-base-l) / 10%);
			border-color: var(--color-pink-tint);
		}
	}

	// Type 11
	&[data-callout='example'] {
		.callout-title {
			color: var(--color-purple-text);
			background-color: var(--color-purple-base);
			border-color: var(--color-purple-tint);
		}

		.callout-icon {
			color: var(--color-purple-text);
		}

		.callout-content {
			background-color: hsl(var(--color-purple-base-h) var(--color-purple-base-s) var(--color-purple-base-l) / 10%);
			border-color: var(--color-purple-tint);
		}
	}

	// Type 12
	&[data-callout='quote'],
	&[data-callout='cite'] {
		.callout-title {
			color: var(--color-grey-text);
			background-color: var(--color-grey-base);
			border-color: var(--color-grey-tint);
		}

		.callout-icon {
			color: var(--color-grey-text);
		}

		.callout-content {
			background-color: hsl(var(--color-grey-base-h) var(--color-grey-base-s) var(--color-grey-base-l) / 10%);
			border-color: var(--color-grey-tint);
		}
	}
}
/* #endregion */
