/* #region  [Editor] Callouts */
.admonition.admonition-plugin {
    background-color: var(--page-background-color);
    border-radius: var(--border-radius);
    border-left: unset;
    box-shadow: var(--drop-shadow);
    // transition: all linear 200ms;

    .admonition-title {
        padding: unset;
        border-radius: var(--border-radius);
        box-shadow: var(--drop-shadow);
        border: 2px solid;
        z-index: 5;
    }

    .admonition-title-icon {
        padding: 8px;
        border-radius: var(--border-radius);
    }

    .admonition-title-markdown {
        padding: 8px 0px;
    }

    .admonition-content-holder {
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-right: 1px solid;
        margin-top: -15px;
        padding-top: 15px;
        border-radius: var(--border-radius);
    }

    // &[open] {
    // }

    // Type 1
    &.admonition-note {

        .admonition-title {
            background-color: var(--color-grey);
            border-color: var(--color-dark-grey);
            color: var(--color-text-grey);
        }

        .admonition-title-icon {
            color: var(--color-text-grey);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-grey);
        }
    }

    // Type 2
    &.admonition-abstract,
    &.admonition-summary,
    &.admonition-tldr {
        
        .admonition-title {
            background-color: var(--color-aqua);
            border-color: var(--color-dark-aqua);
            color: var(--color-text-aqua);
        }

        .admonition-title-icon {
            color: var(--color-text-aqua);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-aqua);
        }
    }

    // Type 3
    &.admonition-info,
    &.admonition-todo {
        
        .admonition-title {
            background-color: var(--color-blue);
            border-color: var(--color-dark-blue);
            color: var(--color-text-blue);
        }

        .admonition-title-icon {
            color: var(--color-text-blue);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-blue);
        }
    }

    // Type 4
    &.admonition-tip,
    &.admonition-hint,
    &.admonition-important {
        
        .admonition-title {
            background-color: var(--color-mint);
            border-color: var(--color-dark-mint);
            color: var(--color-text-mint);
        }

        .admonition-title-icon {
            color: var(--color-text-mint);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-mint);
        }
    }

    // Type 5
    &.admonition-success,
    &.admonition-check,
    &.admonition-done {
        
        .admonition-title {
            background-color: var(--color-green);
            border-color: var(--color-dark-green);
            color: var(--color-text-green);
        }

        .admonition-title-icon {
            color: var(--color-text-green);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-green);
        }
    }

    // Type 6
    &.admonition-question,
    &.admonition-help,
    &.admonition-faq {
        
        .admonition-title {
            background-color: var(--color-yellow);
            border-color: var(--color-dark-yellow);
            color: var(--color-text-yellow);
        }

        .admonition-title-icon {
            color: var(--color-text-yellow);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-yellow);
        }
    }

    // Type 7
    &.admonition-warning,
    &.admonition-caution,
    &.admonition-attention {
        
        .admonition-title {
            background-color: var(--color-orange);
            border-color: var(--color-dark-orange);
            color: var(--color-text-orange);
        }

        .admonition-title-icon {
            color: var(--color-text-orange);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-orange);
        }
    }

    // Type 8
    &.admonition-failure,
    &.admonition-fail,
    &.admonition-missing {
        
        .admonition-title {
            background-color: var(--color-red);
            border-color: var(--color-dark-red);
            color: var(--color-text-red);
        }

        .admonition-title-icon {
            color: var(--color-text-red);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-red);
        }
    }

    // Type 9
    &.admonition-danger,
    &.admonition-error {
        
        .admonition-title {
            background-color: var(--color-red);
            border-color: var(--color-dark-red);
            color: var(--color-text-red);
        }

        .admonition-title-icon {
            color: var(--color-text-red);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-red);
        }
    }

    // Type 10
    &.admonition-bug {
        
        .admonition-title {
            background-color: var(--color-pink);
            border-color: var(--color-dark-pink);
            color: var(--color-text-pink);
        }

        .admonition-title-icon {
            color: var(--color-text-pink);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-pink);
        }
    }

    // Type 11
    &.admonition-example {
        
        .admonition-title {
            background-color: var(--color-purple);
            border-color: var(--color-dark-purple);
            color: var(--color-text-purple);
        }

        .admonition-title-icon {
            color: var(--color-text-purple);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-purple);
        }
    }

    // Type 12
    &.admonition-quote,
    &.admonition-cite {
        
        .admonition-title {
            background-color: var(--color-grey);
            border-color: var(--color-dark-grey);
            color: var(--color-text-grey);
        }

        .admonition-title-icon {
            color: var(--color-text-grey);
        }

        .admonition-content-holder {
            border-color: var(--color-dark-grey);
        }
    }
}
/* #endregion */
