// [Editor] Edit View
.workspace-split.mod-root .view-content {
	.theme-light & {
		background-color: var(--background-primary);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}
}

p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.cm-s-obsidian span.cm-quote {
	&.cm-em:not(.cm-strong) {
		color: var(--italic-color);
	}

	&.cm-strong:not(.cm-em) {
		color: var(--bold-color);
	}
}

:is(em strong, strong em, .cm-em.cm-strong) {
	.theme-light & {
		color: var(--text-italic-bold-color-lt);
	}

	.theme-dark & {
		color: var(--text-italic-bold-color-dt);
	}
}

.cm-strikethrough,
.cm-s-obsidian span.cm-formatting-highlight.cm-strikethrough,
.cm-s-obsidian span.cm-highlight.cm-strikethrough,
del {
	color: var(--text-muted);
}

:is(.cm-inline-code:not(.cm-formatting-code), .cm-math) {
	padding: 0 var(--size-4-1);
	border: 1px solid var(--window-border-color);
	border-radius: var(--radius-s);
}

.cm-s-obsidian .cm-formatting-code.cm-inline-code {
	font-family: var(--font-text);
	font-size: var(--font-text-size);
}

.cm-s-obsidian span.cm-formatting-highlight.cm-inline-code,
.cm-s-obsidian span.cm-highlight.cm-inline-code {
	color: var(--code-normal);
}

// Borders for Codeblocks
:is(.HyperMD-codeblock.HyperMD-codeblock-begin, .cm-s-obsidian div.HyperMD-codeblock-begin-bg) {
	border-top: 1px solid var(--window-border-color);
}

.cm-s-obsidian div.HyperMD-codeblock {
	border-right: 1px solid var(--window-border-color);
	border-left: 1px solid var(--window-border-color);
}

:is(.HyperMD-codeblock.HyperMD-codeblock-end, .cm-s-obsidian div.HyperMD-codeblock-end-bg) {
	border-bottom: 1px solid var(--window-border-color);
}

.cm-s-obsidian .cm-hashtag {
	font-weight: 600;
	vertical-align: middle;
}

.cm-line {
	.cm-hashtag-begin {
		background-color: var(--background-secondary);
		border: 2px solid var(--window-border-color);
		border-right: unset;
		border-top-left-radius: var(--radius-s);
		border-bottom-left-radius: var(--radius-s);
	}

	.cm-hashtag-end {
		background-color: var(--background-secondary);
		border: 2px solid var(--window-border-color);
		border-left: unset;
		border-top-right-radius: var(--radius-s);
		border-bottom-right-radius: var(--radius-s);
	}

	.cm-hashtag.cm-meta:not(.cm-hashtag-begin,.cm-hashtag-end) {
		background-color: var(--background-secondary);
		border: 2px solid var(--window-border-color);
		border-right: unset;
		border-left: unset;
	}
}

.cm-s-obsidian span.cm-hmd-escape-backslash {
	color: var(--color-red-text);
}

:is(code[class*="language-"], pre[class*="language-"]) {
	line-height: var(--line-height-tight);
}

.markdown-preview-view th,
.table-view-table > thead > tr > th,
.markdown-source-view.mod-cm6 .dataview.table-view-table thead.table-view-thead tr th {
	padding: var(--size-2-2) var(--size-4-2);
}

.markdown-rendered thead tr:first-child > th {
	font-weight: var(--font-semibold);
}

.cm-s-obsidian span.cm-formatting-task {
	font-family: var(--font-text);
}

// Reading Specific
input[type=checkbox] {
	border-width: 2px;

	&:checked {
		border-color: var(--interactive-accent-tint);

		&::after {
			top: -2px;
			left: -2px;
		}
	}
}

a.tag {
	font-weight: 600;
	background-color: var(--background-secondary);
	border-color: var(--window-border-color);
	border-radius: var(--radius-s);

	&:hover {
		color: var(--interactive-accent-text);
		background-color: var(--background-primary);
		border-color: var(--interactive-accent-tint);
		transition: all ease 200ms;
	}
}

:is(.markdown-preview-view, .markdown-rendered) {
	:is(code, kbd) {
		padding: 0 var(--size-4-1);
		font-family: var(--font-monospace);
		font-size: var(--code-size);
		border: var(--window-border);
		border-radius: var(--radius-s);
	}
}

.code-block-flair {
	font-weight: 600;
	border: var(--window-border);

	.theme-light & {
		background-color: var(--background-primary-alt);
	}

	.theme-dark & {
		background-color: var(--background-secondary);
	}

	.markdown-source-view.mod-cm6 & {
		padding: 0 var(--size-4-2);
	}
}

:is(.markdown-source-view.mod-cm6.is-live-preview .cm-content .HyperMD-quote, .markdown-rendered blockquote) {
	padding: var(--size-4-2) var(--size-4-4);

	.theme-light & {
		background-color: var(--background-primary-alt);
	}

	.theme-dark & {
		background-color: var(--background-secondary);
	}
}

:is(.theme-light.pt-highlight-text-color-lt, .theme-dark.pt-highlight-text-color-dt) {
	span.cm-link {
		color: var(--link-external-color);
	}

	span.cm-hmd-internal-link {
		color: var(--link-color);

		&:hover {
			color: var(--link-color-hover);
		}
	}
}

.markdown-source-view.mod-cm6 {
	--list-bullet-transform: translateX(0.15em);

	.cm-embed-block pre {
		margin: 1em 0;
	}

	.cm-indent::before {
		width: 2px;
	}

	.cm-line:not(.cm-active):not(.HyperMD-header):not(.HyperMD-task-line) .cm-fold-indicator .collapse-indicator {
		padding-right: 0.7em;
	}

	.cm-fold-indicator .collapse-indicator {
		padding-right: 0.25rem;
	}
}

.list-bullet {
	padding-right: 0.6em;
}

ul > li.task-list-item .task-list-item-checkbox {
	margin-inline-start: calc(var(--checkbox-size) * -1.2);
}

.markdown-rendered {
	--list-bullet-transform: translateX(0.3em);

	.list-collapse-indicator {
		padding-right: 1em;
		margin-left: -2.35em;
	}

	ul > li.task-list-item > .list-collapse-indicator {
		padding-right: 1em;
		margin-left: -2.4em;
	}

	&.show-indentation-guide li > {
		ol::before,
		ul::before {
			left: -0.75em;
		}
	}

	mark .internal-link {
		.theme-light & {
			color: hsl(var(--link-internal-color-lt));
		}

		.theme-dark & {
			color: hsl(var(--link-internal-color-dt));
		}

		&:hover {
			color: var(--link-color-hover);
		}
	}

	pre {
		border: var(--window-border);
	}

	button.copy-code-button {
		padding: var(--size-2-1) var(--size-4-1);
		margin: var(--size-4-1);
	}

	:is(h1, h2, h3, h4, h5, h6) {
		margin: 0;
	}
}

.cm-s-obsidian {
	.cm-hmd-frontmatter {
		color: var(--color-blue);

		&.cm-atom,
		&.cm-meta {
			color: var(--text-faint);
		}

		&.cm-keyword {
			color: var(--color-red);
		}

		&.cm-number {
			color: var(--color-green);
		}

		&.cm-def {
			color: var(--text-faint);
		}
	}
}

// Limiting the max height of the internal file embed
.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed,
.internal-embed.is-loaded:not(.image-embed) {
	display: flex;
	flex-direction: column;
	max-height: 800px;
	overflow: auto;
}

.embed-title {
	position: sticky;
	top: 0;
	z-index: var(--layer-cover);
	width: 100%;
	padding: var(--size-4-2) var(--size-4-4);
	background-color: var(--background-secondary);
	border-bottom: var(--window-border);
}

.internal-embed {
	&.internal-embed.canvas-embed,
	&.pdf-embed {
		border: 1px solid var(--window-border-color);
	}

	.markdown-embed-content {
		padding: var(--size-4-4);
	}
}

.file-embed.mod-empty {
	border: var(--window-border);
	border-radius: var(--radius-s);
}

:is(.markdown-embed-link, .file-embed-link) {
	top: var(--size-4-2);
	right: var(--size-4-2);
	z-index: var(--layer-cover);
}