/* #region  [Editor] Hyperlink */
a {
	color: var(--interactive-accent-text);

	&:hover {
		color: var(--interactive-accent-hover);
	}
}
/* #endregion */

/* #region  [Editor] Edit Base */
.cm-s-obsidian span.cm-builtin,
.cm-s-obsidian span.cm-hr {
	color: var(--table-border-color);
	font-variation-settings: "wght" 600;
}

.HyperMD-codeblock.HyperMD-codeblock-begin,
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
	border-top-left-radius: var(--border-radius-small);
	border-top-right-radius: var(--border-radius-small);
	border-top: 1px solid var(--table-border-color);
}

.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian div.HyperMD-codeblock {
	border-left: 1px solid var(--table-border-color);
	border-right: 1px solid var(--table-border-color);
}

.HyperMD-codeblock.HyperMD-codeblock-end,
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
	border-bottom-left-radius: var(--border-radius-small);
	border-bottom-right-radius: var(--border-radius-small);
	border-bottom: 1px solid var(--table-border-color);
}

.CodeMirror-foldgutter-open::after {
	color: var(--interactive-accent-text);
}

.CodeMirror-foldgutter-open:hover::after {
	color: var(--interactive-accent-hover);
}

.CodeMirror-gutter-elt:hover .CodeMirror-guttermarker-subtle {
	color: var(--interactive-accent-hover);
}

.CodeMirror-foldmarker {
	color: var(--interactive-accent-text);
}

.CodeMirror-foldmarker:hover {
	color: var(--interactive-accent-hover);
}

// Centers vertically the gutter elements (line number and collapse icon) with the text next to it
.CodeMirror-gutter-wrapper {
	display: flex;
	align-content: center;
	align-items: center;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

.markdown-source-view.mod-cm6 .is-unresolved {
	opacity: 0.75;
}

// Gutter adjustment for New Editor modes
.markdown-source-view.mod-cm6 .cm-gutters {
	padding-right: unset;
	margin-right: 5px;
}

.markdown-source-view.mod-cm6 .cm-fold-indicator:not(.is-collapsed) .collapse-indicator {
	color: var(--interactive-accent-text);
}

.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator:hover {
	color: var(--interactive-accent-hover);
}

.markdown-source-view.mod-cm6 .cm-foldPlaceholder:hover {
	color: var(--interactive-accent-hover);
}

.cm-gutter div.cm-gutterElement {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	min-width: -webkit-fill-available;
}

.markdown-source-view.mod-cm6 .cm-scroller {
	padding: 10px;
}

.markdown-source-view.mod-cm6 .cm-line {
	padding: unset;
}

.cm-line .cm-hashtag-begin {
	background-color: var(--background-tertiary);
	border-top-left-radius: var(--border-radius-small);
	border-bottom-left-radius: var(--border-radius-small);
	padding-left: 5px;
	border: 2px solid var(--window-border);
	border-right: unset;
}

.cm-line .cm-hashtag-end {
	background-color: var(--background-tertiary);
	border-top-right-radius: var(--border-radius-small);
	border-bottom-right-radius: var(--border-radius-small);
	padding-right: 5px;
	border: 2px solid var(--window-border);
	border-left: unset;
}

.cm-s-obsidian span.cm-url {
	color: var(--interactive-accent-text);

	&:hover {
		color: var(--interactive-accent-hover);
	}
}

.cm-s-obsidian span.cm-hashtag {
	text-decoration: none;
	color: var(--text-normal);
	font-family: var(--font-text);
	font-variation-settings: "wght" 600;
}

.CodeMirror pre.CodeMirror-line,
.markdown-source-view .cm-line,
.cm-s-obsidian .cm-line {
	line-height: 1.6em;
}

p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}
/* #endregion */

/* #region  [Editor] Edit LT */
.theme-light {
	.cm-s-obsidian {
		span.cm-hmd-escape-backslash {
			color: var(--color-red-text);
		}

		.cm-inline-code,
		.cm-math {
			color: var(--color-red-text);
		}

		.HyperMD-codeblock {
			color: var(--color-muted);
		}

		div.HyperMD-codeblock-bg {
			background-color: var(--background-primary-alt);
		}

		span.cm-inline-code,
		span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
			color: var(--color-red-text);
			background-color: var(--background-primary-alt);
			border-radius: var(--border-radius-small);
		}

		span.cm-footref,
		span.cm-blockid,
		.HyperMD-footnote span.cm-hmd-footnote {
			color: var(--color-grey-text);
		}

		span.cm-link,
		span.cm-hmd-internal-link {
			color: var(--interactive-accent-text);
		}

		.CodeMirror-linenumber,
		.theme-light .CodeMirror-guttermarker-subtle {
			color: var(--color-grey-text);
		}

		// span.cm-formatting-highlight,
		// span.cm-highlight {
		// 	font-variation-settings: 'wght' 600;
		// 	font-size: 0.9em;
		// 	background-color: var(--color-yellow-base);
		// 	color: var(--highlight-text-dark);
		// }

		// span.cm-formatting-highlight:first-of-type,
		// span.cm-highlight:first-of-type {
		// 	border-top-left-radius: var(--border-radius-small);
		// 	border-bottom-left-radius: var(--border-radius-small);
		// }

		// span.cm-formatting-highlight:last-of-type,
		// span.cm-highlight:last-of-type {
		// 	border-top-right-radius: var(--border-radius-small);
		// 	border-bottom-right-radius: var(--border-radius-small);
		// }
	}
}

/* #endregion */

/* #region  [Editor] Edit DT */

.theme-dark {
	.cm-s-obsidian {
		span.cm-hmd-escape-backslash {
			color: var(--color-red-text);
		}

		.cm-inline-code,
		.cm-math {
			color: var(--color-red-text);
		}

		.HyperMD-codeblock {
			color: var(--color-muted);
		}

		div.HyperMD-codeblock-bg {
			background-color: var(--background-secondary-alt);
		}

		span.cm-inline-code,
		span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
			color: var(--color-red-text);
			background-color: var(--background-secondary-alt);
			border-radius: var(--border-radius-small);
		}

		span.cm-footref,
		span.cm-blockid,
		.HyperMD-footnote span.cm-hmd-footnote {
			color: var(--color-grey-text);
		}
		
		span.cm-link,
		span.cm-hmd-internal-link {
			color: var(--interactive-accent-text);
		}

		.CodeMirror-linenumber,
		.CodeMirror-guttermarker-subtle {
			color: var(--text-faint);
		}
		

		// span.cm-formatting-highlight,
		// span.cm-highlight {
		// 	font-variation-settings: 'wght' 600;
		// 	background-color: var(--color-yellow-text);
		// 	color: var(--highlight-text-dark);
		// }

		// span.cm-formatting-highlight:first-of-type,
		// span.cm-highlight:first-of-type {
		// 	border-top-left-radius: var(--border-radius-small);
		// 	border-bottom-left-radius: var(--border-radius-small);
		// }

		// span.cm-formatting-highlight:last-of-type,
		// span.cm-highlight:last-of-type {
		// 	border-top-right-radius: var(--border-radius-small);
		// 	border-bottom-right-radius: var(--border-radius-small);
		// }

	}
}

/* #endregion */
