/* #region  [Editor] Hyperlink */
a {
	color: var(--interactive-accent-text);

	&:hover {
		color: var(--interactive-accent-hover);
	}
}
/* #endregion */

/* #region  [Editor] Edit Base */
.cm-s-obsidian span.cm-builtin,
.cm-s-obsidian span.cm-hr {
	font-weight: 600;
	color: var(--table-border-color);
}

.HyperMD-codeblock.HyperMD-codeblock-begin,
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
	border-top: 1px solid var(--table-border-color);
	border-top-left-radius: var(--border-radius-small);
	border-top-right-radius: var(--border-radius-small);
}

.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian div.HyperMD-codeblock {
	border-right: 1px solid var(--table-border-color);
	border-left: 1px solid var(--table-border-color);
}

.HyperMD-codeblock.HyperMD-codeblock-end,
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
	border-bottom: 1px solid var(--table-border-color);
	border-bottom-right-radius: var(--border-radius-small);
	border-bottom-left-radius: var(--border-radius-small);
}

.CodeMirror-foldgutter-open::after {
	color: var(--interactive-accent-text);
}

.CodeMirror-foldgutter-open:hover::after {
	color: var(--interactive-accent-hover);
}

.CodeMirror-gutter-elt:hover .CodeMirror-guttermarker-subtle {
	color: var(--interactive-accent-hover);
}

.CodeMirror-foldmarker {
	color: var(--interactive-accent-text);
}

.CodeMirror-foldmarker:hover {
	color: var(--interactive-accent-hover);
}

.CodeMirror-gutter-wrapper {
	display: flex;
	align-content: center;
	align-items: center;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

.markdown-source-view.mod-cm6 .is-unresolved {
	opacity: 0.75;
}

.markdown-source-view.mod-cm6 .cm-gutters {
	padding-right: unset;
	margin-right: 5px;
}

.markdown-source-view.mod-cm6 .cm-fold-indicator:not(.is-collapsed) .collapse-indicator {
	color: var(--interactive-accent-text);
}

.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator:hover {
	color: var(--interactive-accent-hover);
}

.markdown-source-view.mod-cm6 .cm-foldPlaceholder:hover {
	color: var(--interactive-accent-hover);
}

.markdown-source-view.mod-cm6 .cm-scroller {
	padding: 10px;

	.is-mobile & {
		padding: 4px 4px 4px 2px;
	}
}

.markdown-source-view.mod-cm6 .cm-line {
	padding: unset;
}

.cm-line .cm-hashtag-begin {
	padding-left: 0.5ch;
	background-color: var(--background-tertiary);
	border: 2px solid var(--window-border);
	border-right: unset;
	border-top-left-radius: var(--border-radius-small);
	border-bottom-left-radius: var(--border-radius-small);
}

.cm-line .cm-hashtag-end {
	padding-right: 0.5ch;
	background-color: var(--background-tertiary);
	border: 2px solid var(--window-border);
	border-left: unset;
	border-top-right-radius: var(--border-radius-small);
	border-bottom-right-radius: var(--border-radius-small);
}

.cm-s-obsidian span.cm-url {
	color: var(--interactive-accent-text);

	&:hover {
		color: var(--interactive-accent-hover);
	}
}

.cm-s-obsidian span.cm-hashtag {
	font-family: var(--font-text);
	font-weight: 600;
	color: var(--text-normal);
	text-decoration: none;
}

.CodeMirror pre.CodeMirror-line,
.markdown-source-view .cm-line,
.cm-s-obsidian .cm-line {
	line-height: 1.6em;
}

p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}
/* #endregion */

/* #region  [Editor] Edit LT */
.theme-light {
	.cm-s-obsidian {
		span.cm-hmd-escape-backslash {
			color: var(--color-red-text);
		}

		.cm-inline-code,
		.cm-math {
			color: var(--color-red-text);
		}

		.HyperMD-codeblock {
			color: var(--color-muted);
		}

		div.HyperMD-codeblock-bg {
			background-color: var(--background-primary-alt);
		}

		span.cm-inline-code,
		span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
			color: var(--color-red-text);
			background-color: var(--background-primary-alt);
			border-radius: var(--border-radius-small);
		}

		span.cm-footref,
		span.cm-blockid,
		.HyperMD-footnote span.cm-hmd-footnote {
			color: var(--color-grey-text);
		}

		span.cm-link,
		span.cm-hmd-internal-link {
			color: var(--interactive-accent-text);
		}

		.CodeMirror-linenumber,
		.theme-light .CodeMirror-guttermarker-subtle {
			color: var(--color-grey-text);
		}
	}
}

/* #endregion */

/* #region  [Editor] Edit DT */

.theme-dark {
	.cm-s-obsidian {
		span.cm-hmd-escape-backslash {
			color: var(--color-red-text);
		}

		.cm-inline-code,
		.cm-math {
			color: var(--color-red-text);
		}

		.HyperMD-codeblock {
			color: var(--color-muted);
		}

		div.HyperMD-codeblock-bg {
			background-color: var(--background-secondary-alt);
		}

		span.cm-inline-code,
		span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
			color: var(--color-red-text);
			background-color: var(--background-secondary-alt);
			border-radius: var(--border-radius-small);
		}

		span.cm-footref,
		span.cm-blockid,
		.HyperMD-footnote span.cm-hmd-footnote {
			color: var(--color-grey-text);
		}

		span.cm-link,
		span.cm-hmd-internal-link {
			color: var(--interactive-accent-text);
		}

		.CodeMirror-linenumber,
		.CodeMirror-guttermarker-subtle {
			color: var(--text-faint);
		}
	}
}

/* #endregion */
