/* #region  [Editor] Preview Base */
.workspace-split.mod-root .view-content,
.workspace-split.mod-root .workspace-leaf .workspace-leaf-content,
.CodeMirror-gutter.CodeMirror-linenumbers,
.CodeMirror-gutter.CodeMirror-foldgutter {
	background-color: var(--page-background-color);
}

th,
td {
	border-color: var(--table-border-color);
}

table {
	.theme-light & {
		background-color: var(--background-primary-alt);
	}

	.theme-dark & {
		background-color: var(--background-secondary-alt);
	}
}

.markdown-embed,
.file-embed,
.markdown-source-view .markdown-embed,
.markdown-source-view .file-embed {
	border: 1px solid var(--table-border-color);
	border-radius: var(--border-radius-small);
}

.markdown-embed-link,
.file-embed-link {
	top: 2px;
	right: 2px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 4px;
	color: var(--text-muted);
}

.markdown-embed-content > div.markdown-preview-view,
.markdown-source-view .markdown-embed,
.markdown-source-view .file-embed {
	background-color: var(--page-background-color);
}

.markdown-embed .markdown-preview-sizer.markdown-preview-section {
	height: fit-content;
	min-height: unset !important;
	padding: unset !important;
}

.markdown-embed-link:hover,
.file-embed-link:hover {
	color: var(--interactive-accent-hover);
}

.markdown-embed .markdown-preview-section h3[data-heading] {
	margin: unset;
	color: var(--text-normal);
	background: unset !important;
	border: unset !important;
}

.markdown-source-view .markdown-embed,
.markdown-source-view .file-embed {
	padding: unset;
	margin: 10px 0;
}

.markdown-embed .markdown-preview-view {
	padding: 10px;
}

div > :is(h1, h2, h3, h4, h5, h6) > div.heading-collapse-indicator.collapse-indicator.collapse-icon:hover,
.cm-gutterElement > div .collapse-icon:hover {
	color: var(--interactive-accent-hover);
}

div:not(.is-collapsed) > :is(h1, h2, h3, h4, h5, h6) > div.heading-collapse-indicator.collapse-indicator.collapse-icon,
.cm-gutterElement > div:not(.is-collapsed) .collapse-icon {
	color: var(--interactive-accent-text);
}

.hr.cm-line hr {
	border-top: 2px solid var(--table-border-color);
}

.is-mobile .markdown-rendered {
	padding: 6px 6px 6px 20px;
}

.markdown-rendered .internal-link.is-unresolved {
	opacity: 0.75;
}

a.tag[href^="#"] {
	display: inline-flex;
	align-items: center;
	padding: 0 0.5ch;
	font-weight: 600;
	color: var(--text-normal);
	text-decoration: none;
	vertical-align: bottom;
	background-color: var(--background-tertiary);
	border: 2px solid var(--window-border);
	border-radius: var(--border-radius-small);

	&:hover {
		color: var(--interactive-accent-text);
		background-color: var(--background-primary);
		border-color: var(--interactive-accent-tint);
		transition: all ease 200ms;
	}
}

.cm-s-obsidian .HyperMD-quote.HyperMD-quote-1:first-of-type {
	border-top: 1px solid var(--window-border);
}

.markdown-preview-view,
.markdown-rendered 
 {
	code,
	kbd {
		padding: 0 3px;
		font-family: var(--font-monospace);
		border: 1px solid var(--window-border);
		font-weight: 600;
	}

	pre {
		code,
		kbd {
			padding: 0;
		}
	}
}

ul {
	padding-inline-start: 30px;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer,
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-content,
.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row),
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	max-width: var(--custom-readable-line-length);
}

.cm-cursorLayer .cm-cursor {
	border-left-width: 2px;
}

.markdown-source-view.mod-cm6 .cm-foldPlaceholder {
	color: var(--interactive-accent-text);
}
/* #endregion */

/* #region  [Editor] Preview Checkbox */
input[type="checkbox"],
.markdown-preview-view .task-list-item-checkbox {
	top: 5px;
	filter: none;
	border-radius: var(--border-radius-small);
	appearance: unset;

	.theme-light & {
		background-color: var(--background-primary-alt);
		border: var(--border-size) solid var(--background-secondary-alt);
	}

	.theme-dark & {
		background-color: var(--background-primary);
		border: var(--border-size) solid var(--background-primary-alt);
	}

	&:hover {
		border-color: var(--interactive-accent-tint);
	}

	&:checked {
		background: var(--interactive-accent-base);
		border: var(--border-size) solid var(--interactive-accent-tint);
		box-shadow: none;
	}
}
// Checkbox Check icon setup
input[type="checkbox"]:checked:before {
	display: block;
	width: 100%;
	height: 100%;
	content: " ";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTUiIGhlaWdodD0iMTUiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDE5Ljk4MDQ2OSA1Ljk5MDIzNDQgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE5LjI5Mjk2OSA2LjI5Mjk2ODggTCA5IDE2LjU4NTkzOCBMIDUuNzA3MDMxMiAxMy4yOTI5NjkgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDQuMjkyOTY4OCAxNC43MDcwMzEgTCA4LjI5Mjk2ODggMTguNzA3MDMxIEEgMS4wMDAxIDEuMDAwMSAwIDAgMCA5LjcwNzAzMTIgMTguNzA3MDMxIEwgMjAuNzA3MDMxIDcuNzA3MDMxMiBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMTkuOTgwNDY5IDUuOTkwMjM0NCB6Ij48L3BhdGg+PC9zdmc+");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;

	.theme-dark & {
		filter: invert(1);
	}
}

// Copy Button in the Code blocks
button.copy-code-button,
.markdown-rendered button.copy-code-button {
	top: 0;
	right: 0;
	padding: 2px;
	margin: 3px;
	font-family: var(--font-interface);
	font-weight: 600;
	color: var(--text-normal);
	background-color: var(--background-primary);
	border: var(--border-size) solid transparent;
}

.code-block-flair {
	font-weight: 600;
}

.markdown-rendered pre {
	margin: 0.5em 0;
}
/* #endregion */

/* #region  [Editor] Preview Front Matter */
.frontmatter-container {
	padding: 0;
	color: var(--text-muted);
	border: 1px solid var(--table-border-color);
	border-radius: var(--border-radius-small);

	.theme-light & {
		background-color: var(--background-primary-alt);
	}

	.theme-dark & {
		background-color: var(--background-secondary);
	}

	.frontmatter-container-header {
		padding: 8px 8px 8px 12px;
		margin: 0;
		border-bottom: 1px solid var(--table-border-color);
		border-radius: var(--border-radius-small);
	}

	&.is-collapsed .frontmatter-container-header {
		margin: 0;
	}

	.frontmatter-section {
		padding: 4px 12px;
		margin: 0;
	}

	.frontmatter-section-label {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		color: var(--text-normal);
		text-align: center;
	}

	.tag,
	.frontmatter-alias {
		padding: 2px 8px;
		margin: 2px 4px;
		font-size: 0.9em;
		line-height: 19px;
		color: var(--text-normal);
		border: unset;
		border-radius: var(--border-radius-small);

		.theme-light & {
			background-color: var(--background-secondary-alt);
		}

		.theme-dark & {
			background-color: var(--background-primary);
		}
	}

	.frontmatter-alias-icon {
		color: var(--text-faint);
	}
}

/* #endregion */

/* #region  [Editor] Preview LT */
.theme-light {
	.markdown-preview-view blockquote {
		background-color: var(--background-primary-alt);
		border: 1px solid var(--table-border-color);
		border-left-width: 5px;
	}

	.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
		padding: 10px 20px !important;
		margin: 0 30px !important;
		background-color: var(--background-primary-alt);
		border: 1px solid var(--table-border-color);
		border-left-width: 5px;
	}

	.markdown-preview-view hr {
		border-color: var(--table-border-color);
	}

	.markdown-preview-view,
	.markdown-rendered {
		code,
		kbd {
			color: var(--color-red-text);
			background-color: var(--background-primary-alt);
			border-radius: var(--border-radius-small);
		}
	
		pre > code {
			padding: unset;
		}
	} 

	code[class*="language-"],
	pre[class*="language-"] {
		color: var(--text-normal);
	}

	.markdown-preview-view pre,
	.markdown-rendered pre,
	:not(pre) > code[class*="language-"],
	pre[class*="language-"],
	.markdown-preview-view .file-embed {
		color: var(--interactive-accent-text);
		background: var(--background-primary-alt);
		border: 1px solid var(--table-border-color);
		border-radius: var(--border-radius-small);
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		background-color: var(--background-primary-alt);
	}
}
/* #endregion */

/* #region  [Editor] Preview DT */
.theme-dark {
	.markdown-preview-view blockquote {
		background-color: var(--background-secondary-alt);
		border: 1px solid var(--table-border-color);
		border-left-width: 5px;
	}

	.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
		padding: 10px 20px !important;
		margin: 0 30px !important;
		background-color: var(--background-secondary-alt);
		border: 1px solid var(--table-border-color);
		border-left-width: 5px;
	}

	.markdown-preview-view hr {
		border-color: var(--table-border-color);
	}

	.markdown-preview-view,
	.markdown-rendered {
		code,
		kbd {
			color: var(--color-red-text);
			background-color: var(--background-secondary-alt);
			border-radius: var(--border-radius-small);
		}

		pre > code {
			padding: unset;
		}
	}

	.markdown-preview-view pre,
	.markdown-rendered pre,
	:not(pre) > code[class*="language-"],
	pre[class*="language-"],
	.markdown-preview-view .file-embed {
		color: var(--interactive-accent-base);
		background: var(--background-secondary-alt);
		border: 1px solid var(--table-border-color);
		border-radius: var(--border-radius-small);
	}

	code[class*="language-"],
	pre[class*="language-"] {
		color: var(--text-normal);
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		background-color: var(--background-secondary-alt);
	}
}
/* #endregion */

/* #region [Editor] Syntax Highlighting */
.theme-light,
.theme-dark {
	.token.property,
	.token.tag,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.deleted,
	.cm-tag {
		color: var(--color-pink-text);
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted,
	.cm-attribute {
		color: var(--color-green-text);
	}

	.token.atrule,
	.token.attr-value,
	.token.keyword {
		color: var(--color-blue-text);
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.cm-operator,
	.cm-string,
	.cm-string-2,
	.cm-link {
		color: var(--color-orange-text);
	}

	.token.punctuation {
		color: var(--color-grey-text);
	}

	.token.regex,
	.token.important {
		color: var(--color-orange-text);
	}

	.token.function,
	.token.class-name {
		color: var(--color-yellow-text);
	}
}
/* #endregion */
