// Source Mode (YAML) Metadata Properties
.cm-s-obsidian {
	.cm-hmd-frontmatter {
		color: var(--color-blue);

		&.cm-atom,
		&.cm-meta {
			color: var(--text-faint);
		}

		&.cm-keyword {
			color: var(--color-red);
		}

		&.cm-number {
			color: var(--color-green);
		}

		&.cm-def {
			color: var(--text-faint);
		}
	}
}

// Live Preview / Reading Metadata GUI
.metadata-properties-heading {
	display: inline-flex;
	width: 100%;
	padding: var(--size-4-2);
	background-color: var(--background-secondary);
	border: var(--window-border);

	.collapse-indicator {
		position: relative;
		left: unset;
		order: 2;
		opacity: 1;

		.collapse-icon svg.svg-icon {
			width: 18px;
		}
	}
}

.metadata-properties-title {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: unset;
	font-weight: var(--bold-weight);

	// Icon before title
	&::before {
		align-items: center;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-right: var(--size-4-2);
		content: "";
		background-color: var(--text-muted);
		-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-archive'%3E%3Crect width='20' height='5' x='2' y='4' rx='2'/%3E%3Cpath d='M4 9v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9'/%3E%3Cpath d='M10 13h4'/%3E%3C/svg%3E");
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 18px;
	}
}

.cm-editor .metadata-content {
	padding: var(--size-4-3) var(--size-4-2);
	border: var(--window-border);
	border-top: unset;
}

.metadata-property-key {
	align-items: center;
}

.metadata-property-icon {
	height: fit-content;
	padding: var(--size-2-1);
	margin-left: var(--size-4-1);

	&:hover {
		background-color: var(--interactive-accent-base);
		border-radius: var(--radius-s);
	}

	&::before {
		display: none;
	}
}

.metadata-container .metadata-add-button {
	margin-top: var(--size-4-3);
	margin-left: var(--size-4-1);
	border: var(--window-border);
}

.multi-select-container {
	gap: var(--size-4-2);
}

.metadata-property:not([data-property-key="tags"]) .multi-select-pill {
	line-height: unset;
}

.metadata-property[data-property-key="tags"] {
	--pill-radius: var(--radius-s);
}

.workspace-leaf-content[data-type=all-properties] .view-content,
.workspace-leaf-content[data-type=file-properties] .view-content,
.workspace-leaf-content[data-type=properties] .view-content {
	padding: var(--size-4-1);
}