// Source Mode (YAML) Metadata Properties
.cm-s-obsidian {
	.cm-hmd-frontmatter {
		color: var(--color-blue);

		&.cm-atom,
		&.cm-meta {
			color: var(--text-faint);
		}

		&.cm-keyword {
			color: var(--color-red);
		}

		&.cm-number {
			color: var(--color-green);
		}

		&.cm-def {
			color: var(--text-faint);
		}
	}
}

// Live Preview / Reading Metadata GUI
.metadata-properties-heading {
	display: inline-flex;
	width: 100%;
	padding: var(--size-4-2);
	background-color: var(--background-secondary);
	border: var(--window-border);

	.collapse-indicator {
		position: relative;
		left: unset;
		order: 2;
		opacity: 1;

		.collapse-icon svg.svg-icon {
			width: 18px;
		}
	}
}

.metadata-properties-title {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: unset;
	font-weight: var(--bold-weight);

	// Icon before title
	&::before {
		align-items: center;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-right: var(--size-4-2);
		content: "";
		background-color: var(--text-muted);
		-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWRhdGFiYXNlIj48ZWxsaXBzZSBjeD0iMTIiIGN5PSI1IiByeD0iOSIgcnk9IjMiLz48cGF0aCBkPSJNMyA1VjE5QTkgMyAwIDAgMCAyMSAxOVY1Ii8+PHBhdGggZD0iTTMgMTJBOSAzIDAgMCAwIDIxIDEyIi8+PC9zdmc+");
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 18px;
	}
}

.metadata-content {
	padding: var(--size-4-3) var(--size-4-2);
	border: var(--window-border);
	border-top: unset;
}

.metadata-property-key {
	align-items: center;
}

.metadata-property-icon {
	height: fit-content;
	padding: var(--size-2-1);
	margin-left: var(--size-4-1);

	&:hover {
		background-color: var(--interactive-accent-base);
		border-radius: var(--radius-s);
	}

	&::before {
		display: none;
	}
}

.metadata-container .metadata-add-button {
	margin-top: var(--size-4-3);
	margin-left: var(--size-4-1);
	border: var(--window-border);
}

.multi-select-container {
	gap: var(--size-4-2);
}

.metadata-property:not([data-property-key="tags"]) .multi-select-pill {
	line-height: unset;
}

.metadata-property[data-property-key="tags"] {
	--pill-radius: var(--radius-s);
}