/* #region  [Editor] Text Selection */
.theme-light body ::selection,
.theme-light div.view-header-title::selection {
	background-color: var(--text-selection);
	color: var(--highlight-text-normal);
}

.theme-dark body ::selection,
.theme-dark div.view-header-title::selection {
	background-color: var(--text-selection);
	color: var(--text-normal);
}

mark::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
	color: var(--text-normal);
}

.is-flashing,
.is-flashing *,
.cm-s-obsidian span.obsidian-search-match-highlight {
	border-radius: var(--border-radius-small);
	background-color: var(--interactive-accent);
	color: var(--highlight-text-normal);
}
/* #endregion */
