/* #region  [Editor] - Vim */
.cm-vimCursorLayer .cm-fat-cursor {
    outline: solid 1px var(--color-red-text);

	div.cm-focused & {
		color: var(--highlight-text-normal);
		outline: solid 1px  var(--interactive-accent-tint);
	}
}
/* #endregion */
