/* #region  [Color Scheme - Coffee] Light Theme */
.theme-light.pt-color-scheme-latte-lt {
	--grey100: hsl(0 0% 84%);
	--grey200: hsl(0 0% 67%);
	--grey300: hsl(0 0% 49%);
	--red100: hsl(7 80% 88%);
	--red200: hsl(6 70% 74%);
	--red300: hsl(4 62% 55%);
	--orange100: hsl(25 79% 84%);
	--orange200: hsl(27 74% 64%);
	--orange300: hsl(32 100% 37%);
	--yellow100: hsl(47 57% 77%);
	--yellow200: hsl(48 68% 47%);
	--yellow300: hsl(48 100% 30%);
	--green100: hsl(115 35% 81%);
	--green200: hsl(115 34% 60%);
	--green300: hsl(116 71% 33%);
	--mint100: hsl(156 37% 81%);
	--mint200: hsl(159 39% 57%);
	--mint300: hsl(165 100% 28%);
	--cyan100: hsl(192 39% 83%);
	--cyan200: hsl(192 40% 63%);
	--cyan300: hsl(191 75% 36%);
	--blue100: hsl(222 62% 88%);
	--blue200: hsl(222 57% 74%);
	--blue300: hsl(223 54% 58%);
	--purple100: hsl(251 62% 90%);
	--purple200: hsl(252 60% 77%);
	--purple300: hsl(255 56% 63%);
	--pink100: hsl(327 56% 88%);
	--pink200: hsl(326 50% 73%);
	--pink300: hsl(323 46% 55%);

	--color-grey-base-hsl: 356 5% 82%;
	--color-red-base-hsl: 352 70% 83%;
	--color-orange-base-hsl: 18 66% 82%;
	--color-yellow-base-hsl: 35 70% 83%;
	--color-green-base-hsl: 121 37% 81%;
	--color-mint-base-hsl: 149 33% 84%;
	--color-cyan-base-hsl: 180 31% 81%;
	--color-blue-base-hsl: 235 27% 84%;
	--color-purple-base-hsl: 275 38% 82%;
	--color-pink-base-hsl: 325 42% 83%;

	--text-normal: hsl(28 32% 18%);
	--text-muted: hsl(28 32% 35%);
	--text-faint: hsl(28 32% 50%);

	--background-primary: hsl(28 32% 95%);
	--background-primary-alt: hsl(28 32% 93%);
	--background-secondary: hsl(28 32% 90%);
	--background-secondary-blur: hsl(28 32% 90% / 80%);
	--background-secondary-alt: hsl(28 32% 77%);

	--shadow-s: hsl(28 32% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(28 32% 7% / 4%) 0 1px 2px, hsl(28 32% 7% / 4%) 0 2px 4px, hsl(28 32% 7% / 4%) 0 4px 8px, hsl(28 32% 7% / 4%) 0 8px 16px;
}
/* #endregion */

/* #region  [Color Scheme - Coffee] Dark Theme */
.theme-dark.pt-color-scheme-mocha-dt {
	--grey100: hsl(0 0% 18%);
	--grey200: hsl(0 0% 37%);
	--grey300: hsl(0 0% 57%);
	--red100: hsl(0 53% 22%);
	--red200: hsl(0 47% 44%);
	--red300: hsl(0 60% 66%);
	--orange100: hsl(21 59% 18%);
	--orange200: hsl(20 52% 36%);
	--orange300: hsl(20 48% 58%);
	--yellow100: hsl(41 57% 15%);
	--yellow200: hsl(41 48% 30%);
	--yellow300: hsl(41 45% 47%);
	--green100: hsl(123 50% 14%);
	--green200: hsl(123 43% 29%);
	--green300: hsl(123 40% 46%);
	--mint100: hsl(166 74% 12%);
	--mint200: hsl(164 62% 26%);
	--mint300: hsl(164 53% 42%);
	--cyan100: hsl(194 54% 15%);
	--cyan200: hsl(194 47% 32%);
	--cyan300: hsl(194 44% 50%);
	--blue100: hsl(228 45% 23%);
	--blue200: hsl(228 45% 47%);
	--blue300: hsl(228 44% 65%);
	--purple100: hsl(268 49% 25%);
	--purple200: hsl(266 37% 47%);
	--purple300: hsl(263 34% 65%);
	--pink100: hsl(328 48% 21%);
	--pink200: hsl(327 44% 42%);
	--pink300: hsl(331 37% 63%);

	--color-grey-base-hsl: 356 5% 20%;
	--color-red-base-hsl: 352 62% 18%;
	--color-orange-base-hsl: 18 60% 20%;
	--color-yellow-base-hsl: 35 76% 16%;
	--color-green-base-hsl: 121 25% 20%;
	--color-mint-base-hsl: 149 30% 22%;
	--color-cyan-base-hsl: 180 35% 17%;
	--color-blue-base-hsl: 235 30% 21%;
	--color-purple-base-hsl: 275 30% 19%;
	--color-pink-base-hsl: 325 39% 19%;

	--text-normal: hsl(28 32% 85%);
	--text-muted: hsl(28 32% 70%);
	--text-faint: hsl(28 32% 60%);

	--background-primary: hsl(27 30% 13%);
	--background-primary-alt: hsl(28 32% 15.5%);
	--background-secondary: hsl(28 32% 9.2%);
	--background-secondary-blur: hsl(28 32% 9.2% / 80%);
	--background-secondary-alt: hsl(28 32% 6.8%);

	--shadow-s: hsl(28 32% 7% / 50%) 0 1px 2px 0;
	--shadow-l: hsl(28 32% 7% / 50%) 0 1px 2px, hsl(28 32% 7% / 50%) 0 2px 4px, hsl(28 32% 7% / 50%) 0 4px 8px, hsl(28 32% 7% / 50%) 0 8px 16px;
}
/* #endregion */
