/* #region  [Color Scheme - Coffee] Base Colors */
body.theme-light.pt-color-scheme-latte-lt,
body.theme-dark.pt-color-scheme-mocha-dt {
	--color-red-base-h: 352;
	--color-orange-base-h: 18;
	--color-yellow-base-h: 35;
	--color-green-base-h: 121;
	--color-mint-base-h: 149;
	--color-aqua-base-h: 180;
	--color-blue-base-h: 235;
	--color-purple-base-h: 275;
	--color-pink-base-h: 325;
	--color-grey-base-h: 356;
}
/* #endregion */

/* #region  [Color Scheme - Coffee] Light Theme */
.theme-light.pt-color-scheme-latte-lt {
	--color-red-base-s: 70%;
	--color-orange-base-s: 66%;
	--color-yellow-base-s: 70%;
	--color-green-base-s: 37%;
	--color-mint-base-s: 33%;
	--color-aqua-base-s: 31%;
	--color-blue-base-s: 27%;
	--color-purple-base-s: 38%;
	--color-pink-base-s: 42%;
	--color-grey-base-s: 5%;

	--color-red-base-l: 83%;
	--color-orange-base-l: 82%;
	--color-yellow-base-l: 83%;
	--color-green-base-l: 81%;
	--color-mint-base-l: 84%;
	--color-aqua-base-l: 81%;
	--color-blue-base-l: 84%;
	--color-purple-base-l: 82%;
	--color-pink-base-l: 83%;
	--color-grey-base-l: 82%;

	--color-red-tint-l: 71%;
	--color-orange-tint-l: 70%;
	--color-yellow-tint-l: 65%;
	--color-green-tint-l: 65%;
	--color-mint-tint-l: 67%;
	--color-aqua-tint-l: 64%;
	--color-blue-tint-l: 71%;
	--color-purple-tint-l: 70%;
	--color-pink-tint-l: 69%;
	--color-grey-tint-l: 65%;

	--color-red-text-s: 53%;
	--color-orange-text-s: 54%;
	--color-yellow-text-s: 55%;
	--color-green-text-s: 45%;
	--color-mint-text-s: 65%;
	--color-aqua-text-s: 50%;
	--color-blue-text-s: 30%;
	--color-purple-text-s: 36%;
	--color-pink-text-s: 42%;
	--color-grey-text-s: 5%;

	--color-red-text-l: 55%;
	--color-orange-text-l: 52%;
	--color-yellow-text-l: 46%;
	--color-green-text-l: 43%;
	--color-mint-text-l: 40%;
	--color-aqua-text-l: 40%;
	--color-blue-text-l: 56%;
	--color-purple-text-l: 52%;
	--color-pink-text-l: 50%;
	--color-grey-text-l: 47%;

	--text-normal: hsl(28, 32%, 18%);
	--text-muted: hsl(28, 32%, 35%);
	--text-faint: hsl(28, 32%, 50%);

	--background-primary: hsl(28, 32%, 95%);
	--background-primary-alt: hsl(28, 32%, 93%);
	--background-secondary: hsl(28, 32%, 90%);
	--background-secondary-blur: hsla(28, 32%, 90%, 0.75);
	--background-secondary-alt: hsl(28, 32%, 78%);
	--background-tertiary: hsl(28, 32%, 91.8%);

	--background-color-lt: hsl(28, 32%, 83.8%);

	--vertical-lines-color-file-explorer: hsl(28, 32%, 80%);
	--vertical-lines-color-outline: hsl(28, 32%, 80%);
	--vertical-lines-color-style-settings: hsl(28, 32%, 78%);

	--drop-shadow: hsla(28, 32%, 7%, 0.1) 0px 1px 2px 0px;
	--drop-shadow-popup: hsla(28, 32%, 7%, 0.04) 0px 1px 2px, hsla(28, 32%, 7%, 0.04) 0px 2px 4px, hsla(28, 32%, 7%, 0.04) 0px 4px 8px, hsla(28, 32%, 7%, 0.04) 0px 8px 16px;

	--scroll-bar-thumb: hsl(28, 32%, 80%);
}
/* #endregion */

/* #region  [Color Scheme - Coffee] Dark Theme */
.theme-dark.pt-color-scheme-mocha-dt {
	--color-red-base-s: 62%;
	--color-orange-base-s: 60%;
	--color-yellow-base-s: 76%;
	--color-green-base-s: 25%;
	--color-mint-base-s: 30%;
	--color-aqua-base-s: 35%;
	--color-blue-base-s: 30%;
	--color-purple-base-s: 30%;
	--color-pink-base-s: 39%;
	--color-grey-base-s: 5%;

	--color-red-base-l: 18%;
	--color-orange-base-l: 20%;
	--color-yellow-base-l: 16%;
	--color-green-base-l: 20%;
	--color-mint-base-l: 22%;
	--color-aqua-base-l: 17%;
	--color-blue-base-l: 21%;
	--color-purple-base-l: 19%;
	--color-pink-base-l: 19%;
	--color-grey-base-l: 20%;

	--color-red-tint-l: 31%;
	--color-orange-tint-l: 33%;
	--color-yellow-tint-l: 28%;
	--color-green-tint-l: 34%;
	--color-mint-tint-l: 35%;
	--color-aqua-tint-l: 30%;
	--color-blue-tint-l: 40%;
	--color-purple-tint-l: 36%;
	--color-pink-tint-l: 33%;
	--color-grey-tint-l: 34%;

	--color-red-text-s: 72%;
	--color-orange-text-s: 75%;
	--color-yellow-text-s: 65%;
	--color-green-text-s: 44%;
	--color-mint-text-s: 52%;
	--color-aqua-text-s: 46%;
	--color-blue-text-s: 60%;
	--color-purple-text-s: 60%;
	--color-pink-text-s: 62%;
	--color-grey-text-s: 5%;

	--color-red-text-l: 66%;
	--color-orange-text-l: 64%;
	--color-yellow-text-l: 56%;
	--color-green-text-l: 55%;
	--color-mint-text-l: 55%;
	--color-aqua-text-l: 48%;
	--color-blue-text-l: 75%;
	--color-purple-text-l: 69%;
	--color-pink-text-l: 68%;
	--color-grey-text-l: 69%;

	--text-normal: hsl(28, 32%, 85%);
	--text-muted: hsl(28, 32%, 70%);
	--text-faint: hsl(28, 32%, 60%);

	--background-primary: hsl(28, 32%, 14%);
	--background-primary-alt: hsl(28, 32%, 18%);
	--background-secondary: hsl(28, 32%, 9.2%);
	--background-secondary-blur: hsla(28, 32%, 9.2%, 0.75);
	--background-secondary-alt: hsl(28, 32%, 6.8%);
	--background-tertiary: hsl(28, 32%, 7.2%);

	--background-color-dt: hsl(28, 32%, 6.2%);

	--vertical-lines-color-file-explorer: hsl(28, 32%, 18%);
	--vertical-lines-color-outline: hsl(28, 32%, 18%);
	--vertical-lines-color-style-settings: hsl(28, 32%, 14%);

	--drop-shadow: hsla(28, 32%, 7%, 0.5) 0px 1px 2px 0px;
	--drop-shadow-popup: hsla(28, 32%, 7%, 0.5) 0px 1px 2px, hsla(28, 32%, 7%, 0.5) 0px 2px 4px, hsla(28, 32%, 7%, 0.5) 0px 4px 8px, hsla(28, 32%, 7%, 0.5) 0px 8px 16px;

	--scroll-bar-thumb: hsl(28, 32%, 20%);
}
/* #endregion */