/* #region  [Color Scheme - Forest] Light Theme */
.theme-light.pt-color-scheme-pistachio-lt {
	--grey100: hsl(233 5% 82%);
	--grey200: hsl(233 5% 68%);
	--grey300: hsl(233 5% 47%);
	--red100: hsl(355 70% 83%);
	--red200: hsl(355 70% 74%);
	--red300: hsl(355 53% 55%);
	--orange100: hsl(21 66% 82%);
	--orange200: hsl(21 66% 73%);
	--orange300: hsl(21 54% 52%);
	--yellow100: hsl(40 70% 83%);
	--yellow200: hsl(40 70% 70%);
	--yellow300: hsl(40 55% 46%);
	--green100: hsl(110 35% 81%);
	--green200: hsl(110 35% 68%);
	--green300: hsl(110 45% 40%);
	--mint100: hsl(151 40% 82%);
	--mint200: hsl(151 40% 67%);
	--mint300: hsl(151 58% 38%);
	--cyan100: hsl(190 31% 85%);
	--cyan200: hsl(190 31% 72%);
	--cyan300: hsl(190 50% 40%);
	--blue100: hsl(222 27% 84%);
	--blue200: hsl(222 27% 74%);
	--blue300: hsl(222 30% 56%);
	--purple100: hsl(260 38% 82%);
	--purple200: hsl(260 38% 73%);
	--purple300: hsl(260 36% 51%);
	--pink100: hsl(323 42% 83%);
	--pink200: hsl(323 42% 72%);
	--pink300: hsl(323 42% 50%);

	--text-normal: hsl(135 35% 20%);
	--text-muted: hsl(135 35% 30%);
	--text-faint: hsl(135 35% 40%);

	--background-primary: hsl(135 35% 95.5%);
	--background-primary-alt: hsl(135 35% 93%);
	--background-secondary: hsl(135 35% 90.5%);
	--background-secondary-blur: hsl(135 35% 90.5% / 80%);
	--background-secondary-alt: hsl(135 35% 75%);

	--shadow-s: hsl(135 35% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(135 35% 7% / 4%) 0 1px 2px, hsl(135 35% 7% / 4%) 0 2px 4px, hsl(135 35% 7% / 4%) 0 4px 8px, hsl(135 35% 7% / 4%) 0 8px 16px;
}
/* #endregion */

/* #region  [Color Scheme - Forest] Dark Theme */
.theme-dark.pt-color-scheme-pine-dt {
	--grey100: hsl(233 2% 23%);
	--grey200: hsl(233 2% 42%);
	--grey300: hsl(233 2% 71%);
	--red100: hsl(355 58% 21%);
	--red200: hsl(355 58% 40%);
	--red300: hsl(355 74% 70%);
	--orange100: hsl(21 62% 22%);
	--orange200: hsl(21 62% 40%);
	--orange300: hsl(21 72% 62%);
	--yellow100: hsl(40 70% 20%);
	--yellow200: hsl(40 70% 33%);
	--yellow300: hsl(40 70% 53%);
	--green100: hsl(110 35% 23%);
	--green200: hsl(110 35% 37%);
	--green300: hsl(110 48% 52%);
	--mint100: hsl(151 31% 25%);
	--mint200: hsl(151 31% 38%);
	--mint300: hsl(151 58% 52%);
	--cyan100: hsl(190 38% 20%);
	--cyan200: hsl(190 38% 35%);
	--cyan300: hsl(190 50% 53%);
	--blue100: hsl(222 30% 24%);
	--blue200: hsl(222 30% 46%);
	--blue300: hsl(222 70% 70%);
	--purple100: hsl(260 40% 22%);
	--purple200: hsl(260 40% 47%);
	--purple300: hsl(260 65% 73%);
	--pink100: hsl(323 46% 22%);
	--pink200: hsl(323 46% 42%);
	--pink300: hsl(323 67% 73%);

	--text-normal: hsl(135 35% 85%);
	--text-muted: hsl(135 35% 70%);
	--text-faint: hsl(135 35% 60%);

	--background-primary: hsl(135 35% 12%);
	--background-primary-alt: hsl(135 35% 15.5%);
	--background-secondary: hsl(135 35% 7.7%);
	--background-secondary-blur: hsl(135 35% 7.7% / 80%);
	--background-secondary-alt: hsl(135 35% 6%);

	--shadow-s: hsl(135 35% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(135 35% 7% / 10%) 0 1px 2px, hsl(135 35% 7% / 10%) 0 2px 4px, hsl(135 35% 7% / 10%) 0 4px 8px, hsl(135 35% 7% / 10%) 0 8px 16px;
}
/* #endregion */
