/* #region  [Color Scheme - Default] Base Colors */
body.theme-light.pt-color-scheme-default-lt,
body.theme-dark.pt-color-scheme-default-dt {
	--color-red-h: 0;
	--color-orange-h: 30;
	--color-yellow-h: 45;
	--color-green-h: 95;
	--color-mint-h: 160;
	--color-aqua-h: 185;
	--color-blue-h: 217;
	--color-purple-h: 257;
	--color-pink-h: 300;
	--color-grey-h: 0;
}
/* #endregion */

/* #region  [Color Scheme - Default] Light Theme */
.theme-light.pt-color-scheme-default-lt {
	--color-red-s-desaturated: 84%;
	--color-orange-s-desaturated: 72%;
	--color-yellow-s-desaturated: 74%;
	--color-green-s-desaturated: 52%;
	--color-mint-s-desaturated: 57%;
	--color-aqua-s-desaturated: 67%;
	--color-blue-s-desaturated: 66%;
	--color-purple-s-desaturated: 82%;
	--color-pink-s-desaturated: 66%;
	--color-grey-s-desaturated: 0%;

	--color-red-l-darkened: 88%;
	--color-orange-l-darkened: 82%;
	--color-yellow-l-darkened: 83%;
	--color-green-l-darkened: 83%;
	--color-mint-l-darkened: 83%;
	--color-aqua-l-darkened: 82%;
	--color-blue-l-darkened: 86%;
	--color-purple-l-darkened: 91%;
	--color-pink-l-darkened: 90%;
	--color-grey-l-darkened: 90%;

	--color-red-l-darkened2x: 75%;
	--color-orange-l-darkened2x: 60%;
	--color-yellow-l-darkened2x: 49%;
	--color-green-l-darkened2x: 57%;
	--color-mint-l-darkened2x: 60%;
	--color-aqua-l-darkened2x: 58%;
	--color-blue-l-darkened2x: 72%;
	--color-purple-l-darkened2x: 78%;
	--color-pink-l-darkened2x: 73%;
	--color-grey-l-darkened2x: 73%;

	--color-red-s-desaturated-text: 70%;
	--color-orange-s-desaturated-text: 88%;
	--color-yellow-s-desaturated-text: 88%;
	--color-green-s-desaturated-text: 75%;
	--color-mint-s-desaturated-text: 88%;
	--color-aqua-s-desaturated-text: 75%;
	--color-blue-s-desaturated-text: 70%;
	--color-purple-s-desaturated-text: 80%;
	--color-pink-s-desaturated-text: 70%;
	--color-grey-s-desaturated-text: 0%;

	--color-red-l-darkened-text: 58%;
	--color-orange-l-darkened-text: 41%;
	--color-yellow-l-darkened-text: 35%;
	--color-green-l-darkened-text: 34%;
	--color-mint-l-darkened-text: 32%;
	--color-aqua-l-darkened-text: 37%;
	--color-blue-l-darkened-text: 53%;
	--color-purple-l-darkened-text: 61%;
	--color-pink-l-darkened-text: 47%;
	--color-grey-l-darkened-text: 48%;

	/* Light Theme Main Obsidian Colors */
	--text-normal: hsl(0, 0%, 20%);
	--text-muted: hsl(0, 0%, 40%);
	--text-faint: hsl(0, 0%, 50%);
	--text-selection: var(--background-secondary-alt);
	--text-error: var(--color-red-dark);

	--text-highlight-bg: var(--interactive-accent-dark);

	--highlight-text-normal: hsl(0, 0%, 20%);
	--highlight-text-dark: hsl(0, 0%, 20%);
	--highlight-text-accent-custom-lt: hsl(0, 0%, 100%);

	--background-primary: hsl(0, 0%, 100%);
	--background-primary-alt: hsl(0, 0%, 97%);
	--background-secondary: hsl(0, 0%, 96.5%);
	--background-secondary-blur: hsl(0, 0%, 96.5%, 0.75);
	--background-secondary-alt: hsl(0, 0%, 86%);
	--background-modifier-error: var(--color-red-dark);

	--tab-label-background-color: hsl(0, 0%, 94.5%);
	--page-background-color: var(--background-primary);

	--background-color-lt: hsl(0, 0%, 88%);

	--file-explorer-vertical-lines-color: hsla(0, 0%, 60%, 0.3);
	--style-settings-vertical-lines-color: hsla(0, 0%, 60%, 0.3);
	--outline-vertical-lines-color: hsla(0, 0%, 60%, 0.3);

	--window-border: var(--background-secondary-alt);
	--drop-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
	--drop-shadow-popup: rgba(0, 0, 0, 0.018) 0px 1px 2px, rgba(0, 0, 0, 0.018) 0px 2px 4px, rgba(0, 0, 0, 0.018) 0px 4px 8px, rgba(0, 0, 0, 0.09) 0px 8px 12px;

	--scroll-bar-thumb: hsla(0, 0%, 83%, 1);

	--table-border-color: var(--background-secondary-alt);
	--background-modifier-border: var(--table-border-color);

	/* Scrollbar Settings */
	--scroll-button-background-color: var(--background-secondary);
	--scroll-button-background-color-hover: var(--background-secondary-alt);

	&.pt-disable-blur {
		--background-secondary-blur: hsl(220, 13%, 95%, 1);
	}

	&.pt-highlight-text-light-lt {
		--highlight-text-normal: hsl(0, 0%, 100%);
	}

	&.pt-highlight-text-accent-lt {
		--highlight-text-normal: var(--interactive-accent-text);
	}

	&.pt-highlight-text-custom-lt {
		--highlight-text-normal: var(--highlight-text-accent-custom-lt);
	}
}
/* #endregion */

/* #region  [Color Scheme - Default] Dark Theme */
.theme-dark.pt-color-scheme-default-dt {
	--color-red-s-desaturated: 48%;
	--color-orange-s-desaturated: 56%;
	--color-yellow-s-desaturated: 53%;
	--color-green-s-desaturated: 38%;
	--color-mint-s-desaturated: 38%;
	--color-aqua-s-desaturated: 38%;
	--color-blue-s-desaturated: 41%;
	--color-purple-s-desaturated: 38%;
	--color-pink-s-desaturated: 38%;
	--color-grey-s-desaturated: 0%;

	--color-red-l-darkened: 27%;
	--color-orange-l-darkened: 27%;
	--color-yellow-l-darkened: 26%;
	--color-green-l-darkened: 25%;
	--color-mint-l-darkened: 25%;
	--color-aqua-l-darkened: 25%;
	--color-blue-l-darkened: 27%;
	--color-purple-l-darkened: 25%;
	--color-pink-l-darkened: 22%;
	--color-grey-l-darkened: 28%;

	--color-red-l-darkened2x: 48%;
	--color-orange-l-darkened2x: 43%;
	--color-yellow-l-darkened2x: 43%;
	--color-green-l-darkened2x: 42%;
	--color-mint-l-darkened2x: 43%;
	--color-aqua-l-darkened2x: 44%;
	--color-blue-l-darkened2x: 47%;
	--color-purple-l-darkened2x: 51%;
	--color-pink-l-darkened2x: 45%;
	--color-grey-l-darkened2x: 49%;

	--color-red-s-desaturated-text: 78%;
	--color-orange-s-desaturated-text: 72%;
	--color-yellow-s-desaturated-text: 68%;
	--color-green-s-desaturated-text: 52%;
	--color-mint-s-desaturated-text: 64%;
	--color-aqua-s-desaturated-text: 62%;
	--color-blue-s-desaturated-text: 64%;
	--color-purple-s-desaturated-text: 64%;
	--color-pink-s-desaturated-text: 62%;
	--color-grey-s-desaturated-text: 0%;

	--color-red-l-darkened-text: 74%;
	--color-orange-l-darkened-text: 67%;
	--color-yellow-l-darkened-text: 62%;
	--color-green-l-darkened-text: 56%;
	--color-mint-l-darkened-text: 59%;
	--color-aqua-l-darkened-text: 60%;
	--color-blue-l-darkened-text: 71%;
	--color-purple-l-darkened-text: 73%;
	--color-pink-l-darkened-text: 71%;
	--color-grey-l-darkened-text: 70%;

	/* Dark Theme Main Obsidian Colors */
	--text-normal: hsl(0, 0%, 83%);
	--text-muted: hsl(0, 0%, 72%);
	--text-faint: hsl(0, 0%, 52%);
	--text-selection: var(--background-primary-alt);
	--text-error: var(--color-red-dark);

	--text-highlight-bg: var(--interactive-accent-dark);

	--highlight-text-normal: hsl(0, 0%, 8%);
	--highlight-text-dark: hsl(0, 0%, 8%);
	--highlight-text-accent-custom-dt: hsl(0, 0%, 100%);

	--background-primary: hsl(0, 0%, 15%);
	--background-primary-alt: hsl(0, 0%, 22%);
	--background-secondary: hsl(0, 0%, 8%);
	--background-secondary-blur: hsla(0, 0%, 8%, 0.75);
	--background-secondary-alt: hsl(0, 0%, 7%);
	--background-modifier-error: var(--color-red-dark);

	--tab-label-background-color: hsl(0, 0%, 7.5%);
	--page-background-color: var(--background-secondary);

	--background-color-dt: hsl(0, 0%, 5%);

	--file-explorer-vertical-lines-color: hsl(0, 0%, 20%);
	--style-settings-vertical-lines-color: hsl(0, 0%, 20%);
	--outline-vertical-lines-color: hsl(0, 0%, 20%);

	--window-border: var(--background-primary);
	--drop-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
	--drop-shadow-popup: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 4px 8px, rgba(0, 0, 0, 0.05) 0px 8px 16px, rgba(0, 0, 0, 0.05) 0px 16px 32px,
		rgba(0, 0, 0, 0.05) 0px 32px 64px;

	--scroll-bar-thumb: hsl(0, 0%, 22%);

	--table-border-color: var(--background-primary-alt);
	--background-modifier-border: var(--table-border-color);

	/* Scrollbar Settings */
	--scroll-button-background-color: var(--background-secondary);
	--scroll-button-background-color-hover: var(--background-secondary-alt);

	&.pt-disable-blur {
		--background-secondary-blur: hsla(0, 0%, 9%, 1);
	}

	&.pt-highlight-text-light-dt {
		--highlight-text-normal: hsl(0, 0%, 90%);
	}

	&.pt-highlight-text-accent-dt {
		--highlight-text-normal: var(--interactive-accent-text);
	}

	&.pt-highlight-text-custom-dt {
		--highlight-text-normal: var(--highlight-text-accent-custom-dt);
	}
}
/* #endregion */
