// [Color Scheme - Flower] Light Theme
.theme-light.pt-color-scheme-periwinkle-lt {
	// The color variables below are comma separated HSL values. This format is necessary for using these
	// variables down the line in the theme and being able to create variants with varying alpha values (HSLA).
	
	// Base colours are used for the backgrounds in the accented color areas.
	--color-grey-base-hsl:     0,   0%, 92%;
	--color-red-base-hsl:      6, 100%, 94%;
	--color-orange-base-hsl:  30, 100%, 91%;
	--color-yellow-base-hsl:  42,  80%, 88%;
	--color-green-base-hsl:  100,  52%, 89%;
	--color-mint-base-hsl:   153,  65%, 88%;
	--color-cyan-base-hsl:   185,  63%, 88%;
	--color-blue-base-hsl:   220, 100%, 94%;
	--color-purple-base-hsl: 250, 100%, 95%;
	--color-pink-base-hsl:   329,  86%, 94%;

	// Tint colours are used for the borders in the accented color areas.
	--color-grey-tint-hsl:     0,   0%, 75%;
	--color-red-tint-hsl:      8,  88%, 81%;
	--color-orange-tint-hsl:  31,  90%, 69%;
	--color-yellow-tint-hsl:  45,  60%, 64%;
	--color-green-tint-hsl:   99,  52%, 62%;
	--color-mint-tint-hsl:   159,  64%, 55%;
	--color-cyan-tint-hsl:   184,  67%, 58%;
	--color-blue-tint-hsl:   219,  96%, 81%;
	--color-purple-tint-hsl: 252, 100%, 86%;
	--color-pink-tint-hsl:   327,  77%, 81%;

	// Text colours are used for the Text in the accented color areas and other Text areas which use the theme colours
	// e.g. Syntax Highlighting, Mark Highlight System, etc.
	--color-grey-text-hsl:     0,   0%, 50%;
	--color-red-text-hsl:      3,  73%, 55%;
	--color-orange-text-hsl:  31, 100%, 38%;
	--color-yellow-text-hsl:  39,  78%, 37%;
	--color-green-text-hsl:   93, 100%, 28%;
	--color-mint-text-hsl:   161, 100%, 28%;
	--color-cyan-text-hsl:   184, 100%, 29%;
	--color-blue-text-hsl:   221,  87%, 60%;
	--color-purple-text-hsl: 257,  92%, 68%;
	--color-pink-text-hsl:   321,  67%, 54%;

	// Default theme variable overwrites for different shades of text used in the editor and around the UI.
	--text-normal-hsl: 221, 55%, 15%;
	--text-muted-hsl:  221, 55%, 20%;
	--text-faint-hsl:  221, 55%, 35%;

	// Default theme variable overwrites for the UI background colours.
	--background-primary-hsl:        221, 55%, 98%;
	--background-primary-alt-hsl:    221, 55%, 95%;
	--background-secondary-hsl:      221, 55%, 92%;
	--background-secondary-blur-hsl: 221, 55%, 91%;
	--background-secondary-alt-hsl:  221, 55%, 72%;

	// Default theme variable overwrites for shadows used on modals and popups.
	--shadow-color-hsl: 221, 55%, 7%;
	--shadow-s: hsla(var(--shadow-color-hsl), 10%) 0 1px 2px 0;
	--shadow-l: hsla(var(--shadow-color-hsl), 4%) 0 1px 2px, hsla(var(--shadow-color-hsl), 4%) 0 2px 4px, hsla(var(--shadow-color-hsl), 4%) 0 4px 8px, hsla(var(--shadow-color-hsl), 4%) 0 6px 12px;
}

// [Color Scheme - Flower] Dark Theme
.theme-dark.pt-color-scheme-indigo-dt {
	// The color variables below are comma separated HSL values. This format is necessary for using these
	// variables down the line in the theme and being able to create variants with varying alpha values (HSLA).

	// Base colours are used for the backgrounds in the accented color areas.
	--color-grey-base-hsl:     0,  0%, 17%;
	--color-red-base-hsl:      2, 50%, 20%;
	--color-orange-base-hsl:  26, 58%, 16%;
	--color-yellow-base-hsl:  43, 64%, 13%;
	--color-green-base-hsl:  124, 48%, 14%;
	--color-mint-base-hsl:   165, 75%, 11%;
	--color-cyan-base-hsl:   196, 57%, 15%;
	--color-blue-base-hsl:   225, 47%, 21%;
	--color-purple-base-hsl: 271, 45%, 22%;
	--color-pink-base-hsl:   326, 50%, 20%;

	// Tint colours are used for the borders in the accented color areas.
	--color-grey-tint-hsl:     0,  0%, 41%;
	--color-red-tint-hsl:      4, 46%, 47%;
	--color-orange-tint-hsl:  26, 49%, 38%;
	--color-yellow-tint-hsl:  43, 53%, 32%;
	--color-green-tint-hsl:  123, 39%, 33%;
	--color-mint-tint-hsl:   164, 61%, 29%;
	--color-cyan-tint-hsl:   196, 48%, 36%;
	--color-blue-tint-hsl:   225, 42%, 50%;
	--color-purple-tint-hsl: 271, 41%, 51%;
	--color-pink-tint-hsl:   326, 44%, 46%;

	// Text colours are used for the Text in the accented color areas and other Text areas which use the theme colours
	// e.g. Syntax Highlighting, Mark Highlight System, etc.
	--color-grey-text-hsl:     0,  0%, 65%;
	--color-red-text-hsl:      4, 69%, 72%;
	--color-orange-text-hsl:  26, 74%, 61%;
	--color-yellow-text-hsl:  43, 53%, 52%;
	--color-green-text-hsl:  123, 43%, 54%;
	--color-mint-text-hsl:   165, 56%, 46%;
	--color-cyan-text-hsl:   196, 60%, 57%;
	--color-blue-text-hsl:   226, 56%, 72%;
	--color-purple-text-hsl: 267, 48%, 73%;
	--color-pink-text-hsl:   329, 60%, 71%;

	// Default theme variable overwrites for different shades of text used in the editor and around the UI.
	--text-normal-hsl: 225, 40%, 91%;
	--text-muted-hsl:  225, 40%, 86%;
	--text-faint-hsl:  225, 40%, 81%;

	// Default theme variable overwrites for the UI background colours.
	--background-primary-hsl:        225, 40%, 20%;
	--background-primary-alt-hsl:    225, 40%, 33%;
	--background-secondary-hsl:      225, 40%, 13%;
	--background-secondary-blur-hsl: 225, 40%, 14%;
	--background-secondary-alt-hsl:  225, 40%,  9%;

	// Default theme variable overwrites for shadows used on modals and popups.
	--shadow-color-hsl: 225, 40%, 7%;
	--shadow-s: hsla(var(--shadow-color-hsl), 10%) 0 1px 2px 0;
	--shadow-l: hsla(var(--shadow-color-hsl), 10%) 0 1px 2px, hsla(var(--shadow-color-hsl), 10%) 0 2px 4px, hsla(var(--shadow-color-hsl), 10%) 0 4px 8px, hsla(var(--shadow-color-hsl), 10%) 0 6px 12px;
}