/* #region  [Color Scheme - Flower] Light Theme */
.theme-light.pt-color-scheme-periwinkle-lt {
	--grey100: hsl(0 0% 84%);
	--grey200: hsl(0 0% 67%);
	--grey300: hsl(0 0% 49%);
	--red100: hsl(8 84% 88%);
	--red200: hsl(7 75% 74%);
	--red300: hsl(5 66% 55%);
	--orange100: hsl(26 81% 83%);
	--orange200: hsl(28 77% 63%);
	--orange300: hsl(31 100% 38%);
	--yellow100: hsl(46 59% 77%);
	--yellow200: hsl(50 100% 40%);
	--yellow300: hsl(47 100% 30%);
	--green100: hsl(113 37% 81%);
	--green200: hsl(114 36% 59%);
	--green300: hsl(114 96% 29%);
	--mint100: hsl(157 41% 80%);
	--mint200: hsl(160 41% 56%);
	--mint300: hsl(165 100% 28%);
	--cyan100: hsl(193 42% 82%);
	--cyan200: hsl(193 42% 62%);
	--cyan300: hsl(189 100% 32%);
	--blue100: hsl(221 65% 88%);
	--blue200: hsl(220 63% 74%);
	--blue300: hsl(222 59% 58%);
	--purple100: hsl(250 69% 90%);
	--purple200: hsl(252 66% 78%);
	--purple300: hsl(256 62% 64%);
	--pink100: hsl(328 58% 88%);
	--pink200: hsl(325 53% 73%);
	--pink300: hsl(323 49% 55%);

	--color-grey-base-hsl: 0 0% 84%;
	--color-red-base-hsl: 8 84% 88%;
	--color-orange-base-hsl: 26 81% 83%;
	--color-yellow-base-hsl: 46 59% 77%;
	--color-green-base-hsl: 113 37% 81%;
	--color-mint-base-hsl: 157 41% 80%;
	--color-cyan-base-hsl: 193 42% 82%;
	--color-blue-base-hsl: 221 65% 88%;
	--color-purple-base-hsl: 250 69% 90%;
	--color-pink-base-hsl: 328 58% 88%;

	--text-normal: hsl(225 35% 30%);
	--text-muted: hsl(225 35% 40%);
	--text-faint: hsl(225 35% 50%);

	--background-primary: hsl(225 35% 95%);
	--background-primary-alt: hsl(225 35% 93%);
	--background-secondary: hsl(225 35% 90%);
	--background-secondary-blur: hsl(225 35% 90% / 80%);
	--background-secondary-alt: hsl(225 35% 79%);

	--shadow-s: hsl(225 35% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(225 35% 7% / 4%) 0 1px 2px, hsl(225 35% 7% / 4%) 0 2px 4px, hsl(225 35% 7% / 4%) 0 4px 8px, hsl(225 35% 7% / 4%) 0 8px 16px;
}
/* #endregion */

/* #region  [Color Scheme - Flower] Dark Theme */
.theme-dark.pt-color-scheme-indigo-dt {
	--grey100: hsl(0 0% 18%);
	--grey200: hsl(0 0% 37%);
	--grey300: hsl(0 0% 58%);
	--red100: hsl(0 53% 22%);
	--red200: hsl(0 47% 44%);
	--red300: hsl(0 60% 66%);
	--orange100: hsl(21 59% 18%);
	--orange200: hsl(20 53% 36%);
	--orange300: hsl(20 49% 58%);
	--yellow100: hsl(41 55% 15%);
	--yellow200: hsl(41 48% 30%);
	--yellow300: hsl(41 46% 48%);
	--green100: hsl(122 49% 15%);
	--green200: hsl(123 43% 29%);
	--green300: hsl(123 40% 46%);
	--mint100: hsl(166 74% 12%);
	--mint200: hsl(165 61% 26%);
	--mint300: hsl(164 53% 42%);
	--cyan100: hsl(194 54% 15%);
	--cyan200: hsl(194 47% 32%);
	--cyan300: hsl(194 44% 50%);
	--blue100: hsl(228 44% 24%);
	--blue200: hsl(227 44% 47%);
	--blue300: hsl(228 44% 65%);
	--purple100: hsl(268 49% 25%);
	--purple200: hsl(267 37% 47%);
	--purple300: hsl(264 34% 65%);
	--pink100: hsl(327 49% 21%);
	--pink200: hsl(327 43% 42%);
	--pink300: hsl(330 37% 63%);

	--color-grey-base-hsl: 0 0% 18%;
	--color-red-base-hsl: 0 53% 22%;
	--color-orange-base-hsl: 21 59% 19%;
	--color-yellow-base-hsl: 41 55% 15%;
	--color-green-base-hsl: 122 49% 15%;
	--color-mint-base-hsl: 166 74% 12%;
	--color-cyan-base-hsl: 194 54% 15%;
	--color-blue-base-hsl: 228 44% 24%;
	--color-purple-base-hsl: 268 49% 25%;
	--color-pink-base-hsl: 327 49% 21%;

	--text-normal: hsl(245 30% 85%);
	--text-muted: hsl(245 30% 70%);
	--text-faint: hsl(245 30% 65%);

	--background-primary: hsl(245 30% 16%);
	--background-primary-alt: hsl(245 30% 25%);
	--background-secondary: hsl(245 30% 12%);
	--background-secondary-blur: hsl(245 30% 12% / 80%);
	--background-secondary-alt: hsl(245 30% 8.5%);

	--shadow-s: hsl(245 30% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(245 30% 7% / 10%) 0 1px 2px, hsl(245 30% 7% / 10%) 0 2px 4px, hsl(245 30% 7% / 10%) 0 4px 8px, hsl(245 30% 7% / 10%) 0 8px 16px;
}
/* #endregion */
