/* #region  [Color Scheme - Default] Base Colors */
body.theme-light.pt-color-scheme-default-lt,
body.theme-dark.pt-color-scheme-default-dt {
	--color-red-base-h: 0;
	--color-orange-base-h: 30;
	--color-yellow-base-h: 45;
	--color-green-base-h: 95;
	--color-mint-base-h: 160;
	--color-aqua-base-h: 185;
	--color-blue-base-h: 217;
	--color-purple-base-h: 257;
	--color-pink-base-h: 300;
	--color-grey-base-h: 0;
}
/* #endregion */

/* #region  [Color Scheme - Default] Light Theme */
.theme-light.pt-color-scheme-default-lt {
	--color-red-base-s: 84%;
	--color-orange-base-s: 72%;
	--color-yellow-base-s: 74%;
	--color-green-base-s: 52%;
	--color-mint-base-s: 57%;
	--color-aqua-base-s: 67%;
	--color-blue-base-s: 66%;
	--color-purple-base-s: 82%;
	--color-pink-base-s: 66%;
	--color-grey-base-s: 0%;

	--color-red-base-l: 88%;
	--color-orange-base-l: 82%;
	--color-yellow-base-l: 83%;
	--color-green-base-l: 83%;
	--color-mint-base-l: 83%;
	--color-aqua-base-l: 82%;
	--color-blue-base-l: 86%;
	--color-purple-base-l: 91%;
	--color-pink-base-l: 90%;
	--color-grey-base-l: 85%;

	--color-red-tint-l: 75%;
	--color-orange-tint-l: 60%;
	--color-yellow-tint-l: 49%;
	--color-green-tint-l: 57%;
	--color-mint-tint-l: 60%;
	--color-aqua-tint-l: 58%;
	--color-blue-tint-l: 72%;
	--color-purple-tint-l: 78%;
	--color-pink-tint-l: 73%;
	--color-grey-tint-l: 68%;

	--color-red-text-s: 70%;
	--color-orange-text-s: 88%;
	--color-yellow-text-s: 88%;
	--color-green-text-s: 75%;
	--color-mint-text-s: 88%;
	--color-aqua-text-s: 75%;
	--color-blue-text-s: 70%;
	--color-purple-text-s: 80%;
	--color-pink-text-s: 70%;
	--color-grey-text-s: 0%;

	--color-red-text-l: 58%;
	--color-orange-text-l: 41%;
	--color-yellow-text-l: 35%;
	--color-green-text-l: 34%;
	--color-mint-text-l: 32%;
	--color-aqua-text-l: 37%;
	--color-blue-text-l: 53%;
	--color-purple-text-l: 61%;
	--color-pink-text-l: 47%;
	--color-grey-text-l: 42%;

	--text-normal: hsl(0, 0%, 25%);
	--text-muted: hsl(0, 0%, 40%);
	--text-faint: hsl(0, 0%, 50%);

	--background-primary: hsl(0, 0%, 100%);
	--background-primary-alt: hsl(0, 0%, 97%);
	--background-secondary: hsl(0, 0%, 94.5%);
	--background-secondary-blur: hsl(0, 0%, 94.5%, 0.75);
	--background-secondary-alt: hsl(0, 0%, 83%);
	--background-tertiary: hsl(0, 0%, 96.5%);

	--background-color-lt: hsl(0, 0%, 88%);

	--vertical-lines-color-file-explorer: hsla(0, 0%, 60%, 0.3);
	--vertical-lines-color-outline: hsla(0, 0%, 60%, 0.3);
	--vertical-lines-color-style-settings: hsla(0, 0%, 50%, 0.3);

	--drop-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
	--drop-shadow-popup: hsla(0, 0%, 0%, 0.01) 0px 1px 2px, hsla(0, 0%, 0%, 0.01) 0px 2px 4px, hsla(0, 0%, 0%, 0.01) 0px 4px 8px, hsla(0, 0%, 0%, 0.01) 0px 8px 16px;
}
/* #endregion */

/* #region  [Color Scheme - Default] Dark Theme */
.theme-dark.pt-color-scheme-default-dt {
	--color-red-base-s: 48%;
	--color-orange-base-s: 56%;
	--color-yellow-base-s: 53%;
	--color-green-base-s: 38%;
	--color-mint-base-s: 38%;
	--color-aqua-base-s: 38%;
	--color-blue-base-s: 41%;
	--color-purple-base-s: 38%;
	--color-pink-base-s: 38%;
	--color-grey-base-s: 0%;

	--color-red-base-l: 24%;
	--color-orange-base-l: 24%;
	--color-yellow-base-l: 23%;
	--color-green-base-l: 22%;
	--color-mint-base-l: 22%;
	--color-aqua-base-l: 22%;
	--color-blue-base-l: 24%;
	--color-purple-base-l: 22%;
	--color-pink-base-l: 19%;
	--color-grey-base-l: 25%;

	--color-red-tint-l: 45%;
	--color-orange-tint-l: 40%;
	--color-yellow-tint-l: 40%;
	--color-green-tint-l: 39%;
	--color-mint-tint-l: 40%;
	--color-aqua-tint-l: 41%;
	--color-blue-tint-l: 44%;
	--color-purple-tint-l: 48%;
	--color-pink-tint-l: 42%;
	--color-grey-tint-l: 46%;

	--color-red-text-s: 78%;
	--color-orange-text-s: 72%;
	--color-yellow-text-s: 68%;
	--color-green-text-s: 52%;
	--color-mint-text-s: 64%;
	--color-aqua-text-s: 62%;
	--color-blue-text-s: 64%;
	--color-purple-text-s: 64%;
	--color-pink-text-s: 62%;
	--color-grey-text-s: 0%;

	--color-red-text-l: 71%;
	--color-orange-text-l: 64%;
	--color-yellow-text-l: 59%;
	--color-green-text-l: 53%;
	--color-mint-text-l: 56%;
	--color-aqua-text-l: 57%;
	--color-blue-text-l: 68%;
	--color-purple-text-l: 70%;
	--color-pink-text-l: 68%;
	--color-grey-text-l: 67%;

	--text-normal: hsl(0, 0%, 83%);
	--text-muted: hsl(0, 0%, 72%);
	--text-faint: hsl(0, 0%, 52%);

	--background-primary: hsl(0, 0%, 15%);
	--background-primary-alt: hsl(0, 0%, 22%);
	--background-secondary: hsl(0, 0%, 8%);
	--background-secondary-blur: hsla(0, 0%, 8%, 0.75);
	--background-secondary-alt: hsl(0, 0%, 5.5%);
	--background-tertiary: hsl(0, 0%, 7.5%);

	--background-color-dt: hsl(0, 0%, 5%);

	--vertical-lines-color-file-explorer: hsl(0, 0%, 18%);
	--vertical-lines-color-outline: hsl(0, 0%, 18%);
	--vertical-lines-color-style-settings: hsl(0, 0%, 16%);

	--drop-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
	--drop-shadow-popup: hsla(0, 0%, 0%, 0.05) 0px 1px 2px, hsla(0, 0%, 0%, 0.05) 0px 2px 4px, hsla(0, 0%, 0%, 0.05) 0px 4px 8px, hsla(0, 0%, 0%, 0.05) 0px 8px 16px;
}
/* #endregion */
