/* #region  [Color Scheme - Default] Light Theme */
.theme-light.pt-color-scheme-swan-lt {
	--color-red-base-hsl:0,84%,88%;
	--color-orange-base-hsl:30,72%,82%;
	--color-yellow-base-hsl:45,74%,83%;
	--color-green-base-hsl:95,52%,83%;
	--color-mint-base-hsl:160,57%,83%;
	--color-cyan-base-hsl:185,67%,82%;
	--color-blue-base-hsl:217,66%,86%;
	--color-purple-base-hsl:257,82%,89%;
	--color-pink-base-hsl:300,66%,90%;
	--color-grey-base-hsl:0,0%,85%;

	--color-red-tint-hsl:0,84%,75%;
	--color-orange-tint-hsl:30,72%,60%;
	--color-yellow-tint-hsl:45,74%,49%;
	--color-green-tint-hsl:95,52%,57%;
	--color-mint-tint-hsl:160,57%,60%;
	--color-cyan-tint-hsl:185,67%,58%;
	--color-blue-tint-hsl:217,66%,72%;
	--color-purple-tint-hsl:257,82%,78%;
	--color-pink-tint-hsl:300,66%,73%;
	--color-grey-tint-hsl:0,0%,68%;

	--color-red-text-hsl:0,70%,58%;
	--color-orange-text-hsl:30,88%,41%;
	--color-yellow-text-hsl:45,88%,35%;
	--color-green-text-hsl:95,75%,34%;
	--color-mint-text-hsl:160,88%,32%;
	--color-cyan-text-hsl:185,75%,37%;
	--color-blue-text-hsl:217,70%,53%;
	--color-purple-text-hsl:257,80%,61%;
	--color-pink-text-hsl:300,70%,47%;
	--color-grey-text-hsl:0,0%,42%;

	--text-normal: hsl(0 0% 25%);
	--text-muted: hsl(0 0% 40%);
	--text-faint: hsl(0 0% 50%);

	--background-primary: hsl(0 0% 100%);
	--background-primary-alt: hsl(0 0% 98%);
	--background-secondary: hsl(0 0% 94.5%);
	--background-secondary-blur: hsl(0 0% 94.5% / 75%);
	--background-secondary-alt: hsl(0 0% 81%);
	--background-tertiary: hsl(0 0% 96.5%);

	--vertical-lines-color: hsl(0 0% 60% / 30%);

	--shadow-s: hsl(0 0% 0% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(0 0% 0% / 3%) 0 1px 2px, hsl(0 0% 0% / 3%) 0 2px 4px, hsl(0 0% 0% / 3%) 0 4px 8px, hsl(0 0% 0% / 3%) 0 8px 16px;
}
/* #endregion */

/* #region  [Color Scheme - Default] Dark Theme */
.theme-dark.pt-color-scheme-raven-dt {
	--color-red-base-hsl:0,48%,24%;
	--color-orange-base-hsl:30,56%,24%;
	--color-yellow-base-hsl:45,53%,23%;
	--color-green-base-hsl:95,38%,22%;
	--color-mint-base-hsl:160,38%,22%;
	--color-cyan-base-hsl:185,38%,22%;
	--color-blue-base-hsl:217,41%,24%;
	--color-purple-base-hsl:257,38%,22%;
	--color-pink-base-hsl:300,38%,19%;
	--color-grey-base-hsl:0,0%,25%;

	--color-red-tint-hsl:0,48%,45%;
	--color-orange-tint-hsl:30,56%,40%;
	--color-yellow-tint-hsl:45,53%,40%;
	--color-green-tint-hsl:95,38%,39%;
	--color-mint-tint-hsl:160,38%,40%;
	--color-cyan-tint-hsl:185,38%,41%;
	--color-blue-tint-hsl:217,41%,44%;
	--color-purple-tint-hsl:257,38%,48%;
	--color-pink-tint-hsl:300,38%,42%;
	--color-grey-tint-hsl:0,0%,46%;

	--color-red-text-hsl:0,78%,71%;
	--color-orange-text-hsl:30,72%,64%;
	--color-yellow-text-hsl:45,68%,59%;
	--color-green-text-hsl:95,52%,53%;
	--color-mint-text-hsl:160,64%,56%;
	--color-cyan-text-hsl:185,62%,57%;
	--color-blue-text-hsl:217,64%,68%;
	--color-purple-text-hsl:257,64%,70%;
	--color-pink-text-hsl:300,62%,68%;
	--color-grey-text-hsl:0,0%,67%;

	--text-normal: hsl(0 0% 83%);
	--text-muted: hsl(0 0% 72%);
	--text-faint: hsl(0 0% 52%);

	--background-primary: hsl(0 0% 12%);
	--background-primary-alt: hsl(0 0% 15%);
	--background-secondary: hsl(0 0% 8%);
	--background-secondary-blur: hsl(0 0% 8% / 75%);
	--background-secondary-alt: hsl(0 0% 5.5%);
	--background-tertiary: hsl(0 0% 7.5%);

	--vertical-lines-color: hsl(0 0% 12%);

	--shadow-s: hsl(0 0% 0% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(0 0% 0% / 5%) 0 1px 2px, hsl(0 0% 0% / 5%) 0 2px 4px, hsl(0 0% 0% / 5%) 0 4px 8px, hsl(0 0% 0% / 5%) 0 8px 16px;
}
/* #endregion */
