/* #region  [Color Scheme - Forest] Light Theme */
.theme-light.pt-color-scheme-pistachio-lt {
	--color-red-base-hsl:355,70%,83%;
	--color-orange-base-hsl:21,66%,82%;
	--color-yellow-base-hsl:40,70%,83%;
	--color-green-base-hsl:110,35%,81%;
	--color-mint-base-hsl:151,40%,82%;
	--color-cyan-base-hsl:190,31%,85%;
	--color-blue-base-hsl:222,27%,84%;
	--color-purple-base-hsl:260,38%,82%;
	--color-pink-base-hsl:323,42%,83%;
	--color-grey-base-hsl:233,5%,82%;

	--color-red-tint-hsl:355,70%,74%;
	--color-orange-tint-hsl:21,66%,73%;
	--color-yellow-tint-hsl:40,70%,70%;
	--color-green-tint-hsl:110,35%,68%;
	--color-mint-tint-hsl:151,40%,67%;
	--color-cyan-tint-hsl:190,31%,72%;
	--color-blue-tint-hsl:222,27%,74%;
	--color-purple-tint-hsl:260,38%,73%;
	--color-pink-tint-hsl:323,42%,72%;
	--color-grey-tint-hsl:233,5%,68%;

	--color-red-text-hsl:355,53%,55%;
	--color-orange-text-hsl:21,54%,52%;
	--color-yellow-text-hsl:40,55%,46%;
	--color-green-text-hsl:110,45%,40%;
	--color-mint-text-hsl:151,58%,38%;
	--color-cyan-text-hsl:190,50%,40%;
	--color-blue-text-hsl:222,30%,56%;
	--color-purple-text-hsl:260,36%,51%;
	--color-pink-text-hsl:323,42%,50%;
	--color-grey-text-hsl:233,5%,47%;

	--text-normal: hsl(135 35% 20%);
	--text-muted: hsl(135 35% 30%);
	--text-faint: hsl(135 35% 40%);

	--background-primary: hsl(135 35% 95.5%);
	--background-primary-alt: hsl(135 35% 93%);
	--background-secondary: hsl(135 35% 90.5%);
	--background-secondary-blur: hsl(135 35% 90.5% / 75%);
	--background-secondary-alt: hsl(135 35% 75%);
	--background-tertiary: hsl(135 35% 93%);

	--vertical-lines-color: hsl(135 35% 84%);

	--shadow-s: hsl(135 35% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(135 35% 7% / 4%) 0 1px 2px, hsl(135 35% 7% / 4%) 0 2px 4px, hsl(135 35% 7% / 4%) 0 4px 8px, hsl(135 35% 7% / 4%) 0 8px 16px;
}
/* #endregion */

/* #region  [Color Scheme - Forest] Dark Theme */
.theme-dark.pt-color-scheme-pine-dt {
	--color-red-base-hsl:355,58%,21%;
	--color-orange-base-hsl:21,62%,22%;
	--color-yellow-base-hsl:40,70%,20%;
	--color-green-base-hsl:110,35%,23%;
	--color-mint-base-hsl:151,31%,25%;
	--color-cyan-base-hsl:190,38%,20%;
	--color-blue-base-hsl:222,30%,24%;
	--color-purple-base-hsl:260,40%,22%;
	--color-pink-base-hsl:323,46%,22%;
	--color-grey-base-hsl:233,2%,23%;

	--color-red-tint-hsl:355,58%,40%;
	--color-orange-tint-hsl:21,62%,40%;
	--color-yellow-tint-hsl:40,70%,33%;
	--color-green-tint-hsl:110,35%,37%;
	--color-mint-tint-hsl:151,31%,38%;
	--color-cyan-tint-hsl:190,38%,35%;
	--color-blue-tint-hsl:222,30%,46%;
	--color-purple-tint-hsl:260,40%,47%;
	--color-pink-tint-hsl:323,46%,42%;
	--color-grey-tint-hsl:233,2%,42%;

	--color-red-text-hsl:355,74%,70%;
	--color-orange-text-hsl:21,72%,62%;
	--color-yellow-text-hsl:40,70%,53%;
	--color-green-text-hsl:110,48%,52%;
	--color-mint-text-hsl:151,58%,52%;
	--color-cyan-text-hsl:190,50%,53%;
	--color-blue-text-hsl:222,70%,70%;
	--color-purple-text-hsl:260,65%,73%;
	--color-pink-text-hsl:323,67%,73%;
	--color-grey-text-hsl:233,2%,71%;

	--text-normal: hsl(135 35% 85%);
	--text-muted: hsl(135 35% 70%);
	--text-faint: hsl(135 35% 60%);

	--background-primary: hsl(135 35% 12%);
	--background-primary-alt: hsl(135 35% 15.5%);
	--background-secondary: hsl(135 35% 7.7%);
	--background-secondary-blur: hsl(135 35% 7.7% / 75%);
	--background-secondary-alt: hsl(135 35% 6%);
	--background-tertiary: hsl(135 35% 6.2%);

	--vertical-lines-color: hsl(135 35% 12%);

	--shadow-s: hsl(135 35% 7% / 10%) 0 1px 2px 0;
	--shadow-l: hsl(135 35% 7% / 10%) 0 1px 2px, hsl(135 35% 7% / 10%) 0 2px 4px, hsl(135 35% 7% / 10%) 0 4px 8px, hsl(135 35% 7% / 10%) 0 8px 16px;
}
/* #endregion */
