// [Color Scheme - Flower] Light Theme
.theme-light.pt-color-scheme-periwinkle-lt {
	// The color variables below are comma separated HSL values. This format is necessary for using these
	// variables down the line in the theme and being able to create variants with varying alpha values (HSLA).
	
	// Base colours are used for the backgrounds in the accented color areas.
	--color-grey-base-hsl: 0, 0%, 84%;
	--color-red-base-hsl: 8, 84%, 88%;
	--color-orange-base-hsl: 26, 81%, 83%;
	--color-yellow-base-hsl: 46, 59%, 77%;
	--color-green-base-hsl: 113, 37%, 81%;
	--color-mint-base-hsl: 157, 41%, 80%;
	--color-cyan-base-hsl: 193, 42%, 82%;
	--color-blue-base-hsl: 221, 65%, 88%;
	--color-purple-base-hsl: 250, 69%, 90%;
	--color-pink-base-hsl: 328, 58%, 88%;

	// Tint colours are used for the borders in the accented color areas.
	--color-grey-tint-hsl: 0, 0%, 67%;
	--color-red-tint-hsl: 7, 75%, 74%;
	--color-orange-tint-hsl: 28, 77%, 63%;
	--color-yellow-tint-hsl: 50, 100%, 40%;
	--color-green-tint-hsl: 114, 36%, 59%;
	--color-mint-tint-hsl: 160, 41%, 56%;
	--color-cyan-tint-hsl: 193, 42%, 62%;
	--color-blue-tint-hsl: 220, 63%, 74%;
	--color-purple-tint-hsl: 252, 66%, 78%;
	--color-pink-tint-hsl: 325, 53%, 73%;

	// Text colours are used for the Text in the accented color areas and other Text areas which use the theme colours
	// e.g. Syntax Highlighting, Mark Highlight System, etc.
	--color-grey-text-hsl: 0, 0%, 49%;
	--color-red-text-hsl: 5, 66%, 55%;
	--color-orange-text-hsl: 31, 100%, 38%;
	--color-yellow-text-hsl: 47, 100%, 30%;
	--color-green-text-hsl: 114, 96%, 29%;
	--color-mint-text-hsl: 165, 100%, 28%;
	--color-cyan-text-hsl: 189, 100%, 32%;
	--color-blue-text-hsl: 222, 59%, 58%;
	--color-purple-text-hsl: 256, 62%, 64%;
	--color-pink-text-hsl: 323, 49%, 55%;

	// Default theme variable overwrites for different shades of text used in the editor and around the UI.
	--text-normal: hsl(225, 35%, 30%);
	--text-muted: hsl(225, 35%, 40%);
	--text-faint: hsl(225, 35%, 50%);

	// Default theme variable overwrites for the UI background colours.
	--background-primary: hsl(225, 35%, 95%);
	--background-primary-alt: hsl(225, 35%, 93%);
	--background-secondary: hsl(225, 35%, 90%);
	--background-secondary-blur: hsla(225, 35%, 90%, 80%); // Custom variable based on the one above for UI areas which use the frosted effect.
	--background-secondary-alt: hsl(225, 35%, 79%);

	// Default theme variable overwrites for shadows used on modals and popups.
	--shadow-s: hsla(225, 35%, 7%, 10%) 0 1px 2px 0;
	--shadow-l: hsla(225, 35%, 7%, 4%) 0 1px 2px, hsla(225, 35%, 7%, 4%) 0 2px 4px, hsla(225, 35%, 7%, 4%) 0 4px 8px, hsla(225, 35%, 7%, 4%) 0 8px 16px;
}

// [Color Scheme - Flower] Dark Theme
.theme-dark.pt-color-scheme-indigo-dt {
	// The color variables below are comma separated HSL values. This format is necessary for using these
	// variables down the line in the theme and being able to create variants with varying alpha values (HSLA).

	// Base colours are used for the backgrounds in the accented color areas.
	--color-grey-base-hsl: 0, 0%, 18%;
	--color-red-base-hsl: 0, 53%, 22%;
	--color-orange-base-hsl: 21, 59%, 19%;
	--color-yellow-base-hsl: 41, 55%, 15%;
	--color-green-base-hsl: 122, 49%, 15%;
	--color-mint-base-hsl: 166, 74%, 12%;
	--color-cyan-base-hsl: 194, 54%, 15%;
	--color-blue-base-hsl: 228, 44%, 24%;
	--color-purple-base-hsl: 268, 49%, 25%;
	--color-pink-base-hsl: 327, 49%, 21%;

	// Tint colours are used for the borders in the accented color areas.
	--color-grey-tint-hsl: 0, 0%, 37%;
	--color-red-tint-hsl: 0, 47%, 44%;
	--color-orange-tint-hsl: 20, 53%, 36%;
	--color-yellow-tint-hsl: 41, 48%, 30%;
	--color-green-tint-hsl: 123, 43%, 29%;
	--color-mint-tint-hsl: 165, 61%, 26%;
	--color-cyan-tint-hsl: 194, 47%, 32%;
	--color-blue-tint-hsl: 227, 44%, 47%;
	--color-purple-tint-hsl: 267, 37%, 47%;
	--color-pink-tint-hsl: 327, 43%, 42%;

	// Text colours are used for the Text in the accented color areas and other Text areas which use the theme colours
	// e.g. Syntax Highlighting, Mark Highlight System, etc.
	--color-grey-text-hsl: 0, 0%, 58%;
	--color-red-text-hsl: 0, 60%, 66%;
	--color-orange-text-hsl: 20, 49%, 58%;
	--color-yellow-text-hsl: 41, 46%, 48%;
	--color-green-text-hsl: 123, 40%, 46%;
	--color-mint-text-hsl: 164, 53%, 42%;
	--color-cyan-text-hsl: 194, 44%, 50%;
	--color-blue-text-hsl: 228, 44%, 65%;
	--color-purple-text-hsl: 264, 34%, 65%;
	--color-pink-text-hsl: 330, 37%, 63%;

	// Default theme variable overwrites for different shades of text used in the editor and around the UI.
	--text-normal: hsl(245, 30%, 85%);
	--text-muted: hsl(245, 30%, 70%);
	--text-faint: hsl(245, 30%, 65%);

	// Default theme variable overwrites for the UI background colours.
	--background-primary: hsl(245, 30%, 16%);
	--background-primary-alt: hsl(245, 30%, 25%);
	--background-secondary: hsl(245, 30%, 12%);
	--background-secondary-blur: hsla(245, 30%, 12%, 80%); // Custom variable based on the one above for UI areas which use the frosted effect.
	--background-secondary-alt: hsl(245, 30%, 8.5%);

	// Default theme variable overwritesfor shadows used on modals and popups.
	--shadow-s: hsla(245, 30%, 7%, 10%) 0 1px 2px 0;
	--shadow-l: hsla(245, 30%, 7%, 10%) 0 1px 2px, hsla(245, 30%, 7%, 10%) 0 2px 4px, hsla(245, 30%, 7%, 10%) 0 4px 8px, hsla(245, 30%, 7%, 10%) 0 8px 16px;
}
