// [Color Scheme - Bird] Light Theme
.theme-light.pt-color-scheme-swan-lt {
	// The color variables below are comma separated HSL values. This format is necessary for using these
	// variables down the line in the theme and being able to create variants with varying alpha values (HSLA).

	// Base colours are used for the backgrounds in the accented color areas.
	--color-grey-base-hsl: 0, 0%, 84%;
	--color-red-base-hsl: 7, 80%, 88%;
	--color-orange-base-hsl: 25, 79%, 84%;
	--color-yellow-base-hsl: 47, 57%, 77%;
	--color-green-base-hsl: 115, 35%, 81%;
	--color-mint-base-hsl: 156, 37%, 81%;
	--color-cyan-base-hsl: 192, 39%, 83%;
	--color-blue-base-hsl: 222, 62%, 88%;
	--color-purple-base-hsl: 251, 62%, 90%;
	--color-pink-base-hsl: 327, 56%, 88%;

	// Tint colours are used for the borders in the accented color areas.
	--color-grey-tint-hsl: 0, 0%, 67%;
	--color-red-tint-hsl: 6, 70%, 74%;
	--color-orange-tint-hsl: 27, 74%, 64%;
	--color-yellow-tint-hsl: 48, 68%, 47%;
	--color-green-tint-hsl: 115, 34%, 60%;
	--color-mint-tint-hsl: 159, 39%, 57%;
	--color-cyan-tint-hsl: 192, 40%, 63%;
	--color-blue-tint-hsl: 222, 57%, 74%;
	--color-purple-tint-hsl: 252, 60%, 77%;
	--color-pink-tint-hsl: 326, 50%, 73%;

	// Text colours are used for the Text in the accented color areas and other Text areas which use the theme colours
	// e.g. Syntax Highlighting, Mark Highlight System, etc.
	--color-grey-text-hsl: 0, 0%, 49%;
	--color-red-text-hsl: 4, 62%, 55%;
	--color-orange-text-hsl: 32, 100%, 37%;
	--color-yellow-text-hsl: 48, 100%, 30%;
	--color-green-text-hsl: 116, 71%, 33%;
	--color-mint-text-hsl: 165, 100%, 28%;
	--color-cyan-text-hsl: 191, 75%, 36%;
	--color-blue-text-hsl: 223, 54%, 58%;
	--color-purple-text-hsl: 255, 56%, 63%;
	--color-pink-text-hsl: 323, 46%, 55%;

	// Default theme variable overwrites for different shades of text used in the editor and around the UI.
	--text-normal: hsl(0, 0%, 25%);
	--text-muted: hsl(0, 0%, 40%);
	--text-faint: hsl(0, 0%, 50%);

	// Default theme variable overwrites for the UI background colours.
	--background-primary: hsl(0, 0%, 100%);
	--background-primary-alt: hsl(0, 0%, 96.5%);
	--background-secondary: hsl(0, 0%, 94%);
	--background-secondary-blur: hsla(0, 0%, 94%, 80%); // Custom variable based on the one above for UI areas which use the frosted effect.
	--background-secondary-alt: hsl(0, 0%, 80%);

	// Default theme variable overwrites for shadows used on modals and popups.
	--shadow-s: hsla(0, 0%, 0%, 10%) 0 1px 2px 0;
	--shadow-l: hsla(0, 0%, 0%, 3%) 0 1px 2px, hsla(0, 0%, 0%, 3%) 0 2px 4px, hsla(0, 0%, 0%, 3%) 0 4px 8px, hsla(0, 0%, 0%, 3%) 0 8px 16px;
}

// [Color Scheme - Default] Dark Theme
.theme-dark.pt-color-scheme-raven-dt {
	// The color variables below are comma separated HSL values. This format is necessary for using these
	// variables down the line in the theme and being able to create variants with varying alpha values (HSLA).

	// Base colours are used for the backgrounds in the accented color areas.
	--color-grey-base-hsl: 0, 0%, 18%;
	--color-red-base-hsl: 0, 46%, 22%;
	--color-orange-base-hsl: 20, 52%, 19%;
	--color-yellow-base-hsl: 40, 45%, 16%;
	--color-green-base-hsl: 122, 40%, 15%;
	--color-mint-base-hsl: 163, 51%, 14%;
	--color-cyan-base-hsl: 195, 43%, 16%;
	--color-blue-base-hsl: 228, 39%, 23%;
	--color-purple-base-hsl: 268, 43%, 24%;
	--color-pink-base-hsl: 328, 41%, 21%;

	// Tint colours are used for the borders in the accented color areas.
	--color-grey-tint-hsl: 0, 0%, 37%;
	--color-red-tint-hsl: 0, 41%, 43%;
	--color-orange-tint-hsl: 9, 45%, 37%;
	--color-yellow-tint-hsl: 39, 39%, 32%;
	--color-green-tint-hsl: 121, 34%, 31%;
	--color-mint-tint-hsl: 163, 43%, 29%;
	--color-cyan-tint-hsl: 195, 37%, 33%;
	--color-blue-tint-hsl: 227, 39%, 46%;
	--color-purple-tint-hsl: 266, 33%, 45%;
	--color-pink-tint-hsl: 328, 38%, 42%;

	// Text colours are used for the Text in the accented color areas and other Text areas which use the theme colours
	// e.g. Syntax Highlighting, Mark Highlight System, etc.
	--color-grey-text-hsl: 0, 0%, 57%;
	--color-red-text-hsl: 0, 51%, 65%;
	--color-orange-text-hsl: 19, 43%, 58%;
	--color-yellow-text-hsl: 40, 37%, 50%;
	--color-green-text-hsl: 122, 32%, 49%;
	--color-mint-text-hsl: 163, 39%, 46%;
	--color-cyan-text-hsl: 195, 38%, 52%;
	--color-blue-text-hsl: 228, 39%, 65%;
	--color-purple-text-hsl: 264, 29%, 64%;
	--color-pink-text-hsl: 331, 32%, 63%;

	// Default theme variable overwrites for different shades of text used in the editor and around the UI.
	--text-normal: hsl(0, 0%, 85%);
	--text-muted: hsl(0, 0%, 70%);
	--text-faint: hsl(0, 0%, 60%);

	// Default theme variable overwrites for the UI background colours.
	--background-primary: hsl(0, 0%, 13%);
	--background-primary-alt: hsl(0, 0%, 18%);
	--background-secondary: hsl(0, 0%, 8.5%);
	--background-secondary-blur: hsla(0, 0%, 8.5%, 80%); // Custom variable based on the one above for UI areas which use the frosted effect.
	--background-secondary-alt: hsl(0, 0%, 5%);

	// Default theme variable overwrites for shadows used on modals and popups.
	--shadow-s: hsla(0, 0%, 0%, 10%) 0 1px 2px 0;
	--shadow-l: hsla(0, 0%, 0%, 5%) 0 1px 2px, hsla(0, 0%, 0%, 5%) 0 2px 4px, hsla(0, 0%, 0%, 5%) 0 4px 8px, hsla(0, 0%, 0%, 5%) 0 8px 16px;
}