/* #region  [Status Bar] Base */
.pt-status-bar-position-floating .status-bar {
	--status-bar-position: absolute;
	right: 0;
	left: 0;
	width: fit-content;
	margin: 0 auto var(--size-4-4);
	background: var(--background-secondary-blur);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow-popup);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}

.pt-status-bar-position-fixed .status-bar {
	--status-bar-position: relative;
	border-top: 1px solid var(--window-border);
	border-radius: unset;
}

.pt-status-bar-align-left .status-bar {
	justify-content: flex-start;
}

.pt-status-bar-align-center .status-bar {
	justify-content: center;
}

.pt-status-bar-align-right .status-bar {
	justify-content: flex-end;
}
/* #endregion */

/* #region  [Status Bar] Solid */
.theme-light.pt-status-bar-default-lt div.status-bar,
.theme-dark.pt-status-bar-default-dt div.status-bar {
	background: var(--background-tertiary);
}

.theme-light.pt-status-bar-custom-lt div.status-bar {
	background: var(--status-bar-background-color-lt);
}

.theme-dark.pt-status-bar-custom-dt div.status-bar {
	background: var(--status-bar-background-color-dt);
}

.theme-light.pt-status-bar-text-light-lt .status-bar {
	color: var(--background-primary);
}

.theme-light.pt-status-bar-text-dark-lt .status-bar {
	color: var(--text-normal);
}

.theme-dark.pt-status-bar-text-light-dt .status-bar {
	color: var(--text-normal);
}

.theme-dark.pt-status-bar-text-dark-dt .status-bar {
	color: var(--background-primary);
}

.theme-light.pt-status-bar-text-accent-lt .status-bar,
.theme-dark.pt-status-bar-text-accent-dt .status-bar {
	color: var(--interactive-accent-text);
}
/* #endregion */
