/*  ==========================================================================
    Accents
    ========================================================================== */

    /*  Accent Color Presets - Light Theme
        ========================================================================== */  
        
        .theme-light.pt-light-accent-color-custom {
            --text-accent:              var(--color-dark-accent);
            --text-accent-hover:        var(--color-dark-accent);
            --interactive-accent:       var(--color-accent);
            --interactive-accent-dark:  var(--color-dark-accent);
            --interactive-accent-text:  var(--color-text-accent);
            --interactive-accent-hover: var(--color-dark-accent);
            --text-highlight-accent:    var(--color-accent);
        }

        .theme-light.pt-light-accent-color-red {
            --text-accent:              var(--color-dark-red);
            --text-accent-hover:        var(--color-dark-red);
            --interactive-accent:       var(--color-red);
            --interactive-accent-dark:  var(--color-dark-red);
            --interactive-accent-text:  var(--color-text-red);
            --interactive-accent-hover: var(--color-dark-red);
            --text-highlight-accent:    var(--color-red);
        }

        .theme-light.pt-light-accent-color-orange {
            --text-accent:              var(--color-dark-orange);
            --text-accent-hover:        var(--color-dark-orange);
            --interactive-accent:       var(--color-orange);
            --interactive-accent-dark:  var(--color-dark-orange);
            --interactive-accent-text:  var(--color-text-orange);
            --interactive-accent-hover: var(--color-dark-orange);
            --text-highlight-accent:    var(--color-orange);
        }

        .theme-light.pt-light-accent-color-yellow {
            --text-accent:              var(--color-dark-yellow);
            --text-accent-hover:        var(--color-dark-yellow);
            --interactive-accent:       var(--color-yellow);
            --interactive-accent-dark:  var(--color-dark-yellow);
            --interactive-accent-text:  var(--color-text-yellow);
            --interactive-accent-hover: var(--color-dark-yellow);
            --text-highlight-accent:    var(--color-yellow);
        }

        .theme-light.pt-light-accent-color-green {
            --text-accent:              var(--color-dark-green);
            --text-accent-hover:        var(--color-dark-green);
            --interactive-accent:       var(--color-green);
            --interactive-accent-dark:  var(--color-dark-green);
            --interactive-accent-text:  var(--color-text-green);
            --interactive-accent-hover: var(--color-dark-green);
            --text-highlight-accent:    var(--color-green);
        }

        .theme-light.pt-light-accent-color-mint {
            --text-accent:              var(--color-dark-mint);
            --text-accent-hover:        var(--color-dark-mint);
            --interactive-accent:       var(--color-mint);
            --interactive-accent-dark:  var(--color-dark-mint);
            --interactive-accent-text:  var(--color-text-mint);
            --interactive-accent-hover: var(--color-dark-mint);
            --text-highlight-accent:    var(--color-mint);
        }

        .theme-light.pt-light-accent-color-aqua {
            --text-accent:              var(--color-dark-aqua);
            --text-accent-hover:        var(--color-dark-aqua);
            --interactive-accent:       var(--color-aqua);
            --interactive-accent-dark:  var(--color-dark-aqua);
            --interactive-accent-text:  var(--color-text-aqua);
            --interactive-accent-hover: var(--color-dark-aqua);
            --text-highlight-accent:    var(--color-aqua);
        }

        .theme-light.pt-light-accent-color-blue {
            --text-accent:              var(--color-dark-blue);
            --text-accent-hover:        var(--color-dark-blue);
            --interactive-accent:       var(--color-blue);
            --interactive-accent-dark:  var(--color-dark-blue);
            --interactive-accent-text:  var(--color-text-blue);
            --interactive-accent-hover: var(--color-dark-blue);
            --text-highlight-accent:    var(--color-blue);
        }

        .theme-light.pt-light-accent-color-purple {
            --text-accent:              var(--color-dark-purple);
            --text-accent-hover:        var(--color-dark-purple);
            --interactive-accent:       var(--color-purple);
            --interactive-accent-dark:  var(--color-dark-purple);
            --interactive-accent-text:  var(--color-text-purple);
            --interactive-accent-hover: var(--color-dark-purple);
            --text-highlight-accent:    var(--color-purple);
        }

        .theme-light.pt-light-accent-color-pink {
            --text-accent:              var(--color-dark-pink);
            --text-accent-hover:        var(--color-dark-pink);
            --interactive-accent:       var(--color-pink);
            --interactive-accent-dark:  var(--color-dark-pink);
            --interactive-accent-text:  var(--color-text-pink);
            --interactive-accent-hover: var(--color-dark-pink);
            --text-highlight-accent:    var(--color-pink);
        }

        .theme-light.pt-light-accent-color-grey {
            --text-accent:              var(--color-dark-grey);
            --text-accent-hover:        var(--color-dark-grey);
            --interactive-accent:       var(--color-grey);
            --interactive-accent-dark:  var(--color-dark-grey);
            --interactive-accent-text:  var(--color-text-grey);
            --interactive-accent-hover: var(--color-dark-grey);
            --text-highlight-accent:    var(--color-grey);
        }

        
    /*  Accent Color Presets - Dark Theme
        ========================================================================== */  

        .theme-dark.pt-dark-accent-color-custom {
            --text-accent:              var(--color-accent);
            --text-accent-hover:        var(--color-dark-accent);
            --interactive-accent:       var(--color-accent);
            --interactive-accent-dark:  var(--color-dark-accent);
            --interactive-accent-text:  var(--color-text-accent);
            --interactive-accent-hover: var(--color-dark-accent);
            --text-highlight-accent:    var(--color-dark-accent);
        } 

        .theme-dark.pt-dark-accent-color-red {
            --text-accent:              var(--color-red);
            --text-accent-hover:        var(--color-dark-red);
            --interactive-accent:       var(--color-red);
            --interactive-accent-dark:  var(--color-dark-red);
            --interactive-accent-text:  var(--color-text-red);
            --interactive-accent-hover: var(--color-dark-red);
            --text-highlight-accent:    var(--color-dark-red);
        }

        .theme-dark.pt-dark-accent-color-orange {
            --text-accent:              var(--color-orange);
            --text-accent-hover:        var(--color-dark-orange);
            --interactive-accent:       var(--color-orange);
            --interactive-accent-dark:  var(--color-dark-orange);
            --interactive-accent-text:  var(--color-text-orange);
            --interactive-accent-hover: var(--color-dark-orange);
            --text-highlight-accent:    var(--color-dark-orange);
        }

        .theme-dark.pt-dark-accent-color-yellow {
            --text-accent:              var(--color-yellow);
            --text-accent-hover:        var(--color-dark-yellow);
            --interactive-accent:       var(--color-yellow);
            --interactive-accent-dark:  var(--color-dark-yellow);
            --interactive-accent-text:  var(--color-text-yellow);
            --interactive-accent-hover: var(--color-dark-yellow);
            --text-highlight-accent:    var(--color-dark-yellow);
        }

        .theme-dark.pt-dark-accent-color-green {
            --text-accent:              var(--color-green);
            --text-accent-hover:        var(--color-dark-green);
            --interactive-accent:       var(--color-green);
            --interactive-accent-dark:  var(--color-dark-green);
            --interactive-accent-text:  var(--color-text-green);
            --interactive-accent-hover: var(--color-dark-green);
            --text-highlight-accent:    var(--color-dark-green);
        }

        .theme-dark.pt-dark-accent-color-mint {
            --text-accent:              var(--color-mint);
            --text-accent-hover:        var(--color-dark-mint);
            --interactive-accent:       var(--color-mint);
            --interactive-accent-dark:  var(--color-dark-mint);
            --interactive-accent-text:  var(--color-text-mint);
            --interactive-accent-hover: var(--color-dark-mint);
            --text-highlight-accent:    var(--color-dark-mint);
        }

        .theme-dark.pt-dark-accent-color-aqua {
            --text-accent:              var(--color-aqua);
            --text-accent-hover:        var(--color-dark-aqua);
            --interactive-accent:       var(--color-aqua);
            --interactive-accent-dark:  var(--color-dark-aqua);
            --interactive-accent-text:  var(--color-text-aqua);
            --interactive-accent-hover: var(--color-dark-aqua);
            --text-highlight-accent:    var(--color-dark-aqua);
        }

        .theme-dark.pt-dark-accent-color-blue {
            --text-accent:              var(--color-blue);
            --text-accent-hover:        var(--color-dark-blue);
            --interactive-accent:       var(--color-blue);
            --interactive-accent-dark:  var(--color-dark-blue);
            --interactive-accent-text:  var(--color-text-blue);
            --interactive-accent-hover: var(--color-dark-blue);
            --text-highlight-accent:    var(--color-dark-blue);
        }

        .theme-dark.pt-dark-accent-color-purple {
            --text-accent:              var(--color-purple);
            --text-accent-hover:        var(--color-dark-purple);
            --interactive-accent:       var(--color-purple);
            --interactive-accent-dark:  var(--color-dark-purple);
            --interactive-accent-text:  var(--color-text-purple);
            --interactive-accent-hover: var(--color-dark-purple);
            --text-highlight-accent:    var(--color-dark-purple);
        }

        .theme-dark.pt-dark-accent-color-pink {
            --text-accent:              var(--color-pink);
            --text-accent-hover:        var(--color-dark-pink);
            --interactive-accent:       var(--color-pink);
            --interactive-accent-dark:  var(--color-dark-pink);
            --interactive-accent-text:  var(--color-text-pink);
            --interactive-accent-hover: var(--color-dark-pink);
            --text-highlight-accent:    var(--color-dark-pink);
        }

        .theme-dark.pt-dark-accent-color-grey {
            --text-accent:              var(--color-grey);
            --text-accent-hover:        var(--color-dark-grey);
            --interactive-accent:       var(--color-grey);
            --interactive-accent-dark:  var(--color-dark-grey);
            --interactive-accent-text:  var(--color-text-grey);
            --interactive-accent-hover: var(--color-dark-grey);
            --text-highlight-accent:    var(--color-dark-grey);
        }

    /*  Common Static Properties for Accent Style elements
        ========================================================================== */ 

        .modal button:not(.mod-cta):not(.mod-warning) {
            display: inline-flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
        }

        .community-theme-remove-button {
            margin: unset;
            right: 6px;
            top: 6px;
        }

        .search-result-file-match-replace-button {
            position: relative;
            display: flex;
            margin: 6px 0px 5px 0px;
            right: unset;
            top: unset;
        }

        .search-result-file-match-destination-file {
            margin: 0px 0px 5px 0px;
        }

        .theme-dark.pt-accent-style-borderandfilled-dt button.mod-cta:hover,
        .theme-light.pt-accent-style-borderandfilled-lt button.mod-cta:hover {
            color: var(--interactive-accent-dark);
        }

        .theme-dark.pt-accent-style-borderandfilled-dt button.mod-warning:hover,
        .theme-light.pt-accent-style-borderandfilled-lt button.mod-warning:hover {
            color: var(--color-dark-red);
        }

        .theme-dark.pt-accent-style-borderandfilled-dt .modal button:not(.mod-cta):not(.mod-warning):hover,
        .theme-light.pt-accent-style-borderandfilled-lt .modal button:not(.mod-cta):not(.mod-warning):hover {
            color: var(--color-dark-grey);
        }