/* #region  [Nav Header] Base */
.nav-header {
	display: flex;
	padding: var(--size-4-1);
	border-bottom: 1px solid var(--window-border);
}

.nav-buttons-container {
	gap: var(--size-4-1);
	width: fit-content;
}

.nav-action-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	padding: 2px;
	border-radius: var(--border-radius);
}

.nav-files-container,
.workspace-leaf-content[data-type="tag"] .tag-container,
.workspace-leaf-content[data-type="backlink"] .backlink-pane,
.workspace-leaf-content[data-type="search"] .search-results-children,
.workspace-leaf-content[data-type="starred"] .item-list,
.workspace-leaf-content[data-type="dictionary-view"] .contents {
	padding-bottom: calc(38px + 2 * var(--scroll-bar-size));
}
/* #endregion */

/* #region  [Nav Header] Align Left */
.pt-nav-header-left-sidebar-align-left .workspace-split.mod-left-split .workspace-leaf-content .nav-header,
.pt-nav-header-right-sidebar-align-left .workspace-split.mod-right-split .workspace-leaf-content .nav-header {
	justify-content: flex-start;
}
/* #endregion */

/* #region  [Nav Header] Align Center */
.pt-nav-header-left-sidebar-align-center .workspace-split.mod-left-split .workspace-leaf-content .nav-header,
.pt-nav-header-right-sidebar-align-center .workspace-split.mod-right-split .workspace-leaf-content .nav-header {
	justify-content: center;
}
/* #endregion */

/* #region  [Nav Header] Align Right */
.pt-nav-header-left-sidebar-align-right .workspace-split.mod-left-split .workspace-leaf-content .nav-header,
.pt-nav-header-right-sidebar-align-right .workspace-split.mod-right-split .workspace-leaf-content .nav-header {
	justify-content: flex-end;
}
/* #endregion */

// /* #region  [Nav Header] Position Bottom */
.pt-nav-header-left-sidebar-position-bottom .workspace-split.mod-left-split,
.pt-nav-header-right-sidebar-position-bottom .workspace-split.mod-right-split,
.pt-nav-header-left-sidebar-position-bottom .workspace-drawer.mod-left,
.pt-nav-header-right-sidebar-position-bottom .workspace-drawer.mod-right {
	.nav-header {
		position: absolute;
		bottom: calc(4px + var(--scroll-bar-size));
		z-index: var(--layer-popover);
		order: 2;
		width: 100%;
		padding: unset;
		margin-right: calc(4px + var(--scroll-bar-size));
		border-bottom: unset;
	}

	.nav-buttons-container {
		padding: var(--size-4-1);
		background: var(--background-secondary-blur);
		border: 1px solid var(--window-border);
		border-radius: var(--border-radius);
		box-shadow: var(--drop-shadow-popup);
		-webkit-backdrop-filter: blur(var(--blur-intensity));
		backdrop-filter: blur(var(--blur-intensity));
	}
}
/* #endregion */
