/* #region  [Sidebar] Tab Header */
// Tab label container
.workspace-tabs .workspace-tab-header-container {
	height: fit-content;
	padding-top: unset;
	padding-bottom: calc(var(--window-gap) / 2);
}

// Tab label background
.workspace-tab-container-inner {
	flex-wrap: wrap;
	min-height: 36px;
	background-color: var(--background-tertiary);
	border: 1px solid var(--window-border);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

// Tab label spacing
.workspace-tab-header-inner {
	align-items: center;
	justify-content: center;
	height: fit-content;
	padding: unset;
	margin: auto;
}

// Tab label icon centering
.workspace-tab-header-inner-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
}

// Tab label border/radius
.workspace-tab-header {
	padding: 2px 6px;
	margin: 0;
	color: var(--text-muted);
	border: var(--border-size) solid transparent;
}

// Current Active Tab label
.workspace-tab-header.is-active {
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.workspace-tab-header.is-active:hover svg {
	color: var(--interactive-accent-hover);
}

// Tab label inactive background
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
	background-color: transparent;
	border-radius: var(--border-radius);
	box-shadow: none;
}

.workspace-tab-header:not(.is-active):hover {
	color: var(--interactive-accent-hover);
}

// Hide before and after elements surrounding the tab container
.workspace-tab-container-after,
.workspace-tab-container-before,
.workspace-tab-container-after.is-after-active,
.workspace-tab-container-before.is-before-active {
	display: none;
}
/* #endregion */
