/* #region  [Sidebar] Tab Header */
.workspace-tab-header {
	padding: 0 var(--size-4-2);
	border: var(--border-size) solid transparent;
	border-radius: var(--border-radius);

	&.is-active {
		border-radius: var(--border-radius);

		&:hover svg {
			color: var(--interactive-accent-hover);
		}

		.workspace-tab-header-inner-icon {
			color: var(--icon-color-focused);
		}
	}

	&::before,
	&::after {
		display: none;
	}
}

.workspace-tab-header-container {
	padding-right: unset;
	padding-left: 1px;
}

.workspace .mod-root .workspace-tab-header {
	padding: inherit;
}

.mod-root {
	.workspace-tab-header-inner {
		gap: var(--size-4-1);
		padding: 0 var(--size-4-1);
	}
}

.workspace-tab-header-inner-close-button::after {
	display: none;
}

.workspace .mod-root .workspace-tab-header-inner::after {
	display: none;
}

.workspace-tabs {
	.workspace-tab-header-container-inner {
		gap: var(--size-2-1);
		height: var(--header-height);
		padding: var(--size-4-1);
		margin: unset;
	}
}

.workspace-tab-header-tab-list .clickable-icon,
.workspace-tab-header-new-tab .clickable-icon {
	padding: var(--size-4-1) var(--size-4-1);
}

.workspace-tab-header-new-tab {
	padding: var(--size-4-1) 0;
}

.workspace-tab-header-tab-list {
	padding: var(--size-4-1) var(--size-4-1);
}
/* #endregion */
