/*
  ==========================================================================
  Sidebar Elements
  ==========================================================================
*/

/* #region  [Sidebar] Tab Header */
/* Tab label container */
.workspace-tabs .workspace-tab-header-container {
	height: fit-content;
	padding-bottom: calc(var(--window-gap) / 2);
	padding-top: unset;
}

/* Tab label background */
.workspace-tab-container-inner {
	min-height: 36px;
	background-color: var(--tab-label-background-color);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
	flex-wrap: wrap;;
}

/* Tab label spacing */
.workspace-tab-header-inner {
	padding: 8px 10px;
	width: 41px;
	align-items: center;
	justify-content: center;
	margin: auto;	
	height: fit-content;
}

/* Tab label icon centering */
.workspace-tab-header-inner-icon {
	display: flex;
	align-items: center;
}

/* Tab label border/radius */
.workspace-tab-header {
	border: var(--border-size) solid transparent;
	color: var(--text-muted);
	max-width: 45px;
}

/* Current Active Tab label */
.workspace-tab-header.is-active {
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
}

.workspace-tab-header.is-active:hover svg {
	color: var(--interactive-accent-hover);
}

/* Tab label inactive background */
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
	background-color: transparent;
	box-shadow: none;
	border-radius: var(--border-radius);
}

.workspace-tab-header:not(.is-active):hover {
	color: var(--interactive-accent-hover);
}

/* Hide before and after elements surrounding the tab container */
.workspace-tab-container-after,
.workspace-tab-container-before,
.workspace-tab-container-after.is-after-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-container-before.is-before-active {
	display: none;
}
/* #endregion */
