/*  Tab Label
    ========================================================================== */ 

    /* Moves the Tab Label to the left on the left sidebar */
    .pt-tab-label-left-sidebar-left .workspace-split.mod-left-split .workspace-tabs .workspace-tab-header-container {
        justify-content: flex-start;
    }

    /* Moves the Tab Label to the center on the left sidebar */
    .pt-tab-label-left-sidebar-center .workspace-split.mod-left-split .workspace-tabs .workspace-tab-header-container {
        justify-content: center;
    }

    /* Moves the Tab Label to the right on the left sidebar */
    .pt-tab-label-left-sidebar-right .workspace-split.mod-left-split .workspace-tabs .workspace-tab-header-container {
        justify-content: flex-end;
    }

    /* Moves the Tab Label to the left on the right sidebar */
    .pt-tab-label-right-sidebar-left .workspace-split.mod-right-split .workspace-tabs .workspace-tab-header-container {
        justify-content: flex-start;
    }

    /* Moves the Tab Label to the center on the right sidebar */
    .pt-tab-label-right-sidebar-center .workspace-split.mod-right-split .workspace-tabs .workspace-tab-header-container {
        justify-content: center;
    }

    /* Moves the Tab Label to the right on the right sidebar */
    .pt-tab-label-right-sidebar-right .workspace-split.mod-right-split .workspace-tabs .workspace-tab-header-container {
        justify-content: flex-end;
    }