/* #region  [Sidebar] Tab Label */
.workspace-split.mod-left-split .workspace-tabs .workspace-tab-header-container {
    .pt-tab-label-left-sidebar-left & {
        /* Moves the Tab Label to the left on the left sidebar */
		justify-content: flex-start;
	}

	.pt-tab-label-left-sidebar-center & {
        /* Moves the Tab Label to the center on the left sidebar */
		justify-content: center;
	}

	.pt-tab-label-left-sidebar-right & {
        /* Moves the Tab Label to the right on the left sidebar */
		justify-content: flex-end;
	}
}

.workspace-split.mod-right-split .workspace-tabs .workspace-tab-header-container {
    .pt-tab-label-right-sidebar-left & {
        /* Moves the Tab Label to the left on the right sidebar */
		justify-content: flex-start;
	}

	.pt-tab-label-right-sidebar-center & {
        /* Moves the Tab Label to the center on the right sidebar */
		justify-content: center;
	}

	.pt-tab-label-right-sidebar-right & {
        /* Moves the Tab Label to the right on the right sidebar */
		justify-content: flex-end;
	}
}
/* #endregion */
