/* #region  [Sidebar] Tab Label */
.workspace-split.mod-left-split .workspace-tabs .workspace-tab-header-container {
	// Moves the Tab Label to the left on the left sidebar
	.pt-tab-label-left-sidebar-left & {
		justify-content: flex-start;
	}

	// Moves the Tab Label to the center on the left sidebar
	.pt-tab-label-left-sidebar-center & {
		justify-content: center;
	}

	// Moves the Tab Label to the right on the left sidebar
	.pt-tab-label-left-sidebar-right & {
		justify-content: flex-end;
	}
}

.workspace-split.mod-right-split .workspace-tabs .workspace-tab-header-container {
	// Moves the Tab Label to the left on the right sidebar
	.pt-tab-label-right-sidebar-left & {
		justify-content: flex-start;
	}

	// Moves the Tab Label to the center on the right sidebar
	.pt-tab-label-right-sidebar-center & {
		justify-content: center;
	}

	// Moves the Tab Label to the right on the right sidebar
	.pt-tab-label-right-sidebar-right & {
		justify-content: flex-end;
	}
}
/* #endregion */
