/*
   ==========================================================================
   Main Fonts
   ==========================================================================
*/

/* #region [Font] UI */
html,
body,
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
button,
.setting-hotkey,
.suggestion-hotkey,
.view-header-title {
	font-family: var(--font-family-ui);
}
/* #endregion */

/* #region [Font] Edit */
.workspace-leaf-content[data-mode="source"],
.markdown-source-view.mod-cm6 .cm-scroller,
.CodeMirror {
	font-family: var(--font-family-edit);
}
/* #endregion */

/* #region [Font] Preview */
.workspace-leaf-content[data-mode="preview"] {
	font-family: var(--font-family-preview);
}

.kanban-plugin .kanban-plugin__item p {
	font-family: var(--font-family-preview) !important;
}
/* #endregion */

/* #region [Font] Code */
.cm-s-obsidian .HyperMD-table-row,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code,
.markdown-source-view code,
.HyperMD-codeblock,
code {
	font-family: var(--font-family-code) !important;
}
/* #endregion */

/* #region  [Font] Link */
a {
	color: var(--interactive-accent-text);

	&:hover {
		color: var(--interactive-accent-hover);
	}
}
/* #endregion */
