/* #region  [UI] Drag Ghost */
.drag-ghost {
	background: var(--background-secondary-blur);
	border: 2px solid var(--table-border-color);
	backdrop-filter: blur(var(--blur-intensity));
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
	color: var(--text-normal);
	font-weight: 600;
	padding: 5px 14px;
	animation: pop-down 200ms forwards ease-in-out;
}
/* #endregion */
