/* #region  [UI] Drag Ghost */
.drag-ghost {
	background: var(--background-secondary);
	border: 2px solid var(--table-border-color);
	box-shadow: var(--drop-shadow-popup);
	animation: pop-down 200ms forwards ease-in-out;
}
/* #endregion */
