/* #region  [UI] Drag Ghost */
.drag-ghost {
	padding: 5px 14px;
	font-variation-settings: "wght" 600;
	color: var(--text-normal);
	background: var(--background-secondary-blur);
	border: 2px solid var(--table-border-color);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
	animation: pop-down 200ms forwards ease-in-out;
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}
/* #endregion */
