/* #region  [UI] File Preview Popover */
.popover {
	background-color: var(--page-background-color);

	&.hover-popover {
		width: 500px;
		min-height: 500px;
		padding: 2px 0 2px 10px;
		overflow: auto;
		clear: both;
		border: 2px solid var(--table-border-color);
		border-radius: var(--border-radius);
		box-shadow: var(--drop-shadow-popup);
		transform: scale(0.9);

		.markdown-embed {
			height: 491px;
			min-height: 491px;
		}
	}
}
/* #endregion */
