/* #region  [UI] File Preview Popover */
.popover.hover-popover {
	transform: scale(0.9);
	min-height: 500px;
	width: 500px;
	overflow: auto;
	padding-left: 10px;
	box-shadow: var(--drop-shadow);
	clear: both;

    .markdown-embed {
        min-height: 499px;
        height: 499px;
    }
}

/* Hides the second limited scrollbar in popovers */
.markdown-embed-content > div.markdown-preview-view {
	overflow: visible;
}
/* #endregion */
