/* #region  [UI] File Preview Popover */
.popover {
	background-color: var(--page-background-color);

	&.hover-popover {
		border: 2px solid var(--table-border-color);
		border-radius: var(--border-radius);
		box-shadow: var(--drop-shadow-popup);
	}
}

.markdown-embed-link,
.file-embed-link {
	right: 12px;
}
/* #endregion */
