/* #region  [UI] Menu Popup */
.menu {
	background: var(--background-secondary-blur);
	border-color: var(--window-border);
	box-shadow: var(--drop-shadow-popup);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}
/* #endregion */
