/* #region  [UI] Menu Popup */
.menu {
	background: var(--background-secondary-blur);
	border: 1px solid var(--window-border);
	backdrop-filter: blur(var(--blur-intensity));
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
}

.menu-separator {
	border-bottom-color: var(--window-border);
}

.theme-dark .menu,
.theme-dark .menu-item-icon {
	color: var(--text-normal);
}

.menu-item.selected:not(.is-disabled):not(.is-label) {
	background-color: var(--background-primary);
	font-variation-settings: 'wght' 600;
}

.menu-item:hover:not(.is-disabled):not(.is-label),
.menu-item:hover:not(.is-disabled):not(.is-label) .menu-item-icon {
	color: var(--interactive-accent-text);
}
/* #endregion */
