/* #region  [UI] Notification Popup */
div.notice-container div.notice {
	font-variation-settings: "wght" 600;
	color: var(--text-normal);
	background: var(--background-secondary-blur);
	border: 1px solid var(--interactive-accent-tint);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}
/* #endregion */
