/* #region  [UI] Notification Popup */
div.notice-container div.notice {
	background: var(--background-secondary-blur);
	border: 1px solid var(--background-secondary);
	backdrop-filter: blur(var(--blur-intensity));
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
	color: var(--text-normal);
	font-variation-settings: "wght" 600;
}
/* #endregion */
