/* #region  [UI] Notification Popup */
div.notice-container div.notice {
	font-weight: 600;
	color: var(--text-normal);
	background: var(--interactive-accent-base);
	border: 2px solid var(--interactive-accent-tint);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	backdrop-filter: blur(var(--blur-intensity));
}
/* #endregion */
