/* #region  [UI] Suggestion Popup */
.suggestion-container.mod-search-suggestion {
	padding: 8px;
	max-width: calc(100% - 20px);

	.suggestion-item.search-suggest-item {
		display: block;
		margin: unset;

		&.mod-group {
			padding: 4px 4px 8px 4px;
		
			&:not(:first-of-type) {
				padding-top: 8px;
				border-top: var(--border-size) solid var(--table-border-color);
				margin-top: 10px;
			}
		}

		&.list-item {
			display: flex;
		}
	}

	.suggestion {
		padding-right: unset;
	}
}

.suggestion-container {
	background: var(--background-secondary-blur);
	border: 1px solid var(--background-secondary);
	backdrop-filter: blur(var(--blur-intensity));
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
	padding: 2px;

	.clickable-icon {
		margin: 0px;
	}
}

.suggestion-item {
	border: 1px solid transparent;

	&.is-selected:not(.mod-group) {
		color: var(--interactive-accent-text);
		border-radius: var(--border-radius-small);
		font-weight: 600;
		border: 1px solid var(--window-border);

		.theme-light & {
			background-color: var(--background-primary);
		}

		.theme-dark & {
			background-color: var(--background-primary-alt);
		}
	}
}

.search-input-clear-button {
	top: 4px;
}

.search-suggest-item:hover {
	background-color: var(--background-primary);
}

.list-item-part .search-suggest-icon .clickable-icon {
	margin: 0px;
}

.search-suggest-item.mod-group {
	padding: 10px;
}
/* #endregion */
