/* #region  [UI] Tooltip Popup */
.tooltip {
	display: flex;
	background: var(--background-secondary-blur);
	border: 2px solid var(--table-border-color);
	backdrop-filter: blur(var(--blur-intensity));
	-webkit-backdrop-filter: blur(var(--blur-intensity));
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow-popup);
	color: var(--text-normal);
	max-width: fit-content;
	font-weight: 600;
	padding: 5px 14px;
	word-wrap: break-word;
	animation: pop-down 200ms forwards ease-in-out;
}

.tooltip .tooltip-arrow {
	box-shadow: unset;
	margin-top: -2px;
	border-bottom: 5px solid var(--table-border-color);
}

.tooltip.mod-top .tooltip-arrow {
	box-shadow: unset;
	margin-top: unset;
	margin-top: 2px;
	border-top: 5px solid var(--table-border-color);
}

.tooltip.mod-right .tooltip-arrow {
	box-shadow: unset;
	margin-top: unset;
	margin-left: -7px;
	border-right: 5px solid var(--table-border-color);
}

.tooltip.mod-left .tooltip-arrow {
	box-shadow: unset;
	margin-top: unset;
	margin-left: -3px;
	border-left: 5px solid var(--table-border-color);
}
/* #endregion */
