/*  Empty States
    ========================================================================== */

    .search-empty-state,
    .pane-empty {
        padding: 5px 10px 5px 10px;
        background-color: var(--background-secondary);
        border-radius: var(--border-radius);
        box-shadow: var(--drop-shadow);
        margin: unset;
    }