/* #region  [Accent Style] Filled */
.theme-dark.pt-accent-style-filled-dt,
.theme-light.pt-accent-style-filled-lt {
	.workspace-tab-header.is-active,
	.nav-action-button.is-active,
	.vertical-tab-nav-item.is-active,
	.nav-file-title.is-active,
	.suggestion-hotkey {
		background-color: var(--interactive-accent-base);
		border-color: transparent;
	}

	.search-result-file-match-destination-file {
		color: var(--text-normal);
		background-color: var(--color-grey-base);
		border-color: transparent;

		&:hover {
			color: var(--interactive-accent-hover);
			background-color: var(--interactive-accent-base);
		}
	}

	.search-result-file-match-replace-button {
		background-color: var(--color-grey-base);
		border-color: var(--color-grey-base);

		&:hover {
			background-color: var(--interactive-accent-base);
			border-color: var(--interactive-accent-base);
		}
	}

	button.mod-cta {
		background-color: var(--interactive-accent-base);
		border-color: transparent;

		&:hover {
			color: var(--interactive-accent-tint);
		}
	}

	button.mod-warning {
		color: var(--text-normal);
		background-color: var(--color-red-base);
		border-color: transparent;

		&:hover {
			color: var(--color-red-tint);
		}
	}

	.modal button:not(.mod-cta):not(.mod-warning),
	.graph-control-content button {
		color: var(--text-normal);
		background-color: var(--color-grey-base);
		border-color: var(--color-grey-base);

		&:hover {
			color: var(--color-grey-tint);
		}
	}

	.setting-hotkey {
		color: var(--text-normal);
		background-color: var(--color-blue-base);
		border-color: var(--color-blue-base);

		&.mod-empty {
			background-color: var(--color-grey-base);
			border-color: var(--color-grey-base);
		}

		&.has-conflict {
			background-color: var(--color-red-base);
			border-color: var(--color-red-base);
		}
	}

	.flair.mod-pop,
	.community-item .flair {
		color: var(--highlight-text-normal);
		background-color: var(--color-green-base);
		border-color: transparent;
	}

	button.copy-code-button {
		color: var(--text-normal);
		background-color: var(--color-grey-base);
		border-color: transparent;

		&:hover {
			color: var(--color-grey-tint);
		}
	}

	.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right,
	.workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left,
	.modal-setting-nav-bar .clickable-icon {
		background-color: var(--interactive-accent-base);
		border-color: transparent;

		&:hover {
			color: var(--interactive-accent-hover);
		}
	}
}
/* #endregion */
