/* #region [Accent Style] Base */
.modal button:not(.mod-cta):not(.mod-warning) {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header.is-active,
.workspace-tab-header.is-active,
.nav-action-button.is-active,
.vertical-tab-nav-item.is-active,
.nav-file-title.is-active,
.suggestion-hotkey {
	color: var(--highlight-text-normal);
	border: var(--accent-border-width) solid;
	box-shadow: unset;
}

:is(.search-result-file-match-destination-file, .search-result-file-match-replace-button) {
	color: var(--text-normal);
	border: var(--accent-border-width) solid;
	border-radius: var(--radius-s);
}

button.mod-cta {
	color: var(--highlight-text-normal);
}

:is(.pcr-button, button.mod-cta, button.mod-warning, .modal button:not(.mod-cta):not(.mod-warning), .graph-control-content button, .setting-hotkey, .flair.mod-pop, .community-item .flair, button.copy-code-button, .modal-setting-nav-bar .clickable-icon, .document-search-button, .side-dock-ribbon-action.is-active[aria-label="Start/stop recording"]) {
	border: var(--accent-border-width) solid;
	border-radius: var(--radius-s);
}

.side-dock-ribbon-action.is-active[aria-label="Start/stop recording"] {
	padding: var(--size-2-1) var(--size-2-2);
}

:is(.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right, .workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left) {
	color: var(--highlight-text-normal);
	border: var(--accent-border-width) solid;
	border-radius: var(--radius-m);

	svg.svg-icon {
		color: var(--highlight-text-normal);
	}
}
/* #endregion */
