// [Accent Style] Border Only
:is(.theme-dark.pt-accent-style-border-dt, .theme-light.pt-accent-style-border-lt) {
	.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header.is-active,
	.workspace-tab-header.is-active,
	.nav-action-button.is-active,
	.vertical-tab-nav-item.is-active,
	.nav-file-title.is-active,
	.tree-item-self.is-active,
	.suggestion-hotkey,
	.workspace-leaf div.workspace-leaf-content[data-type=file-tree-view] div.oz-nav-file.is-active,
	.workspace-drawer.is-pinned .workspace-drawer-header-icon.mod-pin,
	.canvas-help .setting-hotkey,
	.clickable-icon[aria-label="Search settings"].is-active,
	.pdf-outline-view .tree-item-self.mod-active {
		background-color: var(--background-primary);
		border-color: var(--interactive-accent-tint);
	}

	.search-result-file-match-destination-file {
		color: var(--text-normal);
		background-color: var(--background-secondary);
		border-color: var(--color-grey-tint);

		&:hover {
			color: var(--interactive-accent-hover);
			background-color: var(--background-secondary);
			border-color: var(--interactive-accent-tint);
		}
	}

	.search-result-file-match-replace-button {
		background-color: var(--background-primary);
		border-color: var(--color-grey-tint);

		&:hover {
			border-color: var(--interactive-accent-tint);
		}
	}

	button.mod-cta {
		background-color: var(--background-primary);
		border-color: var(--interactive-accent-tint);

		&:hover {
			color: var(--interactive-accent-tint);
		}
	}

	:is(button.mod-warning, .side-dock-ribbon-action.is-active[aria-label="Start/stop recording"]) {
		color: var(--text-normal);
		background-color: var(--background-primary);
		border-color: var(--color-red-tint);

		&:hover {
			color: var(--color-red-tint);
		}
	}

	:is(.pcr-button, .modal button:not(.mod-cta):not(.mod-warning), .graph-control-content button, .modal-setting-nav-bar .clickable-icon, .document-search-button, .pdf-toolbar-button) {
		color: var(--text-normal);
		background-color: var(--background-primary);
		border-color: var(--color-grey-tint);

		&:hover {
			color: var(--color-grey-tint);
		}
	}

	.setting-command-hotkeys .setting-hotkey {
		color: var(--text-normal);
		background-color: var(--background-primary);
		border-color: var(--color-blue-tint);

		&.mod-empty {
			border-color: var(--color-grey-tint);
		}

		&.has-conflict {
			border-color: var(--color-red-tint);
		}
	}

	:is(.flair.mod-pop, .community-item .flair) {
		color: var(--text-normal);
		background-color: var(--background-secondary);
		border-color: var(--color-green-tint);
	}

	button.copy-code-button {
		color: var(--text-normal);
		border-color: var(--color-grey-tint);

		&:hover {
			color: var(--color-grey-tint);
		}
	}

	:is(.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right, .workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left, .popover-action.is-active, .mod-pin-popover.is-active),
	.pdf-toolbar-left .clickable-icon[aria-label="Toggle sidebar"].is-active {
		background-color: var(--background-primary);
		border-color: var(--interactive-accent-tint);

		.clickable-icon:hover {
			background-color: unset;
		}

		&:hover {
			color: var(--interactive-accent-hover);
		}
	}
}

:is(.theme-dark.pt-accent-style-border-dt.is-mobile, .theme-light.pt-accent-style-border-lt.is-mobile) {
	.modal.mod-settings .vertical-tab-nav-item {
		border-color: transparent;

		&.is-active {
			background-color: var(--background-primary);
			border-color: var(--interactive-accent-tint);
		}
	}
}