/* #region [Accent Style] Base */
.modal button:not(.mod-cta):not(.mod-warning) {
	display: inline-flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.community-theme-remove-button {
	top: 6px;
	right: 6px;
	margin: unset;
}

.search-result-file-match-replace-button {
	position: relative;
	top: unset;
	right: unset;
	display: flex;
	margin: 6px 0 5px;
}

.search-result-file-match-destination-file {
	margin: 0 0 5px;
}

.workspace-leaf.mod-active .view-header,
.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > div.view-header {
	border: var(--border-size) solid;
	border-radius: var(--border-radius);
}

.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header {
	border: var(--border-size) solid;
}

.workspace-leaf.mod-active .view-header .view-header-icon,
.workspace-leaf.mod-active .view-header .view-actions .view-action,
.workspace-leaf.mod-active .view-header .view-header-title {
	stroke-width: 2px;
}

.workspace-leaf .view-header .view-header-title:hover {
	color: var(--interactive-accent-hover);
}

.workspace-tab-header.is-active {
	border: var(--border-size) solid;
	stroke-width: 2px;
}

.nav-action-button.is-active {
	border: var(--border-size) solid;
	box-shadow: var(--drop-shadow);
	stroke-width: 2px;

	&:hover svg {
		color: var(--interactive-accent-hover);
	}
}

.vertical-tab-nav-item.is-active {
	border: var(--border-size) solid;

	&:hover {
		color: var(--interactive-accent-hover);
	}
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title.is-active {
	border: var(--border-size) solid;
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);

	&:hover {
		color: var(--interactive-accent-hover);
	}
}

.suggestion-hotkey {
	border: var(--border-size) solid;
	box-shadow: var(--drop-shadow);
}

.search-result-container.node-insert-event .tree-item-self:hover .tree-item-flair,
.tag-container.node-insert-event .tree-item-self:hover .tree-item-flair,
.backlink-pane .tree-item-self:hover .tree-item-flair,
.outgoing-link-pane.node-insert-event .tree-item-self:hover .tree-item-flair,
.nav-file-title:hover .nav-file-tag {
	border: var(--border-size) solid;
}

.search-result-hover-button.mod-top:hover,
.search-result-hover-button.mod-bottom:hover {
	border: var(--border-size) solid;

	svg path {
		fill: var(--highlight-text-normal);
	}
}

.workspace-leaf-content[data-type="outgoing-link"] .search-result-file-match-destination-file,
.workspace-leaf-content[data-type="backlink"] .search-result-file-match-replace-button,
.embedded-backlinks .search-result-file-match-replace-button {
	font-variation-settings: "wght" 600;
	color: var(--text-normal);
	border: var(--border-size) solid;
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);
}

.community-theme {
	&.is-selected {
		border: var(--border-size) solid;
		box-shadow: var(--drop-shadow);

		.community-theme-info,
		.community-theme-downloads,
		.clickable-icon {
			color: var(--highlight-text-normal);

			&:hover {
				color: var(--interactive-accent-hover);
			}
		}
	}

	&:hover span.community-theme-remove-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		font-variation-settings: "wght" 600;
		border: var(--border-size) solid;
		border-radius: var(--border-radius-small);
	}
}

button.mod-cta,
button.mod-warning,
.modal button:not(.mod-cta):not(.mod-warning),
.graph-control-content button,
.setting-hotkey,
.flair.mod-pop,
button.copy-code-button {
	font-variation-settings: "wght" 600;
	border: var(--border-size) solid;
	border-radius: var(--border-radius-small);
}

.setting-hotkey {
	font-family: var(--font-interface);
}

.workspace-ribbon.side-dock-ribbon.mod-right:not(.is-collapsed) .workspace-ribbon-collapse-btn,
.workspace-ribbon.side-dock-ribbon.mod-left:not(.is-collapsed) .workspace-ribbon-collapse-btn {
	font-variation-settings: "wght" 600;
	border: var(--border-size) solid;
	border-radius: var(--border-radius);
}
/* #endregion */
