/* #region  [Accent Style] Border and Filled */
.theme-dark.pt-accent-style-borderandfilled-dt,
.theme-light.pt-accent-style-borderandfilled-lt {
	.workspace-tab-header.is-active {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);
	}

	.nav-action-button.is-active {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);
	}

	.vertical-tab-nav-item.is-active {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);
	}

	.nav-file-title.is-active {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);
	}

	.suggestion-hotkey {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);
	}

	.search-result-file-match-destination-file {
		color: var(--text-normal);
		background-color: var(--color-grey-base);
		border-color: var(--color-grey-tint);

		&:hover {
			color: var(--interactive-accent-hover);
			background-color: var(--interactive-accent-base);
			border-color: var(--interactive-accent-tint);
		}
	}

	.search-result-file-match-replace-button {
		background-color: var(--color-grey-base);
		border-color: var(--color-grey-tint);

		&:hover {
			background-color: var(--interactive-accent-base);
			border-color: var(--interactive-accent-tint);
		}
	}

	button.mod-cta {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);

		&:hover {
			color: var(--interactive-accent-tint);
		}
	}

	button.mod-warning {
		color: var(--text-normal);
		background-color: var(--color-red-base);
		border-color: var(--color-red-tint);

		&:hover {
			color: var(--color-red-tint);
		}
	}

	.modal button:not(.mod-cta):not(.mod-warning),
	.graph-control-content button {
		color: var(--text-normal);
		background-color: var(--color-grey-base);
		border-color: var(--color-grey-tint);

		&:hover {
			color: var(--color-grey-tint);
		}
	}

	.setting-hotkey {
		color: var(--text-normal);
		background-color: var(--color-blue-base);
		border-color: var(--color-blue-tint);

		&.mod-empty {
			background-color: var(--color-grey-base);
			border-color: var(--color-grey-tint);
		}

		&.has-conflict {
			background-color: var(--color-red-base);
			border-color: var(--color-red-tint);
		}
	}

	.flair.mod-pop {
		color: var(--text-normal);
		background-color: var(--color-green-base);
		border-color: var(--color-green-tint);
	}

	button.copy-code-button {
		color: var(--text-normal);
		background-color: var(--color-grey-base);
		border-color: var(--color-grey-tint);

		&:hover {
			color: var(--color-grey-tint);
		}
	}

	.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right,
	.workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left {
		background-color: var(--interactive-accent-base);
		border-color: var(--interactive-accent-tint);

		&:hover {
			color: var(--interactive-accent-hover);
		}
	}
}
/* #endregion */
