/* #region  [Accent Style] Text Only */
.theme-dark.pt-accent-style-text-dt .workspace-leaf.mod-active .view-header,
.theme-light.pt-accent-style-text-lt .workspace-leaf.mod-active .view-header {
	background-color: var(--background-primary);
	color: var(--interactive-accent-text);
	border: var(--border-size) solid transparent;
	border-radius: var(--border-radius);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-split.mod-root
	> .workspace-leaf:first-of-type:last-of-type
	.view-header,
.theme-light.pt-accent-style-text-lt
	.workspace-split.mod-root
	> .workspace-leaf:first-of-type:last-of-type
	.view-header {
	background-color: var(--background-primary);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf.mod-active
	.view-header
	.view-header-title,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf.mod-active
	.view-header
	.view-header-title {
	color: var(--interactive-accent-text);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf.mod-active
	.view-header
	.view-header-title:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf.mod-active
	.view-header
	.view-header-title:hover {
	color: var(--interactive-accent-hover);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf
	.view-header
	.view-header-icon,
.theme-dark.pt-accent-style-text-dt
	.workspace-leaf
	.view-header
	.view-actions
	.view-action,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf
	.view-header
	.view-header-icon,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf
	.view-header
	.view-actions
	.view-action {
	color: var(--text-muted);
	stroke-width: 2px;
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf
	.view-header
	.view-header-icon:hover,
.theme-dark.pt-accent-style-text-dt
	.workspace-leaf
	.view-header
	.view-actions
	.view-action:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf
	.view-header
	.view-header-icon:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf
	.view-header
	.view-actions
	.view-action:hover {
	color: var(--interactive-accent-hover);
	stroke-width: 2px;
}

.theme-dark.pt-accent-style-text-dt .workspace-tab-header.is-active,
.theme-light.pt-accent-style-text-lt .workspace-tab-header.is-active {
	background-color: var(--background-primary);
	color: var(--interactive-accent-text);
	stroke-width: 2px;
}

.theme-dark.pt-accent-style-text-dt .nav-action-button.is-active,
.theme-light.pt-accent-style-text-lt .nav-action-button.is-active {
	background-color: var(--background-primary);
	color: var(--interactive-accent-text);
	stroke-width: 2px;
}

.theme-dark.pt-accent-style-text-dt .nav-action-button.is-active:hover svg,
.theme-light.pt-accent-style-text-lt .nav-action-button.is-active:hover svg {
	color: var(--interactive-accent-hover);
}

.theme-dark.pt-accent-style-text-dt .vertical-tab-nav-item.is-active,
.theme-light.pt-accent-style-text-lt .vertical-tab-nav-item.is-active {
	background-color: var(--background-primary);
	color: var(--interactive-accent-text);
}

.theme-dark.pt-accent-style-text-dt .vertical-tab-nav-item.is-active:hover,
.theme-light.pt-accent-style-text-lt .vertical-tab-nav-item.is-active:hover {
	color: var(--interactive-accent-hover);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf-content[data-type="file-explorer"]
	.nav-file-title.is-active,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf-content[data-type="file-explorer"]
	.nav-file-title.is-active {
	border-radius: var(--border-radius-small);
	color: var(--interactive-accent-text);
	background-color: var(--background-primary);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf-content[data-type="file-explorer"]
	.nav-file-title.is-active:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf-content[data-type="file-explorer"]
	.nav-file-title.is-active:hover {
	color: var(--interactive-accent-hover);
}

.theme-dark.pt-accent-style-text-dt .nav-file-title.is-active:hover,
.theme-light.pt-accent-style-text-lt .nav-file-title.is-active:hover {
	border-radius: var(--border-radius-small);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt .suggestion-hotkey,
.theme-light.pt-accent-style-text-lt .suggestion-hotkey {
	color: var(--interactive-accent-text);
	border: var(--border-size) solid transparent;
}

/* Matches the gradient next to the right hand buttons in the View Header with the background */
.theme-dark.pt-accent-style-text-dt
	.workspace-split.mod-root
	.workspace-leaf.mod-active
	.view-header-title-container:after,
.theme-light.pt-accent-style-text-lt
	.workspace-split.mod-root
	.workspace-leaf.mod-active
	.view-header-title-container:after,
.theme-dark.pt-accent-style-text-dt
	.workspace-leaf.mod-active
	.view-header-title-container:after,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf.mod-active
	.view-header-title-container:after,
.theme-dark.pt-accent-style-text-dt
	.workspace-split.mod-root
	> .workspace-leaf:first-of-type:last-of-type.mod-active
	.view-header-title-container:after,
.theme-light.pt-accent-style-text-lt
	.workspace-split.mod-root
	> .workspace-leaf:first-of-type:last-of-type.mod-active
	.view-header-title-container:after {
	background: linear-gradient(to right, transparent, var(--background-primary));
}

.theme-dark.pt-accent-style-text-dt
	.search-result-container.node-insert-event
	.tree-item-self:hover
	.tree-item-flair,
.theme-dark.pt-accent-style-text-dt
	.tag-container.node-insert-event
	.tree-item-self:hover
	.tree-item-flair,
.theme-dark.pt-accent-style-text-dt
	.backlink-pane
	.tree-item-self:hover
	.tree-item-flair,
.theme-dark.pt-accent-style-text-dt
	.outgoing-link-pane.node-insert-event
	.tree-item-self:hover
	.tree-item-flair,
.theme-light.pt-accent-style-text-lt
	.search-result-container.node-insert-event
	.tree-item-self:hover
	.tree-item-flair,
.theme-light.pt-accent-style-text-lt
	.tag-container.node-insert-event
	.tree-item-self:hover
	.tree-item-flair,
.theme-light.pt-accent-style-text-lt
	.backlink-pane
	.tree-item-self:hover
	.tree-item-flair,
.theme-light.pt-accent-style-text-lt
	.outgoing-link-pane.node-insert-event
	.tree-item-self:hover
	.tree-item-flair {
	background-color: var(--background-secondary-alt);
	color: var(--interactive-accent-text);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt .nav-file-title:hover .nav-file-tag,
.theme-light.pt-accent-style-text-lt .nav-file-title:hover .nav-file-tag {
	background-color: var(--background-secondary-alt);
	color: var(--interactive-accent-text);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt .search-result-hover-button.mod-top:hover,
.theme-dark.pt-accent-style-text-dt
	.search-result-hover-button.mod-bottom:hover,
.theme-light.pt-accent-style-text-lt .search-result-hover-button.mod-top:hover,
.theme-light.pt-accent-style-text-lt
	.search-result-hover-button.mod-bottom:hover {
	background-color: var(--background-primary);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt
	.search-result-hover-button.mod-top:hover
	svg
	path,
.theme-dark.pt-accent-style-text-dt
	.search-result-hover-button.mod-bottom:hover
	svg
	path,
.theme-light.pt-accent-style-text-lt
	.search-result-hover-button.mod-top:hover
	svg
	path,
.theme-light.pt-accent-style-text-lt
	.search-result-hover-button.mod-bottom:hover
	svg
	path {
	fill: var(--interactive-accent-text);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf-content[data-type="outgoing-link"]
	.search-result-file-match-destination-file,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf-content[data-type="outgoing-link"]
	.search-result-file-match-destination-file {
	color: var(--text-normal);
	background-color: var(--background-secondary);
	border: var(--border-size) solid var(--background-secondary);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);
	font-weight: 600;
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf-content[data-type="outgoing-link"]
	.search-result-file-match-destination-file:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf-content[data-type="outgoing-link"]
	.search-result-file-match-destination-file:hover {
	color: var(--interactive-accent-text);
	background-color: var(--background-secondary);
	border: var(--border-size) solid var(--background-secondary);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);
	font-weight: 600;
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf-content[data-type="backlink"]
	.search-result-file-match-replace-button,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf-content[data-type="backlink"]
	.search-result-file-match-replace-button,
.theme-dark.pt-accent-style-text-dt
	.embedded-backlinks
	.search-result-file-match-replace-button,
.theme-light.pt-accent-style-text-lt
	.embedded-backlinks
	.search-result-file-match-replace-button {
	color: var(--text-normal);
	background-color: var(--background-secondary);
	border: var(--border-size) solid var(--background-secondary);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);
	font-weight: 600;
}

.theme-dark.pt-accent-style-text-dt
	.workspace-leaf-content[data-type="backlink"]
	.search-result-file-match-replace-button:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-leaf-content[data-type="backlink"]
	.search-result-file-match-replace-button:hover,
.theme-dark.pt-accent-style-text-dt
	.embedded-backlinks
	.search-result-file-match-replace-button:hover,
.theme-light.pt-accent-style-text-lt
	.embedded-backlinks
	.search-result-file-match-replace-button:hover {
	color: var(--interactive-accent-text);
	background-color: var(--background-secondary);
	border: var(--border-size) solid var(--background-secondary);
	border-radius: var(--border-radius-small);
	box-shadow: var(--drop-shadow);
	font-weight: 600;
}

.theme-dark.pt-accent-style-text-dt
	.community-theme:hover
	.community-theme-remove-button,
.theme-light.pt-accent-style-text-lt
	.community-theme:hover
	.community-theme-remove-button {
	font-weight: 600;
	color: var(--color-text-red);
	background-color: var(--background-secondary);
	border: var(--border-size) solid transparent;
	border-radius: var(--border-radius-small);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-dark.pt-accent-style-text-dt
	.community-theme:hover
	.community-theme-remove-button:hover,
.theme-light.pt-accent-style-text-lt
	.community-theme:hover
	.community-theme-remove-button:hover {
	color: var(--color-dark-red);
}

.theme-dark.pt-accent-style-text-dt .community-theme.is-selected,
.theme-light.pt-accent-style-text-lt .community-theme.is-selected {
	color: var(--interactive-accent-text);
	background-color: var(--background-primary);
	border: var(--border-size) solid var(--background-primary);
	box-shadow: var(--drop-shadow);
}

.theme-dark.pt-accent-style-text-dt button.mod-cta,
.theme-light.pt-accent-style-text-lt button.mod-cta {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--interactive-accent-text);
	border: var(--border-size) solid transparent;
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt .modal.mod-community-theme button.mod-cta,
.theme-light.pt-accent-style-text-lt .modal.mod-community-theme button.mod-cta {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--interactive-accent-text);
	border: var(--border-size) solid transparent;
	background-color: var(--background-secondary);
}

.theme-dark.pt-accent-style-text-dt button.mod-warning,
.theme-light.pt-accent-style-text-lt button.mod-warning {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--color-text-red);
	border: var(--border-size) solid transparent;
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt
	.modal
	button:not(.mod-cta):not(.mod-warning),
.theme-light.pt-accent-style-text-lt
	.modal
	button:not(.mod-cta):not(.mod-warning),
.theme-dark.pt-accent-style-text-dt
	.modal.mod-community-theme
	.setting-item-control
	button:not(.mod-cta):not(.mod-warning),
.theme-light.pt-accent-style-text-lt
	.modal.mod-community-theme
	.setting-item-control
	button:not(.mod-cta):not(.mod-warning) {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--color-text-grey);
	border: var(--border-size) solid transparent;
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt
	.modal.mod-community-theme
	button:not(.mod-cta):not(.mod-warning),
.theme-light.pt-accent-style-text-lt
	.modal.mod-community-theme
	button:not(.mod-cta):not(.mod-warning) {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--color-text-grey);
	border: var(--border-size) solid transparent;
	background-color: var(--background-secondary);
}

.theme-dark.pt-accent-style-text-dt
	.modal
	button:not(.mod-cta):not(.mod-warning):hover,
.theme-light.pt-accent-style-text-lt
	.modal
	button:not(.mod-cta):not(.mod-warning):hover,
.theme-dark.pt-accent-style-text-dt
	.modal.mod-community-theme
	button:not(.mod-cta):not(.mod-warning):hover,
.theme-light.pt-accent-style-text-lt
	.modal.mod-community-theme
	button:not(.mod-cta):not(.mod-warning):hover {
	color: var(--color-dark-grey);
}

.theme-dark.pt-accent-style-text-dt button.mod-cta:hover,
.theme-light.pt-accent-style-text-lt button.mod-cta:hover,
.theme-dark.pt-accent-style-text-dt
	.modal.mod-community-theme
	button.mod-cta:hover,
.theme-light.pt-accent-style-text-lt
	.modal.mod-community-theme
	button.mod-cta:hover {
	color: var(--interactive-accent-dark);
}

.theme-dark.pt-accent-style-text-dt button.mod-warning:hover,
.theme-light.pt-accent-style-text-lt button.mod-warning:hover {
	color: var(--color-dark-red);
}

.theme-dark.pt-accent-style-text-dt
	.modal
	button:not(.mod-cta):not(.mod-warning):hover,
.theme-light.pt-accent-style-text-lt
	.modal
	button:not(.mod-cta):not(.mod-warning):hover {
	color: var(--color-dark-grey);
}

.theme-dark.pt-accent-style-text-dt .setting-hotkey,
.theme-light.pt-accent-style-text-lt .setting-hotkey {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--color-text-blue);
	border: var(--border-size) solid transparent;
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt .setting-hotkey.mod-empty,
.theme-light.pt-accent-style-text-lt .setting-hotkey.mod-empty {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--text-normal);
	border: var(--border-size) solid transparent;
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt .setting-hotkey.has-conflict,
.theme-light.pt-accent-style-text-lt .setting-hotkey.has-conflict {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--color-text-red);
	border: var(--border-size) solid transparent;
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt .flair.mod-pop,
.theme-light.pt-accent-style-text-lt .flair.mod-pop {
	font-weight: 600;
	border-radius: var(--border-radius-small);
	color: var(--color-text-green);
	background-color: var(--background-secondary);
}

.theme-dark.pt-accent-style-text-dt button.copy-code-button,
.theme-light.pt-accent-style-text-lt button.copy-code-button {
	color: var(--color-grey);
	border: var(--border-size) solid transparent;
}

.theme-dark.pt-accent-style-text-dt button.copy-code-button:hover,
.theme-light.pt-accent-style-text-lt button.copy-code-button:hover {
	color: var(--color-dark-grey);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-ribbon.side-dock-ribbon.mod-right:not(.is-collapsed)
	.workspace-ribbon-collapse-btn,
.theme-dark.pt-accent-style-text-dt
	.workspace-ribbon.side-dock-ribbon.mod-left:not(.is-collapsed)
	.workspace-ribbon-collapse-btn,
.theme-light.pt-accent-style-text-lt
	.workspace-ribbon.side-dock-ribbon.mod-right:not(.is-collapsed)
	.workspace-ribbon-collapse-btn,
.theme-light.pt-accent-style-text-lt
	.workspace-ribbon.side-dock-ribbon.mod-left:not(.is-collapsed)
	.workspace-ribbon-collapse-btn {
	color: var(--interactive-accent-text);
	background-color: var(--background-primary);
}

.theme-dark.pt-accent-style-text-dt
	.workspace-ribbon.side-dock-ribbon.mod-right:not(.is-collapsed)
	.workspace-ribbon-collapse-btn:hover,
.theme-dark.pt-accent-style-text-dt
	.workspace-ribbon.side-dock-ribbon.mod-left:not(.is-collapsed)
	.workspace-ribbon-collapse-btn:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-ribbon.side-dock-ribbon.mod-right:not(.is-collapsed)
	.workspace-ribbon-collapse-btn:hover,
.theme-light.pt-accent-style-text-lt
	.workspace-ribbon.side-dock-ribbon.mod-left:not(.is-collapsed)
	.workspace-ribbon-collapse-btn:hover {
	color: var(--interactive-accent-hover);
}
/* #endregion */
