/* #region  [Accent Color Presets] Light Theme */
.theme-light.pt-accent-color- {
	&custom-lt {
		--text-accent: var(--color-accent-dark-lt);
		--text-accent-hover: var(--color-accent-dark-lt);
		--interactive-accent: var(--color-accent-base-lt);
		--interactive-accent-dark: var(--color-accent-dark-lt);
		--interactive-accent-text: var(--color-accent-text-lt);
		--interactive-accent-hover: var(--color-accent-dark-lt);
		--text-highlight-accent: var(--color-accent-base-lt);
	}

	&red-lt {
		--text-accent: var(--color-red-dark);
		--text-accent-hover: var(--color-red-dark);
		--interactive-accent: var(--color-red-base);
		--interactive-accent-dark: var(--color-red-dark);
		--interactive-accent-text: var(--color-red-text);
		--interactive-accent-hover: var(--color-red-dark);
		--text-highlight-accent: var(--color-red-base);
	}
	&orange-lt {
		--text-accent: var(--color-orange-dark);
		--text-accent-hover: var(--color-orange-dark);
		--interactive-accent: var(--color-orange-base);
		--interactive-accent-dark: var(--color-orange-dark);
		--interactive-accent-text: var(--color-orange-text);
		--interactive-accent-hover: var(--color-orange-dark);
		--text-highlight-accent: var(--color-orange-base);
	}
	&yellow-lt {
		--text-accent: var(--color-yellow-dark);
		--text-accent-hover: var(--color-yellow-dark);
		--interactive-accent: var(--color-yellow-base);
		--interactive-accent-dark: var(--color-yellow-dark);
		--interactive-accent-text: var(--color-yellow-text);
		--interactive-accent-hover: var(--color-yellow-dark);
		--text-highlight-accent: var(--color-yellow-base);
	}
	&green-lt {
		--text-accent: var(--color-green-dark);
		--text-accent-hover: var(--color-green-dark);
		--interactive-accent: var(--color-green-base);
		--interactive-accent-dark: var(--color-green-dark);
		--interactive-accent-text: var(--color-green-text);
		--interactive-accent-hover: var(--color-green-dark);
		--text-highlight-accent: var(--color-green-base);
	}
	&mint-lt {
		--text-accent: var(--color-mint-dark);
		--text-accent-hover: var(--color-mint-dark);
		--interactive-accent: var(--color-mint-base);
		--interactive-accent-dark: var(--color-mint-dark);
		--interactive-accent-text: var(--color-mint-text);
		--interactive-accent-hover: var(--color-mint-dark);
		--text-highlight-accent: var(--color-mint-base);
	}
	&aqua-lt {
		--text-accent: var(--color-aqua-dark);
		--text-accent-hover: var(--color-aqua-dark);
		--interactive-accent: var(--color-aqua-base);
		--interactive-accent-dark: var(--color-aqua-dark);
		--interactive-accent-text: var(--color-aqua-text);
		--interactive-accent-hover: var(--color-aqua-dark);
		--text-highlight-accent: var(--color-aqua-base);
	}
	&blue-lt {
		--text-accent: var(--color-blue-dark);
		--text-accent-hover: var(--color-blue-dark);
		--interactive-accent: var(--color-blue-base);
		--interactive-accent-dark: var(--color-blue-dark);
		--interactive-accent-text: var(--color-blue-text);
		--interactive-accent-hover: var(--color-blue-dark);
		--text-highlight-accent: var(--color-blue-base);
	}
	&purple-lt {
		--text-accent: var(--color-purple-dark);
		--text-accent-hover: var(--color-purple-dark);
		--interactive-accent: var(--color-purple-base);
		--interactive-accent-dark: var(--color-purple-dark);
		--interactive-accent-text: var(--color-purple-text);
		--interactive-accent-hover: var(--color-purple-dark);
		--text-highlight-accent: var(--color-purple-base);
	}
	&pink-lt {
		--text-accent: var(--color-pink-dark);
		--text-accent-hover: var(--color-pink-dark);
		--interactive-accent: var(--color-pink-base);
		--interactive-accent-dark: var(--color-pink-dark);
		--interactive-accent-text: var(--color-pink-text);
		--interactive-accent-hover: var(--color-pink-dark);
		--text-highlight-accent: var(--color-pink-base);
	}
	&grey-lt {
		--text-accent: var(--color-grey-dark);
		--text-accent-hover: var(--color-grey-dark);
		--interactive-accent: var(--color-grey-base);
		--interactive-accent-dark: var(--color-grey-dark);
		--interactive-accent-text: var(--color-grey-text);
		--interactive-accent-hover: var(--color-grey-dark);
		--text-highlight-accent: var(--color-grey-base);
	}
}
/* #endregion */

/* #region  [Accent Color Presets] Dark Theme */
.theme-dark.pt-accent-color- {
	&custom-dt {
		--text-accent: var(--color-accent-base-dt);
		--text-accent-hover: var(--color-accent-dark-dt);
		--interactive-accent: var(--color-accent-base-dt);
		--interactive-accent-dark: var(--color-accent-dark-dt);
		--interactive-accent-text: var(--color-accent-text-dt);
		--interactive-accent-hover: var(--color-accent-dark-dt);
		--text-highlight-accent: var(--color-accent-dark-dt);
	}
	&red-dt {
		--text-accent: var(--color-red-base);
		--text-accent-hover: var(--color-red-dark);
		--interactive-accent: var(--color-red-base);
		--interactive-accent-dark: var(--color-red-dark);
		--interactive-accent-text: var(--color-red-text);
		--interactive-accent-hover: var(--color-red-dark);
		--text-highlight-accent: var(--color-red-dark);
	}
	&orange-dt {
		--text-accent: var(--color-orange-base);
		--text-accent-hover: var(--color-orange-dark);
		--interactive-accent: var(--color-orange-base);
		--interactive-accent-dark: var(--color-orange-dark);
		--interactive-accent-text: var(--color-orange-text);
		--interactive-accent-hover: var(--color-orange-dark);
		--text-highlight-accent: var(--color-orange-dark);
	}
	&yellow-dt {
		--text-accent: var(--color-yellow-base);
		--text-accent-hover: var(--color-yellow-dark);
		--interactive-accent: var(--color-yellow-base);
		--interactive-accent-dark: var(--color-yellow-dark);
		--interactive-accent-text: var(--color-yellow-text);
		--interactive-accent-hover: var(--color-yellow-dark);
		--text-highlight-accent: var(--color-yellow-dark);
	}
	&green-dt {
		--text-accent: var(--color-green-base);
		--text-accent-hover: var(--color-green-dark);
		--interactive-accent: var(--color-green-base);
		--interactive-accent-dark: var(--color-green-dark);
		--interactive-accent-text: var(--color-green-text);
		--interactive-accent-hover: var(--color-green-dark);
		--text-highlight-accent: var(--color-green-dark);
	}
	&mint-dt {
		--text-accent: var(--color-mint-base);
		--text-accent-hover: var(--color-mint-dark);
		--interactive-accent: var(--color-mint-base);
		--interactive-accent-dark: var(--color-mint-dark);
		--interactive-accent-text: var(--color-mint-text);
		--interactive-accent-hover: var(--color-mint-dark);
		--text-highlight-accent: var(--color-mint-dark);
	}
	&aqua-dt {
		--text-accent: var(--color-aqua-base);
		--text-accent-hover: var(--color-aqua-dark);
		--interactive-accent: var(--color-aqua-base);
		--interactive-accent-dark: var(--color-aqua-dark);
		--interactive-accent-text: var(--color-aqua-text);
		--interactive-accent-hover: var(--color-aqua-dark);
		--text-highlight-accent: var(--color-aqua-dark);
	}
	&blue-dt {
		--text-accent: var(--color-blue-base);
		--text-accent-hover: var(--color-blue-dark);
		--interactive-accent: var(--color-blue-base);
		--interactive-accent-dark: var(--color-blue-dark);
		--interactive-accent-text: var(--color-blue-text);
		--interactive-accent-hover: var(--color-blue-dark);
		--text-highlight-accent: var(--color-blue-dark);
	}
	&purple-dt {
		--text-accent: var(--color-purple-base);
		--text-accent-hover: var(--color-purple-dark);
		--interactive-accent: var(--color-purple-base);
		--interactive-accent-dark: var(--color-purple-dark);
		--interactive-accent-text: var(--color-purple-text);
		--interactive-accent-hover: var(--color-purple-dark);
		--text-highlight-accent: var(--color-purple-dark);
	}
	&pink-dt {
		--text-accent: var(--color-pink-base);
		--text-accent-hover: var(--color-pink-dark);
		--interactive-accent: var(--color-pink-base);
		--interactive-accent-dark: var(--color-pink-dark);
		--interactive-accent-text: var(--color-pink-text);
		--interactive-accent-hover: var(--color-pink-dark);
		--text-highlight-accent: var(--color-pink-dark);
	}
	&grey-dt {
		--text-accent: var(--color-grey-base);
		--text-accent-hover: var(--color-grey-dark);
		--interactive-accent: var(--color-grey-base);
		--interactive-accent-dark: var(--color-grey-dark);
		--interactive-accent-text: var(--color-grey-text);
		--interactive-accent-hover: var(--color-grey-dark);
		--text-highlight-accent: var(--color-grey-dark);
	}
}
/* #endregion */
