/*
  ==========================================================================
  Accent Colors
  ==========================================================================
*/

/* #region  [Accent Color Presets] Light Theme */
.theme-light.pt-light-accent-color- {
	&custom {
		--text-accent: var(--color-dark-accent);
		--text-accent-hover: var(--color-dark-accent);
		--interactive-accent: var(--color-accent);
		--interactive-accent-dark: var(--color-dark-accent);
		--interactive-accent-text: var(--color-text-accent);
		--interactive-accent-hover: var(--color-dark-accent);
		--text-highlight-accent: var(--color-accent);
	}

	&red {
		--text-accent: var(--color-dark-red);
		--text-accent-hover: var(--color-dark-red);
		--interactive-accent: var(--color-red);
		--interactive-accent-dark: var(--color-dark-red);
		--interactive-accent-text: var(--color-text-red);
		--interactive-accent-hover: var(--color-dark-red);
		--text-highlight-accent: var(--color-red);
	}
	&orange {
		--text-accent: var(--color-dark-orange);
		--text-accent-hover: var(--color-dark-orange);
		--interactive-accent: var(--color-orange);
		--interactive-accent-dark: var(--color-dark-orange);
		--interactive-accent-text: var(--color-text-orange);
		--interactive-accent-hover: var(--color-dark-orange);
		--text-highlight-accent: var(--color-orange);
	}
	&yellow {
		--text-accent: var(--color-dark-yellow);
		--text-accent-hover: var(--color-dark-yellow);
		--interactive-accent: var(--color-yellow);
		--interactive-accent-dark: var(--color-dark-yellow);
		--interactive-accent-text: var(--color-text-yellow);
		--interactive-accent-hover: var(--color-dark-yellow);
		--text-highlight-accent: var(--color-yellow);
	}
	&green {
		--text-accent: var(--color-dark-green);
		--text-accent-hover: var(--color-dark-green);
		--interactive-accent: var(--color-green);
		--interactive-accent-dark: var(--color-dark-green);
		--interactive-accent-text: var(--color-text-green);
		--interactive-accent-hover: var(--color-dark-green);
		--text-highlight-accent: var(--color-green);
	}
	&mint {
		--text-accent: var(--color-dark-mint);
		--text-accent-hover: var(--color-dark-mint);
		--interactive-accent: var(--color-mint);
		--interactive-accent-dark: var(--color-dark-mint);
		--interactive-accent-text: var(--color-text-mint);
		--interactive-accent-hover: var(--color-dark-mint);
		--text-highlight-accent: var(--color-mint);
	}
	&aqua {
		--text-accent: var(--color-dark-aqua);
		--text-accent-hover: var(--color-dark-aqua);
		--interactive-accent: var(--color-aqua);
		--interactive-accent-dark: var(--color-dark-aqua);
		--interactive-accent-text: var(--color-text-aqua);
		--interactive-accent-hover: var(--color-dark-aqua);
		--text-highlight-accent: var(--color-aqua);
	}
	&blue {
		--text-accent: var(--color-dark-blue);
		--text-accent-hover: var(--color-dark-blue);
		--interactive-accent: var(--color-blue);
		--interactive-accent-dark: var(--color-dark-blue);
		--interactive-accent-text: var(--color-text-blue);
		--interactive-accent-hover: var(--color-dark-blue);
		--text-highlight-accent: var(--color-blue);
	}
	&purple {
		--text-accent: var(--color-dark-purple);
		--text-accent-hover: var(--color-dark-purple);
		--interactive-accent: var(--color-purple);
		--interactive-accent-dark: var(--color-dark-purple);
		--interactive-accent-text: var(--color-text-purple);
		--interactive-accent-hover: var(--color-dark-purple);
		--text-highlight-accent: var(--color-purple);
	}
	&pink {
		--text-accent: var(--color-dark-pink);
		--text-accent-hover: var(--color-dark-pink);
		--interactive-accent: var(--color-pink);
		--interactive-accent-dark: var(--color-dark-pink);
		--interactive-accent-text: var(--color-text-pink);
		--interactive-accent-hover: var(--color-dark-pink);
		--text-highlight-accent: var(--color-pink);
	}
	&grey {
		--text-accent: var(--color-dark-grey);
		--text-accent-hover: var(--color-dark-grey);
		--interactive-accent: var(--color-grey);
		--interactive-accent-dark: var(--color-dark-grey);
		--interactive-accent-text: var(--color-text-grey);
		--interactive-accent-hover: var(--color-dark-grey);
		--text-highlight-accent: var(--color-grey);
	}
}
/* #endregion */

/* #region  [Accent Color Presets] Dark Theme */
.theme-dark.pt-dark-accent-color- {
	&custom {
		--text-accent: var(--color-accent);
		--text-accent-hover: var(--color-dark-accent);
		--interactive-accent: var(--color-accent);
		--interactive-accent-dark: var(--color-dark-accent);
		--interactive-accent-text: var(--color-text-accent);
		--interactive-accent-hover: var(--color-dark-accent);
		--text-highlight-accent: var(--color-dark-accent);
	}
	&red {
		--text-accent: var(--color-red);
		--text-accent-hover: var(--color-dark-red);
		--interactive-accent: var(--color-red);
		--interactive-accent-dark: var(--color-dark-red);
		--interactive-accent-text: var(--color-text-red);
		--interactive-accent-hover: var(--color-dark-red);
		--text-highlight-accent: var(--color-dark-red);
	}
	&orange {
		--text-accent: var(--color-orange);
		--text-accent-hover: var(--color-dark-orange);
		--interactive-accent: var(--color-orange);
		--interactive-accent-dark: var(--color-dark-orange);
		--interactive-accent-text: var(--color-text-orange);
		--interactive-accent-hover: var(--color-dark-orange);
		--text-highlight-accent: var(--color-dark-orange);
	}
	&yellow {
		--text-accent: var(--color-yellow);
		--text-accent-hover: var(--color-dark-yellow);
		--interactive-accent: var(--color-yellow);
		--interactive-accent-dark: var(--color-dark-yellow);
		--interactive-accent-text: var(--color-text-yellow);
		--interactive-accent-hover: var(--color-dark-yellow);
		--text-highlight-accent: var(--color-dark-yellow);
	}
	&green {
		--text-accent: var(--color-green);
		--text-accent-hover: var(--color-dark-green);
		--interactive-accent: var(--color-green);
		--interactive-accent-dark: var(--color-dark-green);
		--interactive-accent-text: var(--color-text-green);
		--interactive-accent-hover: var(--color-dark-green);
		--text-highlight-accent: var(--color-dark-green);
	}
	&mint {
		--text-accent: var(--color-mint);
		--text-accent-hover: var(--color-dark-mint);
		--interactive-accent: var(--color-mint);
		--interactive-accent-dark: var(--color-dark-mint);
		--interactive-accent-text: var(--color-text-mint);
		--interactive-accent-hover: var(--color-dark-mint);
		--text-highlight-accent: var(--color-dark-mint);
	}
	&aqua {
		--text-accent: var(--color-aqua);
		--text-accent-hover: var(--color-dark-aqua);
		--interactive-accent: var(--color-aqua);
		--interactive-accent-dark: var(--color-dark-aqua);
		--interactive-accent-text: var(--color-text-aqua);
		--interactive-accent-hover: var(--color-dark-aqua);
		--text-highlight-accent: var(--color-dark-aqua);
	}
	&blue {
		--text-accent: var(--color-blue);
		--text-accent-hover: var(--color-dark-blue);
		--interactive-accent: var(--color-blue);
		--interactive-accent-dark: var(--color-dark-blue);
		--interactive-accent-text: var(--color-text-blue);
		--interactive-accent-hover: var(--color-dark-blue);
		--text-highlight-accent: var(--color-dark-blue);
	}
	&purple {
		--text-accent: var(--color-purple);
		--text-accent-hover: var(--color-dark-purple);
		--interactive-accent: var(--color-purple);
		--interactive-accent-dark: var(--color-dark-purple);
		--interactive-accent-text: var(--color-text-purple);
		--interactive-accent-hover: var(--color-dark-purple);
		--text-highlight-accent: var(--color-dark-purple);
	}
	&pink {
		--text-accent: var(--color-pink);
		--text-accent-hover: var(--color-dark-pink);
		--interactive-accent: var(--color-pink);
		--interactive-accent-dark: var(--color-dark-pink);
		--interactive-accent-text: var(--color-text-pink);
		--interactive-accent-hover: var(--color-dark-pink);
		--text-highlight-accent: var(--color-dark-pink);
	}
	&grey {
		--text-accent: var(--color-grey);
		--text-accent-hover: var(--color-dark-grey);
		--interactive-accent: var(--color-grey);
		--interactive-accent-dark: var(--color-dark-grey);
		--interactive-accent-text: var(--color-text-grey);
		--interactive-accent-hover: var(--color-dark-grey);
		--text-highlight-accent: var(--color-dark-grey);
	}
}
/* #endregion */
