/*
	==========================================================================
	Color Variables
	==========================================================================
*/

body.theme-light.pt-color-scheme-caffe-latte-lt,
body.theme-dark.pt-color-scheme-caffe-mocha-dt {
	/* Base Colors */
	--color-red-h: 352; //***
	--color-red-s: 91%; //***
	--color-red-l: 57%; //***
	
	--color-orange-h: 18; //***
	--color-orange-s: 64%; //***
	--color-orange-l: 61%; //***
	
	--color-yellow-h: 35; //***
	--color-yellow-s: 96%; //***
	--color-yellow-l: 61%; //***
	
	--color-green-h: 121; //***
	--color-green-s: 17%; //***
	--color-green-l: 53%; //***
	
	--color-mint-h: 149; //***
	--color-mint-s: 58%; //***
	--color-mint-l: 80%; //***
	
	--color-aqua-h: 180; //***
	--color-aqua-s: 50%; //***
	--color-aqua-l: 56%; //***
	
	--color-blue-h: 235; //***
	--color-blue-s: 76%; //***
	--color-blue-l: 65%; //***
	
	--color-purple-h: 275; //***
	--color-purple-s: 95%; //***
	--color-purple-l: 43%; //***
	
	--color-pink-h: 325; //***
	--color-pink-s: 76%; //***
	--color-pink-l: 72%; //***
	
	--color-grey-h: 356; //***
	--color-grey-s: 13%; //***
	--color-grey-l: 75%; //***
}

/* #region  [Variables] Light Theme */
.theme-light.pt-color-scheme-caffe-latte-lt {
	--temp-s: 0%;
	--temp-l: 45%;

	--highlight-default: var(--color-yellow);
	
	--color-desaturate-lt: 48%;
	--color-darken-lt: 17%;
	--color-darken-text-lt: 20%;
	
	/* Light Theme Color Adjustments */
	--color-red-s-desaturated: 70%;
	--color-orange-s-desaturated: 66%;
	--color-yellow-s-desaturated: 70%;
	--color-green-s-desaturated: 35%;
	--color-mint-s-desaturated: 40%;
	--color-aqua-s-desaturated: 31%;
	--color-blue-s-desaturated: 27%;
	--color-purple-s-desaturated: 38%;
	--color-pink-s-desaturated: 42%;
	--color-grey-s-desaturated: 5%;
	
	--color-accent-l-darkened: calc(var(--color-accent-lt-l) - var(--color-darken-lt));
	--color-red-l-darkened: 83%;
	--color-orange-l-darkened: 82%;
	--color-yellow-l-darkened: 83%;
	--color-green-l-darkened: 81%;
	--color-mint-l-darkened: 82%;
	--color-aqua-l-darkened: 85%;
	--color-blue-l-darkened: 84%;
	--color-purple-l-darkened: 82%;
	--color-pink-l-darkened: 83%;
	--color-grey-l-darkened: 82%;
	
	--color-accent-l-darkened2x: calc(var(--color-accent-lt-l) - var(--color-darken-lt) * 2);
	--color-red-l-darkened2x: 74%;
	--color-orange-l-darkened2x: 73%;
	--color-yellow-l-darkened2x: 70%;
	--color-green-l-darkened2x: 68%;
	--color-mint-l-darkened2x: 67%;
	--color-aqua-l-darkened2x: 72%;
	--color-blue-l-darkened2x: 74%;
	--color-purple-l-darkened2x: 73%;
	--color-pink-l-darkened2x: 72%;
	--color-grey-l-darkened2x: 68%;
	
	/* Light Theme Color Adjustments */
	--color-red-s-desaturated-text: 53%;
	--color-orange-s-desaturated-text: 54%;
	--color-yellow-s-desaturated-text: 55%;
	--color-green-s-desaturated-text: 45%;
	--color-mint-s-desaturated-text: 58%;
	--color-aqua-s-desaturated-text: 50%;
	--color-blue-s-desaturated-text: 30%;
	--color-purple-s-desaturated-text: 36%;
	--color-pink-s-desaturated-text: 42%;
	--color-grey-s-desaturated-text: 5%;
	
	--color-accent-l-darkened-text: calc(var(--color-accent-lt-l) - var(--color-darken-text-lt));
	--color-red-l-darkened-text: 55%;
	--color-orange-l-darkened-text: 52%;
	--color-yellow-l-darkened-text: 46%;
	--color-green-l-darkened-text: 40%;
	--color-mint-l-darkened-text: 38%;
	--color-aqua-l-darkened-text: 40%;
	--color-blue-l-darkened-text: 56%;
	--color-purple-l-darkened-text: 51%;
	--color-pink-l-darkened-text: 50%;
	--color-grey-l-darkened-text: 47%;
	
	/* Light Theme Base Colors */
	--color-accent: hsl(var(--color-accent-lt-h), var(--color-accent-lt-s), var(--color-accent-lt-l));
	--color-red: hsl(var(--color-red-h), var(--color-red-s-desaturated), var(--color-red-l-darkened));
	--color-orange: hsl(var(--color-orange-h), var(--color-orange-s-desaturated), var(--color-orange-l-darkened));
	--color-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated), var(--color-yellow-l-darkened));
	--color-green: hsl(var(--color-green-h), var(--color-green-s-desaturated), var(--color-green-l-darkened));
	--color-mint: hsl(var(--color-mint-h), var(--color-mint-s-desaturated), var(--color-mint-l-darkened));
	--color-aqua: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated), var(--color-aqua-l-darkened));
	--color-blue: hsl(var(--color-blue-h), var(--color-blue-s-desaturated), var(--color-blue-l-darkened));
	--color-purple: hsl(var(--color-purple-h), var(--color-purple-s-desaturated), var(--color-purple-l-darkened));
	--color-pink: hsl(var(--color-pink-h), var(--color-pink-s-desaturated), var(--color-pink-l-darkened));
	--color-grey: hsl(var(--color-grey-h), var(--color-grey-s-desaturated), var(--color-grey-l-darkened));
	
	/* Light Theme Dark Colors */
	--color-dark-accent: hsl(var(--color-accent-lt-h), var(--color-accent-lt-s), var(--color-accent-l-darkened2x));
	--color-dark-red: hsl(var(--color-red-h), var(--color-red-s-desaturated), var(--color-red-l-darkened2x));
	--color-dark-orange: hsl(var(--color-orange-h), var(--color-orange-s-desaturated), var(--color-orange-l-darkened2x));
	--color-dark-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated), var(--color-yellow-l-darkened2x));
	--color-dark-green: hsl(var(--color-green-h), var(--color-green-s-desaturated), var(--color-green-l-darkened2x));
	--color-dark-mint: hsl(var(--color-mint-h), var(--color-mint-s-desaturated), var(--color-mint-l-darkened2x));
	--color-dark-aqua: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated), var(--color-aqua-l-darkened2x));
	--color-dark-blue: hsl(var(--color-blue-h), var(--color-blue-s-desaturated), var(--color-blue-l-darkened2x));
	--color-dark-purple: hsl(var(--color-purple-h), var(--color-purple-s-desaturated), var(--color-purple-l-darkened2x));
	--color-dark-pink: hsl(var(--color-pink-h), var(--color-pink-s-desaturated), var(--color-pink-l-darkened2x));
	--color-dark-grey: hsl(var(--color-grey-h), var(--color-grey-s-desaturated), var(--color-grey-l-darkened2x));
	
	/* Light Theme Text Colors */
	--color-text-accent: hsl(var(--color-accent-lt-h), var(--color-accent-lt-s), var(--color-accent-l-darkened-text));
	--color-text-red: hsl(var(--color-red-h), var(--color-red-s-desaturated-text), var(--color-red-l-darkened-text));
	--color-text-orange: hsl(var(--color-orange-h), var(--color-orange-s-desaturated-text), var(--color-orange-l-darkened-text));
	--color-text-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated-text), var(--color-yellow-l-darkened-text));
	--color-text-green: hsl(var(--color-green-h), var(--color-green-s-desaturated-text), var(--color-green-l-darkened-text));
	--color-text-mint: hsl(var(--color-mint-h), var(--color-mint-s-desaturated-text), var(--color-mint-l-darkened-text));
	--color-text-aqua: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated-text), var(--color-aqua-l-darkened-text));
	--color-text-blue: hsl(var(--color-blue-h), var(--color-blue-s-desaturated-text), var(--color-blue-l-darkened-text));
	--color-text-purple: hsl(var(--color-purple-h), var(--color-purple-s-desaturated-text), var(--color-purple-l-darkened-text));
	--color-text-pink: hsl(var(--color-pink-h), var(--color-pink-s-desaturated-text), var(--color-pink-l-darkened-text));
	--color-text-grey: hsl(var(--color-grey-h), var(--color-grey-s-desaturated-text), var(--color-grey-l-darkened-text));
	
	/* Light Theme Main Obsidian Colors */
	--text-normal: hsl(28, 32%, 18%); //***
	--text-muted: hsl(28, 32%, 35%);	//***
	--text-faint: hsl(28, 32%, 50%); //***
	--text-selection: var(--background-primary-alt);
	--text-error: var(--color-dark-red);
	
	--text-highlight-bg: var(--interactive-accent-dark);
	
	--highlight-text-normal: hsl(28, 32%, 18%);
	--highlight-text-dark: hsl(28, 32%, 18%);
	--highlight-text-accent-custom-lt: hsl(28, 32%, 85%);
	
	
	--background-primary: hsl(28, 32%, 95%); //*** 86
	--background-primary-alt: hsl(28, 32%, 93%); //*** 84
	--background-secondary: hsl(28, 32%, 90%); //*** 90.8
	--background-secondary-blur: hsla(28, 32%, 88%, 0.7); //*** 90.8
	--background-secondary-alt: hsl(28, 32%, 80%); //*** 92.5
	--background-modifier-border: hsl(28, 32%, 90%); //*** 90.8
	--background-modifier-error: var(--color-dark-red);
	
	--tab-label-background-color: hsl(28, 32%, 91.8%); //*** 91.8
	--page-background-color: var(--background-secondary);
	
	--background-color-lt: hsl(28, 32%, 83.8%); //***

	--file-explorer-vertical-lines-color: hsl(28, 32%, 84%); //***
	--style-settings-vertical-lines-color: hsl(28, 32%, 84%); //***
	--outline-vertical-lines-color: hsl(28, 32%, 84%); //***
	
	--drop-shadow: hsla(28, 32%, 7%, 0.1) 0px 1px 2px 0px; //***
	--drop-shadow-popup: hsla(28, 32%, 7%, 0.04) 0px 1px 2px, hsla(28, 32%, 7%, 0.04) 0px 2px 4px, hsla(28, 32%, 7%, 0.04) 0px 4px 8px, hsla(28, 32%, 7%, 0.04) 0px 8px 16px; //***

	--scroll-bar-thumb: hsl(28, 32%, 25%); //***

	--table-border-color: var(--style-settings-vertical-lines-color);

	/* Scrollbar Settings */
	--scroll-button-background-color: var(--background-secondary);
	--scroll-button-background-color-hover: var(--background-secondary-alt);

	&.pt-disable-blur {
		--background-secondary-blur: hsla(28, 32%, 88%, 1);
	}

	&.pt-highlight-text-light-lt {
		--highlight-text-normal: hsl(28, 32%, 95%);
	}

	&.pt-highlight-text-accent-lt {
		--highlight-text-normal: var(--interactive-accent-text);
	}

	&.pt-highlight-text-custom-lt {
		--highlight-text-normal: var(--highlight-text-accent-custom-lt);
	}
}

/* #endregion */

/* #region  [Variables] Dark Theme */
.theme-dark.pt-color-scheme-caffe-mocha-dt {

	--temp-s: 0%;
	--temp-l: 45%;

	
	--highlight-default: var(--color-yellow);
	
	--color-desaturate-dt: 48%;
	--color-darken-dt: 17%;
	--color-darken-text-dt: 20%;
	
	/* Dark Theme Color Adjustments */
	--color-red-s-desaturated: 62%;
	--color-orange-s-desaturated: 60%;
	--color-yellow-s-desaturated: 76%;
	--color-green-s-desaturated: 25%;
	--color-mint-s-desaturated: 30%;
	--color-aqua-s-desaturated: 35%;
	--color-blue-s-desaturated: 30%;
	--color-purple-s-desaturated: 30%;
	--color-pink-s-desaturated: 39%;
	--color-grey-s-desaturated: 5%;
	
	--color-accent-l-darkened: calc(var(--color-accent-dt-l) - var(--color-darken-dt));
	--color-red-l-darkened: 18%;
	--color-orange-l-darkened: 20%;
	--color-yellow-l-darkened: 16%;
	--color-green-l-darkened: 20%;
	--color-mint-l-darkened: 22%;
	--color-aqua-l-darkened: 17%;
	--color-blue-l-darkened: 21%;
	--color-purple-l-darkened: 19%;
	--color-pink-l-darkened: 19%;
	--color-grey-l-darkened: 20%;
	
	--color-accent-l-darkened2x: calc(var(--color-accent-dt-l) - var(--color-darken-dt) * 2);
	--color-red-l-darkened2x: 27%;
	--color-orange-l-darkened2x: 31%;
	--color-yellow-l-darkened2x: 27%;
	--color-green-l-darkened2x: 33%;
	--color-mint-l-darkened2x: 35%;
	--color-aqua-l-darkened2x: 30%;
	--color-blue-l-darkened2x: 38%;
	--color-purple-l-darkened2x: 32%;
	--color-pink-l-darkened2x: 30%;
	--color-grey-l-darkened2x: 34%;
	
	/* Dark Theme Color Adjustments */
	--color-red-s-desaturated-text: 47%;
	--color-orange-s-desaturated-text: 46%;
	--color-yellow-s-desaturated-text: 45%;
	--color-green-s-desaturated-text: 40%;
	--color-mint-s-desaturated-text: 40%;
	--color-aqua-s-desaturated-text: 40%;
	--color-blue-s-desaturated-text: 44%;
	--color-purple-s-desaturated-text: 40%;
	--color-pink-s-desaturated-text: 42%;
	--color-grey-s-desaturated-text: 5%;
	
	--color-accent-l-darkened-text: calc(var(--color-accent-dt-l) - var(--color-darken-text-dt));
	--color-red-l-darkened-text: 72%;
	--color-orange-l-darkened-text: 70%;
	--color-yellow-l-darkened-text: 64%;
	--color-green-l-darkened-text: 64%;
	--color-mint-l-darkened-text: 64%;
	--color-aqua-l-darkened-text: 54%;
	--color-blue-l-darkened-text: 78%;
	--color-purple-l-darkened-text: 74%;
	--color-pink-l-darkened-text: 74%;
	--color-grey-l-darkened-text: 72%;
	
	/* Dark Theme Base Colors */
	--color-accent: hsl(var(--color-accent-dt-h), var(--color-accent-dt-s), var(--color-accent-dt-l));
	--color-red: hsl(var(--color-red-h), var(--color-red-s-desaturated), var(--color-red-l-darkened));
	--color-orange: hsl(var(--color-orange-h), var(--color-orange-s-desaturated), var(--color-orange-l-darkened));
	--color-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated), var(--color-yellow-l-darkened));
	--color-green: hsl(var(--color-green-h), var(--color-green-s-desaturated), var(--color-green-l-darkened));
	--color-mint: hsl(var(--color-mint-h), var(--color-mint-s-desaturated), var(--color-mint-l-darkened));
	--color-aqua: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated), var(--color-aqua-l-darkened));
	--color-blue: hsl(var(--color-blue-h), var(--color-blue-s-desaturated), var(--color-blue-l-darkened));
	--color-purple: hsl(var(--color-purple-h), var(--color-purple-s-desaturated), var(--color-purple-l-darkened));
	--color-pink: hsl(var(--color-pink-h), var(--color-pink-s-desaturated), var(--color-pink-l-darkened));
	--color-grey: hsl(var(--color-grey-h), var(--color-grey-s-desaturated), var(--color-grey-l-darkened));
	
	/* Dark Theme Dark Colors */
	--color-dark-accent: hsl(var(--color-accent-dt-h), var(--color-accent-dt-s), var(--color-accent-l-darkened2x));
	--color-dark-red: hsl(var(--color-red-h), var(--color-red-s-desaturated), var(--color-red-l-darkened2x));
	--color-dark-orange: hsl(var(--color-orange-h), var(--color-orange-s-desaturated), var(--color-orange-l-darkened2x));
	--color-dark-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated), var(--color-yellow-l-darkened2x));
	--color-dark-green: hsl(var(--color-green-h), var(--color-green-s-desaturated), var(--color-green-l-darkened2x));
	--color-dark-mint: hsl(var(--color-mint-h), var(--color-mint-s-desaturated), var(--color-mint-l-darkened2x));
	--color-dark-aqua: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated), var(--color-aqua-l-darkened2x));
	--color-dark-blue: hsl(var(--color-blue-h), var(--color-blue-s-desaturated), var(--color-blue-l-darkened2x));
	--color-dark-purple: hsl(var(--color-purple-h), var(--color-purple-s-desaturated), var(--color-purple-l-darkened2x));
	--color-dark-pink: hsl(var(--color-pink-h), var(--color-pink-s-desaturated), var(--color-pink-l-darkened2x));
	--color-dark-grey: hsl(var(--color-grey-h), var(--color-grey-s-desaturated), var(--color-grey-l-darkened2x));
	
	/* Dark Theme Text Colors */
	--color-text-accent: hsl(var(--color-accent-dt-h), var(--color-accent-dt-s), var(--color-accent-l-darkened-text));
	--color-text-red: hsl(var(--color-red-h), var(--color-red-s-desaturated-text), var(--color-red-l-darkened-text));
	--color-text-orange: hsl(var(--color-orange-h), var(--color-orange-s-desaturated-text), var(--color-orange-l-darkened-text));
	--color-text-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated-text), var(--color-yellow-l-darkened-text));
	--color-text-green: hsl(var(--color-green-h), var(--color-green-s-desaturated-text), var(--color-green-l-darkened-text));
	--color-text-mint: hsl(var(--color-mint-h), var(--color-mint-s-desaturated-text), var(--color-mint-l-darkened-text));
	--color-text-aqua: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated-text), var(--color-aqua-l-darkened-text));
	--color-text-blue: hsl(var(--color-blue-h), var(--color-blue-s-desaturated-text), var(--color-blue-l-darkened-text));
	--color-text-purple: hsl(var(--color-purple-h), var(--color-purple-s-desaturated-text), var(--color-purple-l-darkened-text));
	--color-text-pink: hsl(var(--color-pink-h), var(--color-pink-s-desaturated-text), var(--color-pink-l-darkened-text));
	--color-text-grey: hsl(var(--color-grey-h), var(--color-grey-s-desaturated-text), var(--color-grey-l-darkened-text));
	
	/* Dark Theme Main Obsidian Colors */
	--text-normal: hsl(28, 32%, 82%); //***
	--text-muted: hsl(28, 32%, 66%);	//***
	--text-faint: hsl(28, 32%, 55%); //***
	--text-selection: var(--background-primary-alt);
	--text-error: var(--color-dark-red);
	
	--text-highlight-bg: var(--interactive-accent-dark);
	
	--highlight-text-normal: hsl(28, 32%, 8%);
	--highlight-text-dark: hsl(28, 32%, 8%);
	--highlight-text-accent-custom-dt: hsl(28, 32%, 82%);
	
	--background-primary: hsl(28, 32%, 14%); //***
	--background-primary-alt: hsl(28, 32%, 18%); //***
	--background-secondary: hsl(28, 32%, 9.2%); //***
	--background-secondary-blur: hsla(28, 32%, 7.2%, 0.7); //***
	--background-secondary-alt: hsl(28, 32%, 7.5%); //***
	--background-modifier-border: hsl(28, 32%, 9.2%); //***
	--background-modifier-error: var(--color-dark-red);
	
	--tab-label-background-color: hsl(28, 32%, 8.2%); //***
	--page-background-color: var(--background-secondary);
	
	--background-color-dt: hsl(28, 32%, 6.2%); //***
	--highlight-text-accent-custom-dt: hsl(28, 32%, 85%);

	--file-explorer-vertical-lines-color: hsl(28, 32%, 16%); //***
	--style-settings-vertical-lines-color: hsl(28, 32%, 16%); //***
	--outline-vertical-lines-color: hsl(28, 32%, 16%); //***
	
	--drop-shadow: hsla(28, 32%, 7%, 0.1) 0px 1px 2px 0px; //***
	--drop-shadow-popup: hsla(28, 32%, 7%, 0.1) 0px 1px 2px, hsla(28, 32%, 7%, 0.1) 0px 2px 4px, hsla(28, 32%, 7%, 0.1) 0px 4px 8px, hsla(28, 32%, 7%, 0.1) 0px 8px 16px; //***

	--scroll-bar-thumb: hsl(28, 32%, 25%); //***

	--table-border-color: var(--background-primary-alt);

	/* Scrollbar Settings */
	--scroll-button-background-color: var(--background-secondary);
	--scroll-button-background-color-hover: var(--background-secondary-alt);

	&.pt-disable-blur {
		--background-secondary-blur: hsla(28, 32%, 7.2%, 1);
	}

	&.pt-highlight-text-light-dt {
		--highlight-text-normal: hsl(28, 32%, 85%);
	}

	&.pt-highlight-text-accent-dt {
		--highlight-text-normal: var(--interactive-accent-text);
	}

	&.pt-highlight-text-custom-dt {
		--highlight-text-normal: var(--highlight-text-accent-custom-dt);
	}
}

/* #endregion */
