/* #region  [Variables] Root */
body {
	/* General Settings */
	--border-size: 2px;
	--blur-intensity: 8px;

	--file-explorer-vertical-lines-width: 2px;
	--style-settings-vertical-lines-width: 2px;

	/* Scrollbar Settings */
	--scroll-bar-border-radius: 0px;
	--scroll-button-border-radius: 0px;

	/* Style Settings Accessible Default Properties */

	/* Fonts */
	--default-font: "Source Sans 3", sans-serif;
	--font-family-ui: "Signika", sans-serif;
	--font-family-edit: "Source Sans 3", sans-serif;
	--font-family-preview: "Source Sans 3", sans-serif;
	--font-family-code: "Fira Code", monospace;
	--font-monospace: "Fira Code", monospace;

	/* Graph View - Light Theme */
	--graph-fill-opacity-lt: 1;
	--graph-fill-focused-opacity-lt: 1;
	--graph-tag-opacity-lt: 1;
	--graph-attachment-opacity-lt: 1;
	--graph-unresolved-opacity-lt: 1;
	--graph-highlight-opacity-lt: 1;
	--graph-highlight-line-opacity-lt: 0.4;

	/* Graph View - Dark Theme */
	--graph-fill-opacity-dt: 1;
	--graph-fill-focused-opacity-dt: 1;
	--graph-tag-opacity-dt: 1;
	--graph-attachment-opacity-dt: 1;
	--graph-unresolved-opacity-dt: 1;
	--graph-highlight-opacity-dt: 1;
	--graph-highlight-line-opacity-dt: 0.4;

	/* Window Adjustments */
	--window-gap: 10px;
	--border-radius: 8px;
	--border-radius-small: 4px;

	/* Background Options - Light Theme */
	--background-image-lt: url();
	--background-blur-lt: 0;
	--background-repeat-lt: no-repeat;
	--background-attachment-lt: fixed;
	--background-position-lt: center;
	--background-size-lt: cover;

	/* Background Options - Dark Theme */
	--background-image-dt: url();
	--background-blur-dt: 0;
	--background-repeat-dt: no-repeat;
	--background-attachment-dt: fixed;
	--background-position-dt: center;
	--background-size-dt: cover;

	/* Custom Vault Banner */
	--custom-vault-banner-icon-url: url(https://img.icons8.com/office/40/000000/book-shelf.png);

	/* Vertical Line Widths */
	--file-explorer-vertical-lines-width: 2px;
	--outline-vertical-lines-width: 2px;

	/* Scrollbar */
	--scroll-bar-border-radius: 0px;
	--scroll-bar-size: 8px; /* The width of the scrollbar */
	--scroll-bar-size-hover: 15px; /* The width of the scrollbar when hovering over the window content */

	/* Header Font Size */
	--h1-font-size: 2em;
	--h2-font-size: 1.8em;
	--h3-font-size: 1.6em;
	--h4-font-size: 1.4em;
	--h5-font-size: 1.2em;
	--h6-font-size: 1em;

	/* Header Text */
	--h1-text-opacity-lt: 100%;
	--h2-text-opacity-lt: 100%;
	--h3-text-opacity-lt: 100%;
	--h4-text-opacity-lt: 100%;
	--h5-text-opacity-lt: 100%;
	--h6-text-opacity-lt: 100%;

	--h1-text-opacity-dt: 100%;
	--h2-text-opacity-dt: 100%;
	--h3-text-opacity-dt: 100%;
	--h4-text-opacity-dt: 100%;
	--h5-text-opacity-dt: 100%;
	--h6-text-opacity-dt: 100%;

	/* Header Background */
	--h1-background-opacity-lt: 100%;
	--h2-background-opacity-lt: 100%;
	--h3-background-opacity-lt: 100%;
	--h4-background-opacity-lt: 100%;
	--h5-background-opacity-lt: 100%;
	--h6-background-opacity-lt: 100%;

	--h1-background-opacity-dt: 100%;
	--h2-background-opacity-dt: 100%;
	--h3-background-opacity-dt: 100%;
	--h4-background-opacity-dt: 100%;
	--h5-background-opacity-dt: 100%;
	--h6-background-opacity-dt: 100%;

	/* Header Border */
	--h1-border-opacity-lt: 100%;
	--h2-border-opacity-lt: 100%;
	--h3-border-opacity-lt: 100%;
	--h4-border-opacity-lt: 100%;
	--h5-border-opacity-lt: 100%;
	--h6-border-opacity-lt: 100%;

	--h1-border-opacity-dt: 100%;
	--h2-border-opacity-dt: 100%;
	--h3-border-opacity-dt: 100%;
	--h4-border-opacity-dt: 100%;
	--h5-border-opacity-dt: 100%;
	--h6-border-opacity-dt: 100%;

	--h1-border-width-lt: 2px;
	--h2-border-width-lt: 2px;
	--h3-border-width-lt: 2px;
	--h4-border-width-lt: 2px;
	--h5-border-width-lt: 2px;
	--h6-border-width-lt: 2px;

	--h1-border-width-dt: 2px;
	--h2-border-width-dt: 2px;
	--h3-border-width-dt: 2px;
	--h4-border-width-dt: 2px;
	--h5-border-width-dt: 2px;
	--h6-border-width-dt: 2px;

	/* Header Underline */
	--h1-underline-thickness-lt: 4px;
	--h2-underline-thickness-lt: 4px;
	--h3-underline-thickness-lt: 4px;
	--h4-underline-thickness-lt: 4px;
	--h5-underline-thickness-lt: 4px;
	--h6-underline-thickness-lt: 4px;

	--h1-underline-thickness-dt: 4px;
	--h2-underline-thickness-dt: 4px;
	--h3-underline-thickness-dt: 4px;
	--h4-underline-thickness-dt: 4px;
	--h5-underline-thickness-dt: 4px;
	--h6-underline-thickness-dt: 4px;

	--h1-underline-opacity-lt: 100%;
	--h2-underline-opacity-lt: 100%;
	--h3-underline-opacity-lt: 100%;
	--h4-underline-opacity-lt: 100%;
	--h5-underline-opacity-lt: 100%;
	--h6-underline-opacity-lt: 100%;

	--h1-underline-opacity-dt: 100%;
	--h2-underline-opacity-dt: 100%;
	--h3-underline-opacity-dt: 100%;
	--h4-underline-opacity-dt: 100%;
	--h5-underline-opacity-dt: 100%;
	--h6-underline-opacity-dt: 100%;

	--mark-highlight-base: var(--color-yellow-base);

	// Light Theme Style Settings Defaults
	/* Accent Colors */
	--color-accent-lt: #c7bdff;

	/* Solid Titlebar Custom Colors */
	--titlebar-background-color-lt: #ebecef;

	/* Solid Status Bar Custom Colors */
	--status-bar-background-color-lt: #ebecef;

	/* Background Options - Light Theme */
	--background-color-lt: #e6e6e6;

	/* Graph View - Light Theme */
	--color-custom-graph-note-lt: #c4c7ca;
	--color-custom-graph-note-focused-lt: #8670ff;
	--color-custom-graph-tag-lt: #619eff;
	--color-custom-graph-attachment-lt: #fddb6d;
	--color-custom-graph-unresolved-lt: #ff7070;
	--color-custom-graph-highlight-lt: #8670ff;
	--color-custom-graph-highlight-line-lt: #8670ff;

	--h1-text-color-custom-lt: hsl(0, 0%, 20%);
	--h2-text-color-custom-lt: hsl(0, 0%, 20%);
	--h3-text-color-custom-lt: hsl(0, 0%, 20%);
	--h4-text-color-custom-lt: hsl(0, 0%, 20%);
	--h5-text-color-custom-lt: hsl(0, 0%, 20%);
	--h6-text-color-custom-lt: hsl(0, 0%, 20%);

	--h1-background-color-custom-lt: hsl(0, 0%, 20%);
	--h2-background-color-custom-lt: hsl(0, 0%, 20%);
	--h3-background-color-custom-lt: hsl(0, 0%, 20%);
	--h4-background-color-custom-lt: hsl(0, 0%, 20%);
	--h5-background-color-custom-lt: hsl(0, 0%, 20%);
	--h6-background-color-custom-lt: hsl(0, 0%, 20%);

	--h1-border-color-custom-lt: hsl(0, 0%, 20%);
	--h2-border-color-custom-lt: hsl(0, 0%, 20%);
	--h3-border-color-custom-lt: hsl(0, 0%, 20%);
	--h4-border-color-custom-lt: hsl(0, 0%, 20%);
	--h5-border-color-custom-lt: hsl(0, 0%, 20%);
	--h6-border-color-custom-lt: hsl(0, 0%, 20%);

	// Dark Theme Style Settings Defaults
	/* Accent Colors */
	--color-accent-dt: #8c7fd7;

	/* Solid Titlebar Custom Colors */
	--titlebar-background-color-dt: #2b2b2b;

	/* Solid Status Bar Custom Colors */
	--status-bar-background-color-dt: #2b2b2b;

	/* Background Options - Dark Theme */
	--background-color-dt: #0d0d0d;

	/* Graph View - Dark Theme */
	--color-custom-graph-note-dt: #878787;
	--color-custom-graph-note-focused-dt: #4c3ab6;
	--color-custom-graph-tag-dt: #3663ab;
	--color-custom-graph-attachment-dt: #af943c;
	--color-custom-graph-unresolved-dt: #b63a3a;
	--color-custom-graph-highlight-dt: #4c3ab6;
	--color-custom-graph-highlight-line-dt: #4c3ab6;

	--h1-text-color-custom-dt: hsl(0, 0%, 85%);
	--h2-text-color-custom-dt: hsl(0, 0%, 85%);
	--h3-text-color-custom-dt: hsl(0, 0%, 85%);
	--h4-text-color-custom-dt: hsl(0, 0%, 85%);
	--h5-text-color-custom-dt: hsl(0, 0%, 85%);
	--h6-text-color-custom-dt: hsl(0, 0%, 85%);

	--h1-background-color-custom-dt: hsl(0, 0%, 85%);
	--h2-background-color-custom-dt: hsl(0, 0%, 85%);
	--h3-background-color-custom-dt: hsl(0, 0%, 85%);
	--h4-background-color-custom-dt: hsl(0, 0%, 85%);
	--h5-background-color-custom-dt: hsl(0, 0%, 85%);
	--h6-background-color-custom-dt: hsl(0, 0%, 85%);

	--h1-border-color-custom-dt: hsla(0, 0%, 20%, 1);
	--h2-border-color-custom-dt: hsla(0, 0%, 20%, 1);
	--h3-border-color-custom-dt: hsla(0, 0%, 20%, 1);
	--h4-border-color-custom-dt: hsla(0, 0%, 20%, 1);
	--h5-border-color-custom-dt: hsla(0, 0%, 20%, 1);
	--h6-border-color-custom-dt: hsla(0, 0%, 20%, 1);
}

.theme-light,
.theme-dark {
	/* Base Colors */
	--color-red-base: hsl(var(--color-red-h), var(--color-red-s-desaturated), var(--color-red-l-darkened));
	--color-orange-base: hsl(var(--color-orange-h), var(--color-orange-s-desaturated), var(--color-orange-l-darkened));
	--color-yellow-base: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated), var(--color-yellow-l-darkened));
	--color-green-base: hsl(var(--color-green-h), var(--color-green-s-desaturated), var(--color-green-l-darkened));
	--color-mint-base: hsl(var(--color-mint-h), var(--color-mint-s-desaturated), var(--color-mint-l-darkened));
	--color-aqua-base: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated), var(--color-aqua-l-darkened));
	--color-blue-base: hsl(var(--color-blue-h), var(--color-blue-s-desaturated), var(--color-blue-l-darkened));
	--color-purple-base: hsl(var(--color-purple-h), var(--color-purple-s-desaturated), var(--color-purple-l-darkened));
	--color-pink-base: hsl(var(--color-pink-h), var(--color-pink-s-desaturated), var(--color-pink-l-darkened));
	--color-grey-base: hsl(var(--color-grey-h), var(--color-grey-s-desaturated), var(--color-grey-l-darkened));

	/* Border Colors */
	--color-red-dark: hsl(var(--color-red-h), var(--color-red-s-desaturated), var(--color-red-l-darkened2x));
	--color-orange-dark: hsl(var(--color-orange-h), var(--color-orange-s-desaturated), var(--color-orange-l-darkened2x));
	--color-yellow-dark: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated), var(--color-yellow-l-darkened2x));
	--color-green-dark: hsl(var(--color-green-h), var(--color-green-s-desaturated), var(--color-green-l-darkened2x));
	--color-mint-dark: hsl(var(--color-mint-h), var(--color-mint-s-desaturated), var(--color-mint-l-darkened2x));
	--color-aqua-dark: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated), var(--color-aqua-l-darkened2x));
	--color-blue-dark: hsl(var(--color-blue-h), var(--color-blue-s-desaturated), var(--color-blue-l-darkened2x));
	--color-purple-dark: hsl(var(--color-purple-h), var(--color-purple-s-desaturated), var(--color-purple-l-darkened2x));
	--color-pink-dark: hsl(var(--color-pink-h), var(--color-pink-s-desaturated), var(--color-pink-l-darkened2x));
	--color-grey-dark: hsl(var(--color-grey-h), var(--color-grey-s-desaturated), var(--color-grey-l-darkened2x));

	/* Text Colors */
	--color-red-text: hsl(var(--color-red-h), var(--color-red-s-desaturated-text), var(--color-red-l-darkened-text));
	--color-orange-text: hsl(var(--color-orange-h), var(--color-orange-s-desaturated-text), var(--color-orange-l-darkened-text));
	--color-yellow-text: hsl(var(--color-yellow-h), var(--color-yellow-s-desaturated-text), var(--color-yellow-l-darkened-text));
	--color-green-text: hsl(var(--color-green-h), var(--color-green-s-desaturated-text), var(--color-green-l-darkened-text));
	--color-mint-text: hsl(var(--color-mint-h), var(--color-mint-s-desaturated-text), var(--color-mint-l-darkened-text));
	--color-aqua-text: hsl(var(--color-aqua-h), var(--color-aqua-s-desaturated-text), var(--color-aqua-l-darkened-text));
	--color-blue-text: hsl(var(--color-blue-h), var(--color-blue-s-desaturated-text), var(--color-blue-l-darkened-text));
	--color-purple-text: hsl(var(--color-purple-h), var(--color-purple-s-desaturated-text), var(--color-purple-l-darkened-text));
	--color-pink-text: hsl(var(--color-pink-h), var(--color-pink-s-desaturated-text), var(--color-pink-l-darkened-text));
	--color-grey-text: hsl(var(--color-grey-h), var(--color-grey-s-desaturated-text), var(--color-grey-l-darkened-text));
}

.theme-light {
	--color-accent-base: hsl(var(--color-accent-lt-h), var(--color-accent-lt-s), var(--color-accent-lt-l));
	--color-accent-dark: hsl(var(--color-accent-lt-h), var(--color-accent-lt-s), var(--color-accent-l-darkened2x));
	--color-accent-text: hsl(var(--color-accent-lt-h), var(--color-accent-lt-s), var(--color-accent-l-darkened-text));
	--color-accent-base-lt: hsl(var(--color-accent-h-lt), var(--color-accent-s-lt), var(--color-accent-l-base-lt));
	--color-accent-dark-lt: hsl(var(--color-accent-h-lt), var(--color-accent-s-lt), var(--color-accent-l-dark-lt));
	--color-accent-text-lt: hsl(var(--color-accent-h-lt), var(--color-accent-s-lt), var(--color-accent-l-text-lt));

	/* Got this from @pseudometa. Thanks again! */
	--hue-background-lt:
	linear-gradient(
		to right,
		hsl(0 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(30 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(60 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(90 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(120 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(150 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(180 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(210 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(240 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(270 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(300 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(330 var(--color-accent-s-lt) var(--color-accent-l-base-lt)),
		hsl(360 var(--color-accent-s-lt) var(--color-accent-l-base-lt))
	);

	--saturation-background-lt:
	linear-gradient(
		to right,
		hsl(var(--color-accent-h-lt), 0%, var(--color-accent-l-base-lt)),
		hsl(var(--color-accent-h-lt), 50%, var(--color-accent-l-base-lt)),
		hsl(var(--color-accent-h-lt), 100%, var(--color-accent-l-base-lt))
	); 

	--lightness-background-lt:
	linear-gradient(
		to right,
		hsl(var(--color-accent-h-lt), var(--color-accent-s-lt), 0%),
		hsl(var(--color-accent-h-lt), var(--color-accent-s-lt), 50%),
		hsl(var(--color-accent-h-lt), var(--color-accent-s-lt), 100%)
	); 	

	--color-accent-base-dt: hsl(var(--color-accent-h-dt), var(--color-accent-s-dt), var(--color-accent-l-base-dt));
	--color-accent-dark-dt: hsl(var(--color-accent-h-dt), var(--color-accent-s-dt), var(--color-accent-l-dark-dt));
	--color-accent-text-dt: hsl(var(--color-accent-h-dt), var(--color-accent-s-dt), var(--color-accent-l-text-dt));

	/* Got this from @pseudometa. Thanks again! */
	--hue-background-dt:
	linear-gradient(
		to right,
		hsl(0 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(30 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(60 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(90 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(120 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(150 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(180 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(210 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(240 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(270 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(300 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(330 var(--color-accent-s-dt) var(--color-accent-l-base-dt)),
		hsl(360 var(--color-accent-s-dt) var(--color-accent-l-base-dt))
	);

	--saturation-background-dt:
	linear-gradient(
		to right,
		hsl(var(--color-accent-h-dt), 0%, var(--color-accent-l-base-dt)),
		hsl(var(--color-accent-h-dt), 50%, var(--color-accent-l-base-dt)),
		hsl(var(--color-accent-h-dt), 100%, var(--color-accent-l-base-dt))
	); 

	--lightness-background-dt:
	linear-gradient(
		to right,
		hsl(var(--color-accent-h-dt), var(--color-accent-s-dt), 0%),
		hsl(var(--color-accent-h-dt), var(--color-accent-s-dt), 50%),
		hsl(var(--color-accent-h-dt), var(--color-accent-s-dt), 100%)
	); 	
}

.theme-dark {
	--color-accent-base: hsl(var(--color-accent-dt-h), var(--color-accent-dt-s), var(--color-accent-dt-l));
	--color-accent-dark: hsl(var(--color-accent-dt-h), var(--color-accent-dt-s), var(--color-accent-l-darkened2x));
	--color-accent-text: hsl(var(--color-accent-dt-h), var(--color-accent-dt-s), var(--color-accent-l-darkened-text));
}

/* #endregion */
