/* @settings
name: Prism Mark Highlight System 2.1.1
id: obsidian-prism-mark-highlight-system
settings:
    -
        id: mark-highlight-styles
        title: Mark Highlight
        description: Adjusts the style used by the <mark> tag highlight system. Colors available = red, orange, yellow, green, mint, cyan, blue, purple, pink and grey. e.g. <mark class="red">Your Red text</mark>
        type: heading
        level: 1
        collapsed: false
    -
        id: mark-highlight-light-theme
        title: Light Theme
        type: heading
        level: 2
        collapsed: true
    -
        id: light-mark-highlight-style
        title: Mark Highlight Style
        type: class-select
        allowEmpty: false
        default: pt-highlight-style-borderandfilled-lt
        options:
            -
                label: Default
                value: pt-highlight-style-default-lt
            -
                label: Border
                value: pt-highlight-style-border-lt
            -
                label: Filled
                value: pt-highlight-style-filled-lt
            -
                label: Border & Filled
                value: pt-highlight-style-borderandfilled-lt
    -
        id: light-mark-highlight-text-color-preset
        title: Mark Highlight Text Color Preset
        type: class-select
        allowEmpty: false
        default: pt-highlight-text-color-lt
        options:
            -
                label: Default
                value: pt-highlight-text-default-lt
            -
                label: Color
                value: pt-highlight-text-color-lt
    -
        id: mark-highlight-dark-theme
        title: Dark Theme
        type: heading
        level: 2
        collapsed: true
    -
        id: dark-mark-highlight-style
        title: Mark Highlight Style
        type: class-select
        allowEmpty: false
        default: pt-highlight-style-borderandfilled-dt
        options:
            -
                label: Default
                value: pt-highlight-style-default-dt
            -
                label: Border
                value: pt-highlight-style-border-dt
            -
                label: Filled
                value: pt-highlight-style-filled-dt
            -
                label: Border & Filled
                value: pt-highlight-style-borderandfilled-dt
    -
        id: dark-mark-highlight-text-color-preset
        title: Mark Highlight Text Color Preset
        type: class-select
        allowEmpty: false
        default: pt-highlight-text-color-dt
        options:
            -
                label: Default
                value: pt-highlight-text-default-dt
            -
                label: Color
                value: pt-highlight-text-color-dt
*/
