/*  ==========================================================================
    Temp Notes
    ========================================================================== */

    /* DEBUG - Used to change the size of the icons in the Icon Index file */
    /* div.icon-test svg {
        height: 32px;
        width: 32px;
    } */
    
    /* MIGHT CAUSE ISSUES - Used to center the table for the Book Library */
    /* .el-table {
        display: flex;
        justify-content: center;
    } */
        

    /* How to style the headings in the Settings Styles */    
    /* .setting-item.setting-item-heading.style-settings-heading[data-id="obsidian-prism-theme"] {
        background:red;
    } */

    /*  WIP Window Gaps only on the Inner sides of workspace windows 
    ========================================================================== */  

    /* Additional spacing between the workspace tabs */
    /* .workspace-split.mod-horizontal.mod-left-split .workspace-tabs:first-of-type {
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
    } */

    /* Additional spacing between the workspace tabs */
    /* .workspace-split.mod-horizontal.mod-left-split .workspace-tabs:not(:first-of-type,:last-of-type) {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
    } */

    /* Additional spacing between the workspace tabs */
    /* .workspace-split.mod-horizontal.mod-left-split .workspace-tabs:last-of-type {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
    } */


    /* Additional spacing between the workspace tabs */
    /* .workspace-split.mod-horizontal.mod-right-split .workspace-tabs:first-of-type {
        padding-left: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
    } */

    /* Additional spacing between the workspace tabs */
    /* .workspace-split.mod-horizontal.mod-right-split .workspace-tabs:not(:first-of-type,:last-of-type) {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
    } */
    
    /* Additional spacing between the workspace tabs */
    /* .workspace-split.mod-horizontal.mod-right-split .workspace-tabs:last-of-type {
        padding-top: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    } */



    /* WIP padding only facing inward none around the workspace */
    /* .workspace-split.mod-vertical:first-of-type .workspace-leaf:first-of-type {
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
    }
    
    .workspace-split.mod-vertical:first-of-type .workspace-leaf:not(:first-of-type):not(:last-of-type) {
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    }
    
    .workspace-split.mod-vertical:first-of-type .workspace-leaf:last-of-type {
        padding-bottom: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    }
    

    
    .workspace-split.mod-horizontal:not(:first-of-type):not(:last-of-type) .workspace-leaf:first-of-type {
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    }
    .workspace-split.mod-horizontal:not(:first-of-type):not(:last-of-type) .workspace-leaf:not(:first-of-type):not(:last-of-type) {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    }
    .workspace-split.mod-horizontal:not(:first-of-type):not(:last-of-type) .workspace-leaf:last-of-type {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
        padding-bottom: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    }



    .workspace-split.mod-vertical:last-of-type .workspace-leaf:first-of-type {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
    }
    
    .workspace-split.mod-vertical:last-of-type .workspace-leaf:not(:first-of-type):not(:last-of-type) {
        padding-top: calc(var(--window-gap) / 2);
        padding-right: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    }
    
    .workspace-split.mod-vertical:last-of-type .workspace-leaf:last-of-type {
        padding-top: calc(var(--window-gap) / 2);
        padding-left: calc(var(--window-gap) / 2);
    } */