/*  ==========================================================================
    Status bar
    ========================================================================== */  

    .status-bar {
        border-top: 0px;
        padding: 2px 0px;
        margin-bottom: 4px;
        line-height: 18px;
        border-radius: var(--border-radius-small);
        width: fit-content;
        background-color: var(--tab-label-background-color);
        box-shadow: var(--drop-shadow);
        overflow: hidden;
    }

    .theme-light.pt-solid-titlebar-lt.pt-status-bar-position-top .status-bar,
    .theme-dark.pt-solid-titlebar-dt.pt-status-bar-position-top .status-bar {
        background: unset;
        box-shadow: unset;
    }

    .pt-status-bar-position-top.pt-status-bar-align-center .titlebar-text {
        display: none;
    }

    .pt-status-bar-position-top.pt-status-bar-align-left.pt-default-titlebar .status-bar {
        position: absolute;
        order: 0;
        margin-top: -20px;
        margin-bottom: 0px;
        font-size: 13px;
        line-height: 13px;
        height: 18px;
        right: 0;
    }

    .mod-windows.pt-status-bar-position-top.pt-status-bar-align-left.pt-default-titlebar .status-bar {
        left: 134px;
    }

    .pt-titlebar-hide-nav-buttons.mod-windows.pt-status-bar-position-top.pt-status-bar-align-left.pt-default-titlebar .status-bar {
        left: 48px
    }

    .mod-mac.pt-status-bar-position-top.pt-status-bar-align-left.pt-default-titlebar .status-bar {
        left: 154px;
    }

    .pt-titlebar-hide-nav-buttons.mod-mac.pt-status-bar-position-top.pt-status-bar-align-left.pt-default-titlebar .status-bar {
        left: 68px;
    }

    .pt-status-bar-position-top.pt-status-bar-align-center.pt-default-titlebar .status-bar {
        position: absolute;
        order: 0;
        margin-top: -20px;
        margin-bottom: 0px;
        font-size: 13px;
        line-height: 13px;
        height: 18px;
        left: 0;
        right: 0;
    }

    .pt-status-bar-position-top.pt-status-bar-align-right.pt-default-titlebar .status-bar {
        position: absolute;
        order: 0;
        margin-top: -20px;
        margin-bottom: 0px;
        font-size: 13px;
        line-height: 13px;
        height: 18px;
        right: 100px;
        left: 0;
    }

    .pt-status-bar-position-top.pt-default-titlebar .status-bar svg {
        height: 14px;
        width: 14px;
    }

    .pt-status-bar-position-top.pt-status-bar-align-left.pt-windows-titlebar .status-bar {
        position: absolute;
        margin-top: -26px;
        order: 0;
        margin-bottom: 0px;
        right: 0;
    }

    .pt-status-bar-position-top.pt-status-bar-align-left.pt-windows-titlebar .status-bar {
        left: 132px;
    }

    .pt-titlebar-hide-nav-buttons.pt-status-bar-position-top.pt-status-bar-align-left.pt-windows-titlebar .status-bar {
        left: 48px;
    }

    .pt-status-bar-position-top.pt-status-bar-align-center.pt-windows-titlebar .status-bar {
        position: absolute;
        margin-top: -26px;
        order: 0;
        left: 0;
        right: 0;
        margin-bottom: 0px;
    }
    
    .pt-status-bar-position-top.pt-status-bar-align-right.pt-windows-titlebar .status-bar {
        position: absolute;
        margin-top: -26px;
        order: 0;
        margin-bottom: 0px;
        right: 148px;
     }

    .pt-status-bar-position-top .horizontal-main-container {
        padding: 0px 5px 5px 5px;
    }

    .pt-status-bar-position-top .status-bar-item-segment {
        height: 14px;
        width: 14px;
        line-height: unset;
        font-size: unset;
    }

    .pt-status-bar-position-top .status-bar-item-icon  {
        color: var(--interactive-accent-dark);
        height: 14px;
        width: 14px;
        line-height: unset;
        font-size: unset;
    }

    .pt-status-bar-position-bottom .horizontal-main-container {
        padding: 0px 5px;
    }

    .pt-status-bar-align-left .status-bar {
        margin-right: auto;
        margin-left: 5px;
    }

    .pt-status-bar-align-center .status-bar {
        margin-left: auto;
        margin-right: auto;
    }

    .pt-status-bar-align-right .status-bar {
        margin-left: auto;
        margin-right: 5px;
    }

    .pt-status-bar-rtl .status-bar {
        flex-direction: row-reverse;
    }

    .pt-status-bar-ltr .status-bar {
        flex-direction: row;
    }

    .status-bar-item {
        padding: 0px 10px;
    }

    .theme-light .sync-status-icon.mod-working {
        color: var(--interactive-accent-dark);
    }

    .theme-dark .sync-status-icon.mod-working {
        color: var(--interactive-accent);
    }

    /*  Solid Statusbar
        ========================================================================== */ 
    
        :not(.pt-status-bar-position-top).theme-light.pt-solid-status-bar-lt div.status-bar,
        :not(.pt-status-bar-position-top).theme-dark.pt-solid-status-bar-dt div.status-bar {
            box-shadow: unset;
            width: 100%;
            margin-bottom: unset;
            border-radius: unset;
        }  
        
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-default-lt div.status-bar,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-default-dt div.status-bar {
            background: var(--tab-label-background-color);
        }

        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-custom-lt div.status-bar {
            background: var(--status-bar-background-color-lt);
        }
        
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-custom-dt div.status-bar {
            background: var(--status-bar-background-color-dt);
        }

        /*  Solid Statusbar
            ========================================================================== */ 

            :not(.pt-status-bar-position-top).theme-light.pt-status-bar-text-light-lt .status-bar {
                color: var(--background-primary);
            }

            :not(.pt-status-bar-position-top).theme-light.pt-status-bar-text-dark-lt .status-bar {
                color: var(--text-normal);
            }

            :not(.pt-status-bar-position-top).theme-light.pt-status-bar-text-accent-lt .status-bar {
                color: var(--interactive-accent-text);
            }

            :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-text-light-dt .status-bar {
                color: var(--text-normal);
            }

            :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-text-dark-dt .status-bar {
                color: var(--background-primary);
            }
            
            :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-text-accent-dt .status-bar {
                color: var(--interactive-accent-text);
            }

            :not(.pt-status-bar-position-top).pt-solid-status-bar-lt div.status-bar-item.plugin-word-count .status-bar-item-segment:first-child,
            :not(.pt-status-bar-position-top).pt-solid-status-bar-dt div.status-bar-item.plugin-word-count .status-bar-item-segment:first-child {
                margin-right: 10px !important;
            }


        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-ltr.pt-solid-status-bar-lt.pt-status-bar-align-left div.status-bar :first-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-ltr.pt-solid-status-bar-dt.pt-status-bar-align-left div.status-bar :first-child {
            margin-left: 0px;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-ltr.pt-solid-status-bar-lt.pt-status-bar-align-left div.status-bar :last-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-ltr.pt-solid-status-bar-dt.pt-status-bar-align-left div.status-bar :last-child {
            margin-right: auto;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-ltr.pt-solid-status-bar-lt.pt-status-bar-align-center div.status-bar :first-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-ltr.pt-solid-status-bar-dt.pt-status-bar-align-center div.status-bar :first-child {
            margin-left: auto;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-ltr.pt-solid-status-bar-lt.pt-status-bar-align-center div.status-bar :last-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-ltr.pt-solid-status-bar-dt.pt-status-bar-align-center div.status-bar :last-child {
            margin-right: auto;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-ltr.pt-solid-status-bar-lt.pt-status-bar-align-right div.status-bar :first-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-ltr.pt-solid-status-bar-dt.pt-status-bar-align-right div.status-bar :first-child {
            margin-left: auto;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-ltr.pt-solid-status-bar-lt.pt-status-bar-align-right div.status-bar :last-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-ltr.pt-solid-status-bar-dt.pt-status-bar-align-right div.status-bar :last-child {
            margin-right: 0px;
        }

        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-rtl.pt-solid-status-bar-lt.pt-status-bar-align-left div.status-bar :first-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-rtl.pt-solid-status-bar-dt.pt-status-bar-align-left div.status-bar :first-child {
            margin-right: auto;
        }
        
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-rtl.pt-solid-status-bar-lt.pt-status-bar-align-left div.status-bar :last-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-rtl.pt-solid-status-bar-dt.pt-status-bar-align-left div.status-bar :last-child {
            margin-left: 0px;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-rtl.pt-solid-status-bar-lt.pt-status-bar-align-center div.status-bar :first-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-rtl.pt-solid-status-bar-dt.pt-status-bar-align-center div.status-bar :first-child {
            margin-right: auto;
        }
        
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-rtl.pt-solid-status-bar-lt.pt-status-bar-align-center div.status-bar :last-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-rtl.pt-solid-status-bar-dt.pt-status-bar-align-center div.status-bar :last-child {
            margin-left: auto;
        }
    
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-rtl.pt-solid-status-bar-lt.pt-status-bar-align-right div.status-bar :first-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-rtl.pt-solid-status-bar-dt.pt-status-bar-align-right div.status-bar :first-child {
            margin-right: 0px;
        }
        
        :not(.pt-status-bar-position-top).theme-light.pt-status-bar-rtl.pt-solid-status-bar-lt.pt-status-bar-align-right div.status-bar :last-child,
        :not(.pt-status-bar-position-top).theme-dark.pt-status-bar-rtl.pt-solid-status-bar-dt.pt-status-bar-align-right div.status-bar :last-child {
            margin-left: auto;
        }